<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta property="fb:app_id" content="<%= @publisher.facebook_app_id -%>"/>
		<meta property="og:type" content="product"/>
		<% if @daily_deal -%>
			<meta property="og:url" content="<%= @daily_deal.url_for_bit_ly -%>?utm_source=<%= @publisher.label %>-share_this_deal&utm_medium=facebook&utm_campaign=share-this-deal"/>
			<meta name="og:title" content="<%= @daily_deal.facebook_title %>" />
			<link rel="og:image" href="<%= url_for_facebook_daily_deal_image @daily_deal %>" />
			<meta name="title" content="<%= @daily_deal.facebook_title %>" />
			<meta name="description" content="<%= "#{@daily_deal.advertiser.name} Daily Deal! #{@daily_deal.value_proposition}" %>" />
			<meta name='keywords' content="<%= "#{@daily_deal.advertiser.name}, #{@daily_deal.value_proposition}" %>">
			<link rel="image_src" href="<%= url_for_facebook_daily_deal_image @daily_deal %>" />
		<% else -%>
			<meta name="description" content="<%= "Daily Deal! Get the best daily deals with a new deal every single day!" %>" />
			<meta name="keywords" content="Daily Deal! Hotel Deals, best deals, travel deals, vacation deals, restaurant deals" />
		<% end -%>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" /><!-- Tells the iPhone not to shrink the page to fit into its tiny window -->
		<meta name="apple-mobile-web-app-capable" content="yes"/>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/themes/dramaticchipmunk/stylesheets/dramaticchipmunk.css" type="text/css" />		
		
		<!--[if lte IE 9]>
			<link href="/themes/dramaticchipmunk/stylesheets/ie.css" media="all" rel="stylesheet" type="text/css" />
		<![endif]-->

		<!--[if IE 9]>
			<link href="/themes/dramaticchipmunk/stylesheets/ie9.css" media="all" rel="stylesheet" type="text/css" />
		<![endif]-->

		<!-- End Stylesheets -->

		<!-- Javascripts -->


		<script type="text/javascript" src="/javascripts/prototype.js"></script>
		<script src="/javascripts/jquery/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="/javascripts/effects.js"></script>
		<script type="text/javascript" src="/javascripts/dragdrop.js"></script>
		<script type="text/javascript" src="/javascripts/controls.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
		<script src="/themes/dramaticchipmunk/javascript/cookies.js" type="text/javascript"></script>
		<script src="/javascripts/modernizr-2.0.6.min.js" type="text/javascripts"></script>
		<script src="/javascripts/lib/formvalue-clickblur.js" type="text/javascript"></script>
	
		<!-- scripts that allow IE to understand pseudo-classes and new HTML5 tags -->
		<!--[if (gte IE 6) & (lte IE 8)]>
			<script type="text/javascript" src="/javascripts/selectivizr-min.js"></script>
			<script src="/themes/dramaticchipmunk/javascript/modernizr-2.0.6.min.js" type="text/javascript"></script>
		<![endif]-->

		<!-- End Javascripts -->
		<%= render :partial => with_theme("daily_deals/custom_stylesheet_includes") %>
		<%= raw render :partial => "/shared/tracking_google_analytics" %>
		
		
		<link rel="shortcut icon" href="/themes/<%= @publisher.label %>/images/graphics/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/themes/<%= @publisher.label %>/images/graphics/favicon.ico" type="image/x-icon" />
		
		<title><%= daily_deal_page_title %></title>
	</head>
	<body>
		<%= render :partial => with_theme('/admin_toolbar/admin_toolbar') %>
		<div id="analog_analytics" class="wrapper">
			<!-- Analog Analytics Daily Deal -->
			<div id="daily_deal">
				<%= render :partial => with_theme('shared/header') %>
				<div id="dd_content">
					<%= render :partial => 'shared/flash_messages' %>
					<%= yield %>
					<div class="clear"></div>
				</div> <!-- dd_content -->
			</div> <!-- daily_deal -->
			<div class="push"></div>

		</div> <!-- analog_analytics -->
		<%= render :partial => with_theme('shared/footer') %>
		
		<%= render :partial => with_theme('shared/tracking_publisher') %>
		<%= raw render :partial => 'daily_deals/javascript' %>
				
	</body>
</html>
