<% set_daily_deal_page_title_slug t(:title_slug_contact) %>

<% if params[:layout] == "popup" -%>
 	<a href="#" class="lbAction" rel="deactivate"><span>Close</span></a>
 <% else -%>
	 <!-- breadcrumbs -->
	<div class="breadcrumbs">
	  <ul>
	    <li>
	      <a href="<%= public_deal_of_day_path(@publisher.label) %>">Home</a>
	    </li>
	    <li class="no_underline">></li>
	    <li class="no_underline">          
	      Contact Us
	    </li>
	  </ul>
	  </div><!-- /breadcrumbs -->
	<div class="clear"></div>
<% end -%>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content"><%= t(:contact_us) %></h1>
	<div id="contact_content">
		
		<div id="left_column">
			
			<p>
				Thanks for contacting us at Blue365. A member of our team will contact you
				shortly. We're glad you're into healthy deals as much as we are, and we'll do
				our best to make your Blue365 experience a great one.
				</p>
				 
				<p>
				Here's to your health,<br /><br />
				
				<img src="/themes/bcbsa/images/graphics/blue_team_signature.png" alt="The Blue365 Team">
			</p>		
		</div>
		<div class="right_column_2">
			<div class="content">
				<div class="top">
					<h5>Other Ways to Contact Blue365</h5>
					<p>Got an idea? Be sure to let us know.</p>
				</div>
			
				<div class="middle">
					
						<a href="<%= new_publisher_sales_contact_request_path(@publisher) %>">
							<img class="contact_icon" src="/themes/bcbsa/images/graphics/feature_your_business_icon_white.png" />
						</a>
						<a href="<%= new_publisher_sales_contact_request_path(@publisher) %>">
							<h6>Feature your Business</h6>
						</a>
						<a href="<%= new_publisher_sales_contact_request_path(@publisher) %>">
							<p>Share your health and wellness deals, and build your business at the same time.</p>
						</a>
					
					<a href="#">
					<span>
						<img class="contact_icon" src="/themes/bcbsa/images/graphics/wishlist_icon_white.png" />
						<h6 id="recommend"><a id="wish_list">Is there a deal you wish was on Blue365?</a></h6>
						<p>Help us find the offers that are best for you and your lifestyle.</p>
					</span>
					</a>
					
				</div>
				<div class="bottom_img"></div>			
			</div>
		</div>
		<!-- wishlist script -->
		<script type="text/javascript">
		    function wishListLightbox() {
		      <% if consumer? %>
		        jQuery.fancybox(
		          "<%= escape_javascript(render :partial => with_theme("suggested_daily_deals/lightbox")) %>",
		          {
		            'autoDimensions'  : false,
		            'width'           : 980,
		            'height'        	: 736,
		            'transitionIn'		: 'none',
		            'transitionOut'		: 'none',
		            'showCloseButton' : false,
		            'centerOnScroll'  : true
		          }
		        );
		      <% else %>
		        window.location = '<%= suggested_daily_deals_login_path %>';
		      <% end %>
		    }
		
		    jQuery(document).ready(function() {
		      jQuery('#wish_list').click(wishListLightbox);
		
		      <% if params[:suggested_daily_deals_lightbox] %>
		        wishListLightbox();
		      <% end %>
		    });
  		</script>
  		<!-- /wishlist script -->
  	</div>
  </div>
</div>





