  <%= render :partial => "syndication/shared/filter" %>
<div id="browse_tabs">
<%= render( :partial => 'syndication/shared/publisher_select' )%>
 <%= render :partial => "syndication/shared/view_select" %>
  <%= render :partial => "syndication/shared/sort" %>
  <div id="grid_content" class="browse_content">
    <%= render :partial => "syndication/shared/results" %>
  	<% @search_response.deals.in_groups_of(3).each_with_index do |group, index| %>
  		<div class="<%= index == 0 ? "grid_row first" : "grid_row" %>">
  			<%= render :partial => "grid_offer", :collection => group %>
  		</div>
  	<% end -%>	
  	<%= will_paginate( @search_response.deals, :id => "deal_pagination", :params => {:status => @search_request.status, :publisher_id => @publisher.id}) %>
  </div><!-- /grid_content -->
</div><!-- /browse_tabs -->




