<div style="display:block;margin-bottom:15px;">
  <% form_tag publisher_discounts_path(@publisher), :method => :get do -%>
    <label>Discount Code:</label> 
    <input type="text" name="search[code]" id="search_code" />
    
    <input type="submit" name="submit" value="Find Discount" />
  <% end -%>
</div>

<div class="images_controls">
  <div class="will_paginate">
  <%= will_paginate @discounts %>&nbsp;
  </div>
  <div class="page_size">
    Page Size: 
    <% [ 10, 100, 1000, 2000 ].each do |page_size| -%>
    <%= link_to page_size, publisher_discounts_path(:page => params[:page], :per_page => page_size, :page => nil) %>
    <% end -%>
  </div>
</div>

<table cellspacing="0" id="discount_codes" class="images clear">
  <tr>
    <th class="name">Code</th>
    <th class="name">Amount</th>
    <th class="name">Start</th>
    <th class="name">End</th>
    <th class="name">Single Use</th>
    <th class="name" width="100">Used On (for single use)</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @discounts.each do |discount| %>
    <tr>
      <td><%= discount.code %></td>
      <td><%= number_to_currency(discount.amount, :unit => @publisher.currency_symbol) %></td>
      <td><%= discount.first_usable_at.to_s(:short) if discount.first_usable_at %></td>
      <td><%= discount.last_usable_at.to_s(:short) if discount.last_usable_at %></td>
      <td><%= discount.usable_only_once? ? 'Yes' : 'No' %></td>
      <td><%= discount.used_at.to_s(:short) if discount.used_at %></td>
      <td><%= link_to "Edit", edit_publisher_discount_path(discount.publisher, discount) %></td>
      <td><%= link_to("Delete", publisher_discount_path(discount.publisher, discount), :method => :delete, :confirm => "Are you sure you want to delete this Discount Code?") %></td>
    </tr>
  <% end %>
</table>

<div class="images_controls">
<%= will_paginate @discounts %>
</div>

