<ul id="dd_nav">
	<li><a href="<%= public_deal_of_day_path(@publisher.label) %>" <%= "#{controller_name}##{action_name}" == "publishers#deal_of_the_day" ? "class='current_page'" : nil %>>Today's Deal</a></li>
  	<li><a href="<%= past_deals_of_day_path(@publisher.label) %>" <%= "#{controller_name}##{action_name}" == "daily_deals#past" ? "class='current_page'" : nil %>>Past Deals</a></li>
	<li><a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>" <%= "#{controller_name}##{action_name}" == "daily_deals#how_it_works" ? "class='current_page'" : nil %>>How it Works</a></li>
	<li><a href="<%= faqs_publisher_daily_deals_path(@publisher) %>" <%= "#{controller_name}##{action_name}" == "daily_deals#faqs" ? "class='current_page'" : nil %>>FAQ</a></li>
	<li><a href="<%= contact_publisher_daily_deals_path(@publisher) %>" <%= "#{controller_name}##{action_name}" == "daily_deals#contact" ? "class='current_page'" : nil %>>Contact Us</a></li>
  <li><a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>" <%= "#{controller_name}##{action_name}" == "daily_deals#feature_your_business" ? "class='current_page'" : nil %>>Feature Your Business</a></li>
  <li class="last"><a href="<%= presignup_publisher_daily_deal_subscribers_url :publisher_id => @publisher.id, :host => @publisher.daily_deal_host %>">Get Email Alerts</a></li>
</ul><!-- /dd_nav -->
