<p style="margin: 0; padding: 8px;">
  <a href="http://www.sportsradio1250.com/" target="_blank" style="color: #ffffff;"><img height="50" border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/1250.png" alt="WSSP 1250"></a> &nbsp;
  <a href="http://www.1037kissfm.com/" target="_blank" style="color: #ffffff;"><img height="50" border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/kiss.png" alt="103.7 KISS FM"></a> &nbsp;
  <a href="http://www.99wmyx.com/" target="_blank" style="color: #ffffff;"><img height="50" border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/myx.png" alt="99.1 The Mix"></a>   
</p>