<p style="margin: 0; padding: 8px;">
<a href="http://www.rochesterbuzz.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/buzz.png" alt="98.9 The Buzz"></a>
  <a href="http://www.sportsradio950espn.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50"src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/espn.png" alt="950AM ESPN"></a>
  <a href="http://www.98pxy.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/pxy.png" alt="98 PXY"></a> 
  <a href="http://www.wbee.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/wbee.png" alt="WBEE 92.5"></a>
  <a href="http://www.wcmf.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/wcmf.png" alt="96.5 WCMF"></a>           
</p>