<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{{ daily_deal.value_proposition }}</title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;">
<table cellspacing="0" border="0" bgcolor="#2d8faa" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
	<tr style="margin: 0; padding: 0; border: 0;">
		<td align="center" style="margin: 0; padding: 0; border: 0;">
    		<table id="content_container" cellspacing="0" border="0 " style="padding: 0; border: 0; margin: 0;" bgcolor="#2d8faa" width="600" cellpadding="0">
				<tr>
					<td colspan="3"><img src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/graphics/email_banner.png" height="187" width="600" alt="Daily Deal | Please enable images" /></td>
				</tr>
				<tr>
					<td>
						<table align="center" width="600" cellpadding="0" cellspacing="0" border="0" style="width:600px;"><!-- daily deal content -->
				    			<tr>                   
				    				<td bgcolor="#ffffff" width="580" style="width:580px;">
				    					<table align="center" cellpadding="0" cellspacing="0" border="0">
				    						<tr>
				    							<td colspan="2" style="color:#2d8faa;font-family: Helvetica, sans-serif; font-size:14px; font-weight:bold; padding-top: 20px; text-align:center;">{{ "now" | date: "%A, %B %e, %Y" }}</td>
				    						</tr>
											<tr>
												<td colspan="2" style="padding-left:20px;padding-top: 20px;" valign="top"><h1 style="color: #7c0001;font-family: Helvetica, sans-serif;font-size:30px; line-height:34px;margin:0;padding-bottom:16px;">{{ daily_deal.value_proposition }}</h1></td>
											</tr>
				    						<tr>
												<td style="vertical-align:top; padding-left:10px;">
													<table cellpadding="0" cellspacing="0" border="0" width="240" style="border-spacing:0;"><!-- dashboard -->
														<tr>
															<td><img src="http://{{ publisher.daily_deal_host }}/themes/hearst/images/graphics/price_tag_email_left.png" height="72" width="19" alt="buy_now" /></td>
															<td style="background-color: #9c0001; color:#ffffff; display:block; font-family: Helvetica, sans-serif;font-size:40px; font-weight:bold; height:57px; line-height:42px; margin:0; padding-top:15px; text-align:center; text-decoration:none; vertical-align:middle;width:90px;">{{ daily_deal.price | currency }}</a></td>
															<td><a href="{{ daily_deal.url_for_email }}&cmpid=emailbuy"><img src="http://{{ publisher.daily_deal_host }}/themes/hearst/images/graphics/price_tag_email_right.png" border="0" style="border:none;" height="72" width="132" alt="buy_now" /></a></td>
														</tr>
			
														<tr>
															<td colspan="3" style="text-align:center;padding-top:20px;">
																<table align="center" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
																	<tr>
																		<th style="color:black; border-right:1px solid #ababab;font-family: Helvetica, sans-serif;font-size:13px; font-weight:bold; padding-right:10px;">VALUE</th>
																		<th style="border-right:1px solid #ababab; color:black;font-family: Helvetica, sans-serif;font-size:13px; font-weight:bold; padding-right:10px; padding-left:10px;">COST</th>
																		<th style="color:#7c0001;font-family: Helvetica, sans-serif;font-size:13px; font-weight:bold;padding-left:10px;">SAVINGS</th>
																	</tr>
																	<tr>
																		<td style="color:black; border-right:1px solid #ababab;font-family: Helvetica, sans-serif;font-size:22px; font-weight:bold; padding-right:10px;">{{ daily_deal.value | currency }}</td>
																		<td style="border-right:1px solid #ababab; color:black;font-family: Helvetica, sans-serif;font-size:22px; font-weight:bold;padding-right:10px; padding-left:10px;">{{ daily_deal.price | currency }}</td>
																		<td style="color:#7c0001;font-family: Helvetica, sans-serif;font-size:22px; font-weight:bold;padding-left:10px;">{{ daily_deal.savings_as_percentage | percentage }}</td>
																	</tr>
																</table>
															</td>
														</tr>
														<tr>
															<td colspan="3" style="padding:10px;">
							    								<table align="center" cellpadding="0" cellspacing="0" border="0">
							    									<tr>
							    										<td colspan="3"><p style="color:#7c0001;font-family: Helvetica, sans-serif;font-size:14px; font-weight:bold;padding-right:20px;text-align:center;">SHARE THIS DEAL:</p></td>
							    									</tr>
							    									<tr>
							    										<td><a href="{{ daily_deal.facebook_url }}" style="color: #ffffff;padding-right:20px; padding-left:20px;"><img src="http://{{ publisher.daily_deal_host }}/themes/hearst/images/buttons/facebook.png" height="50" alt="Facebook" style="border: none;" width="50" /></a></td>
							    										<td><a href="{{ daily_deal.twitter_url }}" style="color: #ffffff;padding-right:20px;"><img src="http://{{ publisher.daily_deal_host }}/themes/hearst/images/buttons/twitter.png" height="50" alt="Twitter" style="border: none;" width="50" /></a></td>
							    										<td><a href="mailto:?subject={{ daily_deal.publisher_prefix | uri_escape }}:%20{{ daily_deal.value_proposition | uri_escape }}&amp;body=Check%20out%20this%20deal%20at%20{{ daily_deal.url }}" style="color: #ffffff;"><img src="http://{{ publisher.daily_deal_host }}/themes/hearst/images/buttons/mail.png" height="50" alt="Email" style="border: none;;" width="50" /></a></td>
							    									</tr>
							    								</table>
															</td>
														</tr>
													</table><!-- /dashboard -->
												</td>
												<td style="padding-left:20px; padding-right:8px;padding-bottom:20px;width:295px;vertical-align:top;"><img src="{{ daily_deal.photo.url }}" alt="{{ advertiser.name }}" width="295" /></td>								
											</tr>
				    					</table>
				    				</td>
				    			</tr>
								
				    			<tr>                   
				    				<td bgcolor="#ffffff" width="580" style="width:580px;">
				    					<table align="center" width="580" cellpadding="0" cellspacing="0" border="0">
				    						<tr>
				    							<td>
				    								<table cellpadding="0" cellspacing="0" border="0"><!-- deal info -->
				    									<tr>
															<td valign="top" style="padding-left:20px; padding-right:20px; padding-bottom:20px;text-align:left;width:60%">
																<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; padding: 0;margin-bottom: 12px; color: #7c0001;">DESCRIPTION</h3>
																<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;">{{ daily_deal.description }}</span>
															</td>
															<td valign="top" style="font-family: Helvetica, sans-serif;font-weight: bold;width:280px;padding-left:20px;padding-right:10px;text-align:left;">
																<img src="{{ advertiser.logo.standard_url }}" height="55" alt="{{ advertiser.name }}" style="display: block;" width="110" />
																<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3em; padding: 0; margin-top: 10px; margin-bottom: 6px; color: #000000;">{{ advertiser.name }}</p>
																{% if advertiser.website_url != empty %}
																<p style="padding: 0; margin-top: 0; margin-bottom: 6px;"><a style="color:#2d8faa; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" href="{{ advertiser.website_url }}">Visit Website</a></p>
																{% endif %}
																
																{% for store in advertiser.stores %}
																  <p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3em; padding: 0; margin-top: 0;margin-bottom: 6px; color: #000000; {% if forloop.index > 3 %}display:none{% endif %}">                  
																    {% if store.address_line_1 != empty %}
																      <span style="display:block;">{{ store.address_line_1 }}</span>
																    {% endif %}
																     {% if store.address_line_2 != empty %}
																       <span style="display:block;">{{ store.address_line_2 }}</span>
																    {% endif %}
																    {% if store.city != empty and store.state != empty and store.zip != empty %}
																       <span style="display:block;">{{ store.city }}, {{ store.state }} {{ store.zip }}</span>
																    {% endif %}
																    {% if store.formatted_phone_number != empty %}
																       <span style="display:block;">{{ store.formatted_phone_number }}</span>
																    {% endif %}<br />
																  </p><!-- /location_container -->
																{% endfor %}
																
																{% if advertiser.num_stores == 1 %}
																{{ store.formatted_phone_number }}
																{% endif %}
																    
																{% if advertiser.num_stores > 3 %}
																<p style="padding: 0; margin-top: 0; margin-bottom: 6px;"><a style="color:#2d8faa; font-family: Arial, Helvetica, sans-serif; font-size: 12px;" href="{{ daily_deal.url_for_email }}">See all locations</a></p>
																{% endif %}

																<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #7c0001;">HIGHLIGHTS</h3>
																<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;">{{ daily_deal.highlights }}</span>
															</td>
														</tr>
				    								</table><!-- /deal info -->
				    							</td>
				    						</tr>
				    					
				    					</table>
				    				</td>
				    			</tr>
								<tr>
								</tr>
							</table><!-- /daily deal content -->
					</td>
				</tr>
    		</table><!-- /content_container -->
			<table width="640" align="center" style="text-align:center;">
				<tr>
					<td style="background-color: white:text-align:center;">
						<p style="font-family: Arial, Helvetica, sans-serif;font-size:16px; color:white;font-size:12px;">Copyright {{ "now" | date: "%Y" }}. All rights reserved.</p>
			      <p><a style="border: none; text-align: center" href="http://analoganalytics.com"><img style="border:none;" src="http://{{ publisher.daily_deal_host }}/images/powered_by_analog_analytics.png" alt="Powered by Analog Analytics" /></a></p>
					</td>
				</tr>	
			</table>
		</td>
	</tr>
</table><!-- /body-->
</body>
</html>