<div class="page_column_4 last rounded_corners">
  <h2 id="what_happens_after_i_buy"><%=t '.sidebar_item_1_question' %></h2>
  <p><%=t '.sidebar_item_1_answer.paragraph1', :daily_deal_name => @publisher.daily_deal_name %></p>
  <p><%=t '.sidebar_item_1_answer.paragraph2', :daily_deal_name => @publisher.daily_deal_name %></p>
  <br/>
  <h2 id="will_my_payment_be_safe"><%=t '.sidebar_item_2_question' %></h2>
  <p><%=t '.sidebar_item_2_answer' %></p>
</div>
