<tr>
  <% if refunded_voucher.daily_deal.present? %>
  <td class="description">
    <%= refunded_voucher.line_item_name %>
  </td>
  <td class="serial_number">#<%= refunded_voucher.serial_number %></td>
  <td class="refunded_on"><%= voucher_refunded_on(refunded_voucher) %></td>
  <td class="status">
	<%= t(:refunded) %>
  </td>
  <% else %>
  <td colspan="4"><%= t('.error_message') %></td>
  <% end %>
</tr>
