<div id="dd_footer">
	<div id="a_a">
		<a href="http://analoganalytics.com/"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" border="0" alt="Powered by Analog Analytics" /></a>
	</div>
	<div id="company" class="column">
		<h3>Company</h3>
		<ul>
			<li><a href="<%= about_us_publisher_daily_deals_path(@publisher) %>">About Us</a></li>
			<li><a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>">How it works</a></li>
			<li><a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a></li>
			<li><%= daily_deals_privacy_link(@publisher) %></li>
			<li><%= daily_deals_terms_link(@publisher) %></li>
		</ul>
	</div>
	<div id="follow" class="column">
		<h3>Follow</h3>
		<ul>
			<li><a href="<%= @publisher.facebook_page_url %>" width="26" alt="Facebook" /></a></li>
			<li><a href="https://www.facebook.com/pages/Mox-Deals-USA/191534970940062"><img src="/themes/moxtelecom/images/graphics/facebook.png" width="26" alt="Facebook" /></a></li>
			<li><a href="http://twitter.com/moxdealsusa"><img src="/themes/moxtelecom/images/graphics/twitter.png" width="26" alt="Twitter" /></a></li>
		</ul>
	</div>
	<div class="clear"></div>
		<p>Copyright &copy; 2011 by Mox Telecom America Inc.. All Rights Reserved. Mox Telecom America Inc.</p>
</div>