<div id="offers_wrapper">
    <div id="left_column">
      <%= render :partial => with_theme("offers/categories"), :object => @publisher_categories %>
      <%= render :partial => with_theme('offers/search') %>
    </div>

    <div id="center_column">
        <div class="page_numbers top">
          <%= render :partial => with_theme('offers/pagination') %>
        </div>

        <div class="column_gradient">
            <div id="offers">

              <%= render :partial => with_theme("offers/offer"), :collection => @offers %>
              <% if @offers.empty? -%>
                <p class="notice">Sorry, no results found for <strong><%= html_escape(params[:text]) %></strong>.</p>
              <%- end -%>
              <div class="clear"></div>

                <div class="page_numbers bottom">
                  <%= render :partial => with_theme('offers/pagination') %>
                </div>
              
            </div><!-- /offers  -->
        </div><!-- /column_wrapper -->

        <div class="clear"></div>
    </div><!-- /center_column -->
	<div class="clear"></div>
    <div id="terms_and_conditions">
        Use of any offer is subject to the <a href="/txt411/terms_and_conditions" target="_blank">Terms &amp; Conditions</a> which constitutes a legal agreement between you and Analog Analytics, Inc. View our <a href="/txt411/privacy_policy" target="_blank">Privacy Policy</a>.<br>
        All materials, coupons, and offers are intended for the U.S. market only and each coupon/offer has its own restrictions.
    </div><!-- /terms_and_conditions -->

    <div class="clear"></div>
</div><!-- /offers_wrapper -->
