<div>
	<div id="fb-root" /></div>
    <div id="reporting">
        <div id="udc">
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/trackingcookies.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/fireandforget.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/uuid.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/silverlight.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/validate.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/track.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/generictracking.js"></script>
            <script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/omnitracking.js"></script>
            
            <script type="text/javascript">$.track({trackInfoOpts:{sitePage:{pageName:'MSN Deals',omniPageName:'MSN Deals:Deals:',channel:'Deals',lang:'el-gr',domainId:'16780',propertyId:'33237',propertySpecific:'10114',sourceUrl:'https://partner.gr.msn.com/msn_deals_wide.aspx',pageId:'158748454'},userStatic:{signedIn:"",birthdate:"",gender:"",requestId:"",beginRequestTicks:"634582174648592916"}}}).register(new $.track.genericTracking({base:"https://b.scorecardresearch.com/b?",isComScore:true,impr:{param:{c1:'2',c2:'3000001'},paramMap:{client:{c7:'pageUrl',c8:'pageTitle',c9:'referrer'},userDynamic:{rn:'timeStamp'}}}}),new $.track.genericTracking({base:"https://udc.msn.com/c.gif?",linkTrack:'1',samplingRate:99,isUDC:true,commonMap:{client:{fk:'flightKey',gp:'groupAssignment',optkey:'optKey',clid:'clientId'},event:{evt:'type'},userStatic:{rid:'requestId'},userDynamic:{cts:'timeStamp',evn:'eventNumber'}},impr:{param:{evt:'impr',js:'1'},paramMap:{client:{rf:'referrer',cu:'pageUrl',sl:'silverlightEnabled',slv:'silverlightVersion',bh:'height',bw:'width',cu:'pageUrl',scr:'screenResolution',sd:'colorDepth','dv.DateTime':'dateTime','dv.PgTitle':'pageTitle'},sitePage:{di:'domainId',pi:'propertyId',ps:'propertySpecific',br:'channel',mk:'lang', pn:'pageName',pid:'pageId',su:'sourceUrl'},userStatic:{pp:'signedIn',bd:'birthdate',gnd:'gender'},userDynamic:{'dv.SnLogin':'settings',hp:'isHomePage'}}},click:{paramMap:{report:{ce:'contentElement',cm:'contentModule',hl:'headline',du:'destinationUrl'}}},unload:{/**/}}),new $.track.omniTracking({base:"https://msnportal.112.2O7.net/b/ss/msnportalgrdeals/1/H.7-pdv-2/{0}?[AQB]&amp;{1}&amp;[AQE]",linkTrack:'1',samplingRate:9,isOmni:true,common:{ns:'msnportalgrdeals',ce:'UTF-8',cc:'USD'},commonMap:{client:{v1:'cpDocId',bh:'height',bw:'width',g:'pageUrl',c:'colorDepth',s:'screenResolution',k:'cookieSupport',ct:'connectionType'},sitePage:{pageName:'pageName'},userDynamic:{hp:'isHomePage'}},page:{server:'deals.gr.msn.com',c1:'Deals',ch:'Deals',c37:'',c49:'',c50:'https://partner.gr.msn.com/msn_deals_wide.aspx'},pageMap:{client:{c29:'pageUrl',c42:'silverlightVersion',r:'referrer'},sitePage:{c2:'lang'},userStatic:{c22:'signedIn',c25:'birthdate',c26:'gender'},userDynamic:{c23:'anid'}},linkMap:{report:{c12:'destinationUrl',c13:'contentModule',c15:'contentElement',c16:'headline',c18:'campaignId',oi:'sourceIndex',oid:'destinationUrl',ot:'nodeName',pev1:'headline',pev2:'destinationUrl',v11:'headline',v12:'destinationUrl'},sitePage:{pid:'pageName',c17:'omniPageName'}}}),new $.track.genericTracking({base:"https://c.gr.msn.com/c.gif?",linkTrack:0,impr:{param:{udc:'true'},paramMap:{client:{rf:'referrer'},sitePage:{di:'domainId',pi:'propertyId',ps:'propertySpecific',tp:'sourceUrl'},userStatic:{rid:'requestId'},userDynamic:{rnd:'timeStamp'}}}}));/**/jQuery.track.trackPage();//
            </script>
            
            <noscript>
                <div>
                    <img src="https://udc.msn.com/c.gif?js=0&amp;evt=impr&amp;di=16780&amp;pi=33237&amp;ps=10114&amp;su=https://partner.gr.msn.com/msn_deals_wide.aspx&amp;pageId=158748454&amp;mk=el-gr&amp;pn=&amp;pp=&amp;rid=db309a4f7de44491b146327647a4c1a3" alt="image beacon" rel="nofollow" />
                </div>
                <div>
                    <img src="https://b.scorecardresearch.com/b?&amp;c1=3000001&amp;c2=2&amp;c7=https://partner.gr.msn.com/msn_deals_wide.aspx&amp;rn=634582174654077301" alt="image beacon" rel="nofollow" />
                </div>
                <div>
                    <img src="https://msnportalgrdeals.112.2O7.net/b/ss/msnportalgrdeals/1/H.1--NS/0" alt="image beacon" rel="nofollow" />
                </div>
                <div>
                    <img src="https://c.gr.msn.com/c.gif?&amp;di=16780&amp;pi=33237&amp;ps=10114&amp;tp=https://partner.gr.msn.com/msn_deals_wide.aspx&amp;udc='true'&amp;rid=db309a4f7de44491b146327647a4c1a3&amp;rnd=634582174654077301&amp;rf=" alt="image beacon" rel="nofollow" />
                </div>
            </noscript>
        </div>
    </div>

	<div id="wrapper" class="page6 region9">
    	<div id="head" class="pgtheme">
        	<div class="w12">
            	<div id="banner" class="parent chrome1 single1">
                	<div class="child c1 first"><div class="advertisement"><!-- <script type="text/javascript">dap("&amp;PG=GRGSHA&amp;AP=1390",728,90);</script> --></div>
                </div>
            </div>
            <div class="parent chrome6 single1">
            	<div class="child c1 first">
                	<div class="msnhead1 cf">
  						<div class="channelheader cf">
    						<div class="topheader">
      							<ul class="network">
                                    <li class="start">
                                      <a href="#" class="higmore">Περισσότερα</a>
                                      	<div id="more" class="col4 cf">
                                        	<ul class="linkedimglinklist1 cf">
                                            	<li class="first"><a href="http://hotmail.msn.com/"><img src="/themes/<%= @publisher.label %>/publisher/images/528E19AA57C59BD28F9241C1469F1.gif" width="25" height="20" alt="Hotmail" /><span><strong>Hotmail</strong></span></a></li>
                                                <li><a href="http://messenger.live.com/"><img src="/themes/<%= @publisher.label %>/publisher/images/73EA3A497EB807310219A1C4D1E9E.gif" width="25" height="20" alt="Messenger" /><span><strong>Messenger</strong></span></a></li>
                                                <li class="last"><a href="http://spaces.live.com/"><img src="/themes/<%= @publisher.label %>/publisher/images/D65099A852BA87E737BFBD4526779.jpg" width="25" height="20" alt="Spaces" /><span><strong>Spaces</strong></span></a></li></ul><ul class="linklist1"><li class="first"><a href="http://news.gr.msn.com/">Ειδήσεις</a></li><li><a href="http://capital.gr.msn.com/">Οικονομία</a></li><li><a href="http://capital.gr.msn.com/Market.aspx">Χρηματιστήριο</a></li>
                                                <li><a href="http://entertainment.gr.msn.com/">Ψυχαγωγία</a></li>
                                                <li class="last"><a href="http://enet.gr.msn.com/">Έξοδος</a></li>
                                             </ul>
                                             <ul class="linklist1">
                                                 <li class="first"><a href="http://entertainment.gr.msn.com/mtvgreece/">Μουσική</a></li>
                                                 <li><a href="http://entertainment.gr.msn.com/cinema/">Σινεμά</a></li>
                                                 <li><a href="http://entertainment.gr.msn.com/games/">Παιχνίδια</a></li>
                                                 <li><a href="http://entertainment.gr.msn.com/celebrity/">Celebrity</a></li>
                                                 <li class="last"><a href="http://entertainment.gr.msn.com/celebrity/galleries.aspx">Photo Galleries</a></li>
                                             </ul>
                                             <ul class="linklist1">
                                             	<li class="first"><a href="http://women.gr.msn.com/">Γυναίκα</a></li>
                                                <li><a href="http://oroskopos.gr.msn.com/">Αστρολογία</a></li>
                                                <li><a href="http://women.gr.msn.com/fitness/default.aspx">Fitness</a></li>
                                                <li><a href="http://sport.gr.msn.com/football/">Ποδόσφαιρο</a></li>
                                                <li class="last"><a href="http://sport.gr.msn.com/basketball/default.aspx">Μπάσκετ</a></li>
                                             </ul>
                                             <ul class="linklist1">
                                             	<li class="first"><a href="http://gazzetta.gr.msn.com/sports_newspapers">Αθλητικά Πρωτοσέλιδα</a></li>
                                                <li><a href="http://video.gr.msn.com/">Videos</a></li><li class="last"><a href="http://lifestyle.gr.msn.com/travel/">Ταξίδι</a></li>
                                             </ul>
											 <script type="text/javascript">Msn.Header.bind("#head",{more:"περισσότερα"});</script>
                                         </div>
                                    </li>
                                    <li class="navlink1">
                                      <a href="http://gr.msn.com">MSN Αρχική</a>
                                    </li>
                                    <li class="hotmail navlink2">
                                      <a class="inbox" href="http://mail.live.com">Hotmail</a>
                                    </li>
                                    <li class="navlink3">
                                      <a href="http://messenger.live.com">Messenger</a>
                                    </li>
                                </ul>
                              <div class="pgopts">
                                <div class="myhp">
                                  <a href="http://gr.msn.com/">Κάντε το MSN αρχική σας σελίδα</a>
                                </div>
                                <ul class="js">
                                  <li class="opts">
                                    <a href="#">Επιλογές</a>
                                    <ul id="pgoptslinks">
                                      <li class="first">
                                        <a href="http://ie9.discoverbing.com/intl/el-GR/index.html" id="">Κατεβάστε τον MSN IE9</a>
                                      </li>
                                      <li>
                                        <a href="http://onlinehelp.microsoft.com/en-us/msn/ff808788.aspx" id="">Μεγαλύτερη Γραμματοσειρά</a>
                                      </li>
                                      <li>
                                        <a href="http://www.facebook.com/#!/MSN.Greece" id="">Το MSN στο Facebook</a>
                                      </li>
                                      <li class="last">
                                        <a href="http://twitter.com/#!/msnGreece" id="">Το MSN στο Tweeter</a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="bottomheader">
                              <div id="logo" class="gtl_11">
                                <a href="http://gr.msn.com">
                                  <img src="/themes/<%= @publisher.label %>/publisher/images/msnlogo_118x51_r.png" alt="Messenger, Spaces και άλλα πολλά στο ελληνικό MSN" width="118" height="51" />
                                </a>
                              </div>
                              <div class="channel">
                                <a class="name" href="#">MSN Deals</a>
                              </div>
                              <div class="websearch">
                                <h2>Bing αναζήτηση:</h2>
                                <form id="search" action="http://search.live.com/results.aspx" method="get" onsubmit="return Msn.Report.TrackForm(this)">
                                  <div id="ntwscopes"></div>
                                  <div class="search cf">
                                    <span class="bo">
                                      <span class="bi">
                                        <label class="hide" accesskey="s" for="q">Bing αναζήτηση:</label>
                                        <input type="text" id="q" name="q" class="text" title="Αναζήτηση για" accesskey="s" />
                                        <input id="frmcdid" type="hidden" name="FORM" value="MSNH" />
                                        <input id="mktid" type="hidden" name="mkt" value="el-gr" />
                                        <span class="searchsubmit">
                                          <input type="image" id="spyglass" src="/themes/<%= @publisher.label %>/publisher/images/Search_GR.gif" alt="Αναζήτηση" />
                                        </span>
                                      </span>
                                    </span>
                                  </div>
                                </form>
                              </div>
      <script type="text/javascript">Msn.SiteSearch.bind("#search",{searchParam:"q",searchParams:"",searchUrl:"http://search.live.com/results.aspx",sitetext:"Search Site",webtext:"Web",siteSearchOn:"true",helpertext:"Αναζήτηση στο Web",onepxgif:"/themes/<%= @publisher.label %>/publisher/images/t.gif",sitehelpertext:"Αναζήτηση για",webFormValue:"MSNH",webMarketValue:"el-gr",siteUrlQueryParamName:"",siteUrlQueryParamValue:"",formCodeQueryParamValue:"MSNH",marketQueryParamValue:"el-gr",formInputId:"#frmcdid",mktInputId:"#mktid",siteUrlInputId:"#siteurlid",siteUrlInputId:"#siteurlid",formSearchId:"#search"});</script>
      <script type="text/javascript">/*<![CDATA[*/jQuery.async("$.header",function(){$.header('http://gr.msn.com/','http://gr.msn.com/');});//]]></script>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

<div id="page">
	<div id="nav">
    	<div class="wingsoff"></div>
          <div class="w12">
            <div class="parent chrome6 single1">
              <div class="child c1 first">
                <div class="nav3 cf">
                  <ul class="navtier1">
                    <li class="first"><a href="http://gr.msn.com/">MSN ΑΡΧΙΚΗ</a></li>
                    <li><a href="http://msn.kariera.gr/GR/Custom/MSN/">ΚΑΡΙΕΡΑ</a></li>
                    <li><a href="http://spiti24.gr.msn.com/">ΒΡΕΙΤΕ ΣΠΙΤΙ</a></li>
                    <li><a href="http://entertainment.gr.msn.com/">ΨΥΧΑΓΩΓΙΑ</a></li>
                    <li><a href="http://women.gr.msn.com/">ΓΥΝΑΙΚΑ</a></li>
                    <li class="last"><a href="http://lifestyle.gr.msn.com/travel/">ΤΑΞΙΔΙ</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="content" class="w12">
       <!-- <div id="subhead" class="ca"><h1>Οι καλύτερες προσφορές στο MSN</h1></div>-->
        <div id="mediapage4">