  <div class="front_panel" id="offer_<%= offer.id %>_front_panel">
    <div class="body" id="offer_<%= offer.id %>_body">
      <div class="top">
        <div class="header"><%= offer.value_proposition %></div>
        <div class="middle">
          <div class="left">
            <div class="image_left">
              <%= raw(
                if offer.advertiser.logo.file?
                  if link_to_website?(offer)
                    link_to_website(offer, image_tag(offer.advertiser.logo.url(:standard)))
                  else
                    image_tag(offer.advertiser.logo.url(:standard))
                  end
                else
                  "&nbsp;".html_safe
                end
              ) %>
            </div>
            <div class="address">
              <span class="advertiser_name"><%= advertiser_name( offer ) -%></span>
              <p>
                <% offer.address do |line| -%>
                  <%= line -%><br/>
                <% end -%>
                <% unless offer.formatted_phone_number.blank? -%>
                <span class="phone_number"><%= offer.formatted_phone_number %></span>
                <% end -%>
                <% if offer.publisher.show_gift_certificate_button? && offer.advertiser.gift_certificates? -%>
                <div class="website_link">
                  <%= link_to_website(offer, "Visit Website") %>            
                </div>
                <% end -%>
              </p>
            </div>
          </div>
          <div class="right">
            <h3><%= offer.value_proposition %></h3>
            <div class="terms">
              <span class="<%= terms_size(offer) %>"><%= offer.terms_with_expiration -%></span>
            </div>
            <div class='coupon_code'>
              <% if offer.coupon_code? -%>
              <span>Coupon Code:</span> <%= offer.coupon_code %>
              <% end %>
            </div>
            <% if offer.publisher.show_gift_certificate_button? && offer.advertiser.gift_certificates? && "iframe" != @layout -%>
            <div class="gift_certificate centered">
              <%= link_to(
                    image_tag("/themes/standard/images/deal_certificate.png"), 
                    gift_certificate_path(offer.advertiser.gift_certificates.first), 
                    :class => "lbOn", :title => "Click to purchase deal certificate for #{offer.advertiser_name}"
                  ) %>
            </div>            
            <% end -%>
          </div>
        </div>
      </div>
    </div>
    <%= render :partial => 'offers/panels/studentinsider/footer', :locals => {:offer => offer, :publisher => publisher, :icon_base_url => '/themes/standard/images/coupons'} %>
  </div>
