<h3 class="name"><%= @offer.advertiser_name.upcase %></h3>

<% if @lead.errors.present? %>
<div class="errorExplanation" id="errorExplanation">
  <%= @lead.errors.full_messages.join(". ") %>.
</div>
<% end -%>

<% if @lead.opted_out %>
<div id="how-to-opt-in">
  To opt in, text START to 898411 from your mobile phone.
</div>
<% end %>

<% remote_form_for @lead, :url => offer_leads_path(@offer), :update => "offer_#{@offer.id}_txt_panel" do |f| -%>
  <br/>
  <%= f.label :mobile_number, "Mobile Number" %><br/>
  <%= f.text_field :mobile_number, :id => "offer_#{@offer.id}_lead_mobile_number" %>
  <%= f.hidden_field :publisher_id, :value => @lead.publisher_id %>
  <%= hidden_field_tag :advertiser_id, @advertiser.id %>
  <%= f.hidden_field :txt_me %>
  <div class="buttons">
    <%= link_to_function("Cancel", "cancelClipping(#{@advertiser.id}, 'txt')") %>
    <%= f.submit "Send", :id => "offer_#{@offer.id}_txt_save" %>
  </div>
<% end -%>
