<!-- START Custom Tag for deal landing -->
<script src="http://i.simpli.fi/dpx.js?cid=17&action=100&segment=Kowabunga+Site+Retargeting&m=1"></script>

<!-- START Custom Tag for all -->
{% https %}
<script type="text/javascript" src="https://tracking.inuvo.com/dl_js"></script>
{% endhttps %}
{% http %}
<script type="text/javascript" src="http://tracking.inuvo.com/dl_js"></script>
{% endhttp %}

{% analytics_tag signup %}
<!-- START Custom Tag for subscribe confirmation -->
<script src="http://i.simpli.fi/dpx.js?cid=17&conversion=20&campaign_id=0&m=1"></script>

<!-- Begin SearchForce tracking code for conversion page (4.1) -->
<script type="text/javascript" language="Javascript">
var jAccountID = "35383";
var jconversion_type = "Lead";
var jValue = "{{ daily_deal.price }}";
var jOrderID = "{% analytics_tag_data sale_id %}";
var juAgent = navigator.userAgent;
var imgURL = "//sftrack.searchforce.net/SFConversionTracking/img.jpg?jt=3"
+ "&jaid=" + jAccountID + "&joid=" + escape(jOrderID) + "&jcv=" + jValue + "&je=" + jconversion_type
 + "&juag=" + juAgent;
 var convImg = new Image();
 convImg.src = imgURL;
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//sftrack.searchforce.net/SFConversionTracking/img.jpg?jt=3&jaid=35383&je=Lead&jcv=&joid="/>
</div>
</noscript>
<!-- End SearchForce tracking code -->

<!-- Google Code for lead Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1016553453;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "LYnBCJvDmQIQ7b_d5AM";
var google_conversion_value = 1;
if (99) {
  google_conversion_value = 99;
}
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1016553453/?value=99&amp;label=LYnBCJvDmQIQ7b_d5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endanalytics_tag %}



{% analytics_tag sale %}
{% https %}
<script type="text/javascript" src="https://tracking.inuvo.com/jtr/2491?oid={% analytics_tag_data sale_id %}&a={{ daily_deal.price }}"></script>
<script type="text/javascript" src="https://tracking.inuvo.com/jtr/2529?oid={% analytics_tag_data sale_id %}&a={{ daily_deal.price }}"></script>
{% endhttps %}
{% http %}
<script type="text/javascript" src="http://tracking.inuvo.com/jtr/2491?oid={% analytics_tag_data sale_id %}&a={{ daily_deal.price }}"></script>
<script type="text/javascript" src="http://tracking.inuvo.com/jtr/2529?oid={% analytics_tag_data sale_id %}&a={{ daily_deal.price }}"></script>
{% endhttp %}

<!-- Begin SearchForce tracking code for conversion page (4.1) -->
<script type="text/javascript" language="Javascript">
var jAccountID = "35383";
var jconversion_type = "Sale";
var jValue = "{{ daily_deal.price }}";
var jOrderID = "{% analytics_tag_data sale_id %}";
var juAgent = navigator.userAgent;
var imgURL = "//sftrack.searchforce.net/SFConversionTracking/img.jpg?jt=3"
+ "&jaid=" + jAccountID + "&joid=" + escape(jOrderID) + "&jcv=" + jValue + "&je=" + jconversion_type
 + "&juag=" + juAgent;
 var convImg = new Image();
 convImg.src = imgURL;
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//sftrack.searchforce.net/SFConversionTracking/img.jpg?jt=3&jaid=35383&je=Sale&jcv=&joid="/>
</div>
</noscript>
<!-- End SearchForce tracking code -->

<!-- Google Code for sale Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1016553453;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "sSRECJPEmQIQ7b_d5AM";
var google_conversion_value = 1;
if (99) {
  google_conversion_value = 99;
}
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1016553453/?value=99&amp;label=sSRECJPEmQIQ7b_d5AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endanalytics_tag %}
