<div id="right_sidebar">
           <div class="feature_your_business">
             <a href="{{ publisher.feature_your_business_path }}"><h2>Feature Your Business</h2></a>
             <p>Learn how we can help build your business through Queens Courier</p>
            </div>
            <br />
             <!--<a href="{{ publisher.refer_a_friend_path }}" class="refer_a_friend_tracking"><img src="/themes/queenscourier/images/buttons/refer_a_friend.png" width="178" height="59" alt="refer a freind" /></a><br />-->
             
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FQueens-Courier-Daily-Deal%2F132823490103735&amp;width=188&amp;colorscheme=light&amp;connections=10&amp;stream=true&amp;header=true&amp;height=587" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:188px; height:587px;" allowTransparency="true"></iframe>         </div>
         
          <div class="left_col">
            <div class="share">
            <p>share:</p><a href="{{ publisher.feature_your_business_path }}" id="facebook_link" onclick="return facebook_popup('/daily_deals/{{ daily_deal.id }}/facebook?popup=true')" target="_blank" title="Share coupon on Facebook" class="share_button_facebook"><img src="/themes/queenscourier/images/icons/facebook_icon.gif" width="28" height="28" alt="facebook"  /> </a> <a href="{{ daily_deal.twitter_url }}" id="twitter_link" target="_blank" title="Share coupon on Twitter" class="share_button_twitter"><img src="/themes/queenscourier/images/icons/twitter_icon.gif"  width="28" height="28" alt="twitter"  /> </a>
            <a href="mailto:?subject={{ daily_deal.publisher_prefix }}: {{ daily_deal.value_proposition }}&amp;body=Check out this deal at {{ daily_deal.url }}" class="share_button_mail"><img src="/themes/queenscourier/images/icons/email_icon.gif" width="28" height="28"  alt="email"  /> </a>
            </div> 
            <div class="advertiser">
              <h1>{{ daily_deal.value_proposition }} &nbsp; ({{ daily_deal.value | currency }} value)</h1>
              <div id="dashboard">
                <div id="value_and_button"><h1>{{ daily_deal.price | currency }}</h1>
                
				{% if daily_deal.sold_out? %}
				<a href="{{ publisher.todays_daily_deal_path }}"><img src="/themes/queenscourier/images/buttons/sold_out.png" width="142" height="66" alt="buy now" /></a>
				{% elsif daily_deal.over? %}
				<a href="{{ publisher.todays_daily_deal_path }}"><img src="/themes/queenscourier/images/buttons/deal_is_over.png" width="142" height="66" alt="buy now" /></a>
				{% elsif daily_deal.active? %}
				<a href="{{ daily_deal.buy_now_path }}" id="buy_now_button"><img src="/themes/queenscourier/images/buttons/buy_now.png" width="142" height="66" alt="buy now" /></a>
				<a href="{{ publisher.todays_daily_deal_path }}" class="unavailable" style="display:none;"><img src="/themes/queenscourier/images/buttons/deal_is_over.png" width="142" height="66" alt="buy now" /></a>
				{% else %}
				<a href="{{ publisher.todays_daily_deal_path }}"><img src="/themes/queenscourier/images/buttons/not_yet_available.png" width="142" height="66" alt="buy now" /></a>
				{% endif %}
                 
                 <div id="value_wrapper">
                    <div id="price">
                      <div class="label">Value</div>
                        <div class="value">{{ daily_deal.value | currency }}</div>
                    </div>
                    <div id="discount">
                       <div class="label">Discount</div>
                        <div class="value">{{ daily_deal.savings_as_percentage | percentage }}</div>
                    </div>
                    <div id="you_save">
                       <div class="label">You Save</div>
                        <div class="value">{{ daily_deal.savings | currency }}</div>
                    </div>
                 </div>           
              </div><!--value_and_button-->
              
              <div id="deal_time">
              <p>Time Left to Buy</p>
              <p id="time_left_to_buy">{{ daily_deal.time_remaining_display }}</p>
              </div>

              <div id="bought">
              <p><span id="deals_sold">{{ daily_deal.number_sold }}</span> Bought</p>
              </div>
              
              </div><!--dashboard-->
              <div id="advertiser_specs">
              <img src="{{ daily_deal.photo.url }}" />
              <div id="fine_print"><strong>The Fine Print</strong>
               <div>{{ daily_deal.terms }}</div>
              </div>
              
              <div id="highlights"><strong>Highlights</strong>
               <div>{{ daily_deal.highlights }}</div>
              </div>
              
              </div>
              </div><!--advertiser-->
                    <div id="bottom_deal_box"></div>
          </div><!--deal-->
         
         
         <div id="details">
           <div id="details_inner_box">
             
			 <div id="details_sidebar">
              <h1>THE COMPANY</h1>
               
			  {% if advertiser.address? %}
			   {% for store in advertiser.stores %}
			   
			   <div class="location_container" style="{% if forloop.index > 3 %}display:none{% endif %}">
				   <ul>
					<li>{{ advertiser.name }}</li>
					{% if advertiser.website_url != "" %}
					<li><a href="{{ advertiser.website_url }}">Company Website</a></li>
					{% endif %}
					<li>{{ store.address_line_1 }}</li>
					<li>{{ store.city }}, {{ store.state }} {{ store.zip }}</li>
					{% if store.formatted_phone_number != empty %}
					<li>phone:{{ store.formatted_phone_number }}</li>
					{% endif %}
				   </ul>
			  </div>
			 
			 {% endfor %}
			{% endif %}
			 
			 {% if advertiser.num_stores > 3 %}
  				<a id="see_all_locations" href="#"
  				   onclick="javascript:$$('div.location_container').each(Element.show); $('see_all_locations').hide(); return false">see all locations</a>
  				{% endif %}
				
			{% if advertiser.stores.size > 0 %}
             <a href="{{ advertiser.map_url }}">
              <img src="{{ daily_deal.multi_loc_map_image_url }}" id="map" target="blank" />
             </a>
           {% endif %}
			 
             </div>

          <div>
            <div>
              <h2>Details</h2>
                {{ daily_deal.description }}
            </div>
            <div>
              {% if daily_deal.reviews != "" %}
                <h2>Reviews</h2>
                  {{ daily_deal.reviews }}
              {% endif %}
            </div>
          </div>

         </div>
       </div>

