<p style="margin: 0; padding: 8px;">
 <a href="http://www.610sports.com/" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/610.png" alt="610 Sports Radio"></a>
  <a href="http://www.965thebuzz.com/" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/buzz.png" alt="96.5 The Buzz"></a>
  <a href="http://www.kmbz.com/" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/kmbz.png" alt="KMBZ 980"></a>
  <a href="http://www.989therock.com/" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/rock.png" alt="The Rock 98.9"></a>
  <a href="http://www.wdaf.com/" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/wolf.png" alt="106.5 The Wolf"></a> 
  <a href="http://www.997point.com/" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/point.png" alt="99.7 The Point"></a>
  <a href="http://www.kmbz.com//12570834" target="_blank" style="color: #ffffff;"><img border="0" height="40" src="http://{{ publisher.daily_deal_host }}/themes/entercom-kansascity/images/stations/kmbzbusiness.png" alt="KMBZ"></a>    
</p>