<div>
  <a href="http://www.espn1320.net/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/espn.png" alt="ESPN 1320"></a>
  <a href="http://www.buzz1065.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/star1065.png" alt="106.5 The Buzz"></a> 
  <a href="http://krxq.net" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/98rock.jpg" alt="98 Rock" /></a>
  <a href="http://radio947.net" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/radio947.jpg" alt="Radio 94.7" /></a>
  <a href="http://www.eagle969.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/eagle.png" alt="96.9 Eagle"></a>
  <a href="http://www.endonline.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/theend.png" alt="107.9 The End"></a>  
</div>