<p style="margin: 0; padding: 8px;">
  <a href="http://www.espn1320.net/" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/espn.png" height="50" alt="ESPN 1320"></a>
  <a href="http://www.buzz1065.com/" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/star1065.png" height="50" alt="Star 106.5"></a> 
  <a href="http://krxq.net" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/98rock.jpg" height="50" alt="98 Rock" /></a>
  <a href="http://radio947.net" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/radio947.jpg" height="50" alt="Radio 94.7" /></a>
  <a href="http://www.eagle969.com/" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/eagle.png" height="50" alt="96.9 Eagle"></a>
  <a href="http://www.endonline.com/" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/theend.png" height="50" alt="107.9 The End"></a>
</p>