<!--CONTENT MIDDLE-->
        <table width="648" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; color:#747474;font-size:14px;">
		  <tr>
			<td>
				<table width="608" align="center" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
				  <tr>
					<td colspan="3" align="center" style="padding-top:20px;"><a href="http://<%= @publisher.daily_deal_host %><%= how_it_works_publisher_daily_deals_path(@publisher) %>"><img border="0" src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/icons/video.jpg" width="328" height="113" alt="" /></a></td>
				  </tr>
				  <tr>
				    <td align="center" width="150"><img src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/icons/inbox.png" width="57" height="64" alt="" /></td>
					<td valign="top" align="left" width="294" style="padding-left:12px;padding-right:12px;">
						<h3 style="font-family:Arial, Helvetica, sans-serif;font-size:18px;line-height:23px;font-weight:bold;color:#0094d0;margin-top:15px;margin-bottom:0;padding:0;"><%= t(:meet_blue365) %></h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#747474;margin-top:0;padding-top:0;padding:0px;"><%= t(:meet_blue365_message) %></p>
					</td>
					<td align="center" width="140"><img src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/icons/rewards.png" width="66" height="64" alt="" /></td>
				  </tr>
				  <tr>
					<td valign="top" align="left" width="150">
						<h3 style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;font-weight:bold;color:#0094d0;margin-top:10px;margin-bottom:0;padding:0px;"><%= t(:get_deals_inbox) %></h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#747474;margin-top:0;padding-top:0;padding:0px;"><%= t(:get_deals_inbox_message) %></p>
					</td>
					<td valign="top" align="left" width="294">&nbsp;</td>
					<td valign="top" align="left" width="140">
						<h3 style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;font-weight:bold;color:#0094d0;margin-top:10px;margin-bottom:0;padding:0px;"><%= t(:earn_rewards) %></h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#747474;margin-top:0;padding-top:0;padding:0px;"><%= t(:earn_rewards_message) %></p>
					</td>
				  </tr>
				</table>
			</td>
          </tr>
      </table>
<!--/CONTENT MIDDLE-->  