<!--CONTENT MIDDLE-->
        <table width="648" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="font-family:Arial, Helvetica, sans-serif; color:#747474;font-size:14px;">   
          <tr>
			<td>
				<table width="526" align="center" border="0" cellspacing="0" cellpadding="6">
				  <tr>
					<td align="center" width="32%"><img src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/icons/inbox.png" width="57" height="64" alt="" /></td>
					<td align="center" width="33%"><img src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/icons/location.png" width="44" height="64" alt="" /></td>
					<td align="center" width="30%"><img src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/icons/rewards.png" width="66" height="64" alt="" /></td>
					  </tr>				  
				  <tr>
					<td valign="top" align="left">
						<h3 style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;font-weight:bold;color:#0094d0;margin-top:10px;margin-bottom:0;padding:0px;"><%= t(:get_deals_inbox) %></h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#747474;margin-top:0;padding-top:0;padding:0px;"><%= t(:get_deals_inbox_message) %></p>
					</td>
					<td valign="top"  align="left" style="padding-left: 14px;">
						<h3 style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;font-weight:bold;color:#0094d0;margin-top:10px;margin-bottom:0;padding:0;"><%= t(:save_locally) %></h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#747474;margin-top:0;padding-top:0;padding:0px;"><%= t(:save_locally_message) %></p>
					</td>
					<td valign="top" align="left" style="padding-left: 24px;">
						<h3 style="font-family:Arial, Helvetica, sans-serif;font-size:13px;line-height:18px;font-weight:bold;color:#0094d0;margin-top:10px;margin-bottom:0;padding:0px;"><%= t(:earn_rewards) %></h3>
						<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:16px;color:#747474;margin-top:0;padding-top:0;padding:0px;"><%= t(:earn_rewards_message) %></p>
					</td>
				  </tr>
				</table>
			</td>
          </tr>
      </table>
<!--/CONTENT MIDDLE-->  