<!--BLUE LOGO HEADER-->
         <table width="648" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="margin-top:20px;">
          <tr>
            <td valign="top" align="left" width="195" bgcolor="#0083bb" style="background-color:#0083bb;">
            <% case true %>
			       <% when true %>
            	<a href="http://<%= @publisher.daily_deal_host %><%= publishing_group_landing_page_path('bcbsa') %>"><img style="display:block;" src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/logos/blue365_unreg.png" width="195" height="78" alt="Blue365" border="0"/></a>
            </td>
            <% else %>
            	<a href="http://<%= @publisher.daily_deal_host %><%= publishing_group_landing_page_path('bcbsa') %>"><img style="display:block; margin-left:15px;" src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/logos/blue365_unreg-cross.png" width="195" height="78" alt="Blue365" border="0"/></a>
            <% end %> 
			<td valign="top" align="left" bgcolor="#0083bb" style="background-color:#0083bb;" width="170" height="78">&nbsp;</td>          
            <td bgcolor="#0083bb" style="background-color:#0083bb;" height="78" align="right" valign="bottom">
                <%= render :partial => with_theme('shared/email/share') %>
            </td>
          </tr>
		  <tr>
		    <td colspan="3"><img style="display:block;" src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/spacer-white.gif" width="11" height="23" alt="" /></td>
		  </tr>
        </table>
<!--/BLUE LOGO HEADER-->