<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>Express Milwaukee | Online Coupons – discounts, deals and coupons for Milwaukee restaurants and services</title> 
  <meta name="keywords" content="coupons, discounts, deals">
 
<link href="http://www.expressmilwaukee.com/css/design.css" rel="stylesheet" type="text/css" /> 
<link rel="shortcut icon" href="http://www.expressmilwaukee.com/favicon.ico" /> 
<script src="http://www.expressmilwaukee.com/Scripts/AC_RunActiveContent.js" type="text/javascript"></script> 
<link href="http://www.expressmilwaukee.com/css/bannertop.css" rel="stylesheet" type="text/css" /> 
<!-- Hojas de estilo y javascripts globales --> 
<script language="javascript"> 
var ENGINES_FOLDER='engines';
</script> 
<script language="javascript" src="http://www.expressmilwaukee.com/js/protoculous-1.0.2.js"></script> 
<script language="javascript" src="http://www.expressmilwaukee.com/js/swfobject.js"></script> 
 
 
<link href="http://www.expressmilwaukee.com/js/pre/pre.css" rel="stylesheet" type="text/css" /> 
<script language="javascript" src="http://www.expressmilwaukee.com/js/pre/pre.js"></script> 
 
 
<link href="http://www.expressmilwaukee.com/css/css.global2.php" rel="stylesheet" type="text/css" /> 
 
<link href="http://www.expressmilwaukee.com/engines/searchbox/css/searchbox.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/sectionSearch/css/sectionSearch.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/search.engine.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/pdfimage/styles/catalog.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/admins/files/integracion.css" rel="stylesheet" type="text/css" /> 
 
<link href="http://www.expressmilwaukee.com/engines/dining.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/movie.times.engine.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/tab_widget.css" rel="stylesheet" type="text/css" /> 
 
<script type="text/javascript"> 
function navigateMyGalleries(user_id) {
	window.location = "http://www.expressmilwaukee.com/imagesGalleries.php?usr_id="+user_id+"&my=true";
}
</script> 
 
<!-- ADS WILL NOT DISPLAY WITHOUT THE HEADCODE INSTALLED --> 
<!-- begin script to create random number for ads --> 
<script type="text/javascript"> 
<!--
sgi_ord=Math.random()*10000000000000000;
sgi_tile=1;
//-->
</script> 
<!-- End random number script --> 
<script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js"></script> 
<script type="text/javascript"> 
	GS_googleAddAdSenseService("ca-pub-4101855476259170");
	GS_googleEnableAllServices();
</script> 
<script type="text/javascript"> 
GA_googleAddSlot("ca-pub-4101855476259170", "EM_BOM2009_AllPages_BigBox_CenterRight");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_BOM2009_AllPages_BigBox_0__CenterRight");
GA_googleAddSlot("ca-pub-4101855476259170", "Big Box All pages");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_1");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_2");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_Leaderboard_728x90_Header");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_Leaderboard_728x90_Footer");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_WideSkyscraper_160x600_Upper");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_MediumRectangle_300x250_Upper");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_WideSkyscraper_160x600_Lower");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_MediumRectangle_300x250_Lower");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_PencilBar_945x35_Header");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_3");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_4");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_5");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_6");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_7");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_HalfBanner_234x60_8");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_1");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_2");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_3");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_4");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_5");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_6");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_7");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_8");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_MediumRectangle_1");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_MediumRectangle_2");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_WideSkyscraper_1");
GA_googleAddSlot("ca-pub-4101855476259170", "Advertising_Test_WideSkyscraper_2");
GA_googleAddSlot("ca-pub-4101855476259170", "EM_ROS_PromoStatic_MediumRectangle_1");
</script> 
<script type="text/javascript"> 
	GA_googleFetchAds();
</script> 
 
 
 
<link href="http://www.expressmilwaukee.com/engines/comments.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/rating.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/contents.css" rel="stylesheet" type="text/css" /> 
<link href="http://www.expressmilwaukee.com/engines/comments.view.art.css" rel="stylesheet" type="text/css" /> 
 
<script language="javascript" src="http://www.expressmilwaukee.com/engines/comments/js/comments.js"></script> 
 


 
<script language="javascript1.2"> 
var IE = document.all?true:false;
if (!IE) document.captureEvents(Event.MOUSEMOVE)
document.onmousemove = getMouseXY;
var tempX = 0
var tempY = 0
function getMouseXY(e) {
  if (IE) { // grab the x-y pos.s if browser is IE
    tempX = event.clientX + document.body.scrollLeft
    tempY = event.clientY + document.body.scrollTop
  } else {  // grab the x-y pos.s if browser is NS
    tempX = e.pageX
    tempY = e.pageY
  }  
  if (tempX < 0){tempX = 0}
  if (tempY < 0){tempY = 0}  
  return true
}
</script>

<%= render :partial => 'layouts/offers/standard/stylesheets_and_javascript' %>  
<%= render :partial => "layouts/offers/expressmilwaukee/javascript" %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head>
 
<body> 
<!-- Despues de <global> en todas las paginas --> 
 
<!--  body para flex pages --> 
	<div class="sG"> 
		<div id="sCont"> 
			
			<div class="sHeader" id="sHeader" onmouseover="document.getElementById('sMainLinks').style.display='none';"> 
				<div class="Logo" id="Logo_swf"> 
					<a href="http://www.expressmilwaukee.com/"><img border="0" src="http://www.expressmilwaukee.com/imgs/theme/new/logo.jpg" width="261" height="85" /></a> 
				</div> 
				<div class="PhoTos"> 
					<div class="sPhotos2"> 
			   			<!-- PUT THIS TAG IN DESIRED LOCATION OF SLOT EM_ROS_Leaderboard_728x90_Header
     --> 
<script type="text/javascript"> 
  GA_googleFillSlot("EM_ROS_Leaderboard_728x90_Header");
</script> 
<!-- END OF TAG FOR SLOT EM_ROS_Leaderboard_728x90_Header
     --> 
 
					</div> 
				</div> 
		  	</div> 
			
			<div class="searchDiv" onmouseover="document.getElementById('sMainLinks').style.display='none';"> 
				<div class="searchForm"> 
					<a href="http://visitor.constantcontact.com/d.jsp?m=1100968798818&p=oi"> 
						<img src="http://www.expressmilwaukee.com/imgs/theme/mailingListBanner.jpg" width="375" height="25" border="0" /> 
					</a> 
				</div>	
				
				<div class="ssUserBox" id="ssUserBox"> 
					<div id="sUserBox" class="sUserBox"> 
						&nbsp;
					</div> 
				</div> 
				<script language="javascript"> 
					loadUserbox();
				</script>	
						
			</div> 
			
			<div id="sMain"> 
				<div class="sSections"> 
					<a href="http://www.expressmilwaukee.com/" onmouseover="$(this).setStyle({borderTop: '5px solid #8ebbe1'});">Home</a><a href="http://www.expressmilwaukee.com/flex-16-news.html" onmouseover="submenushow('subMenu_15', event); $(this).setStyle({borderTop: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">News</a><a href="http://www.expressmilwaukee.com/events" onmouseover="submenushow('subMenu_25', event); $(this).setStyle({borderTop: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Events</a><a href="http://www.expressmilwaukee.com/flex-18-music.html" onmouseover="submenushow('subMenu_22', event); $(this).setStyle({borderTop: '5px solid #254597'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Music</a><a href="http://www.expressmilwaukee.com/flex-9-arts.html" onmouseover="submenushow('subMenu_21', event); $(this).setStyle({borderTop: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">A & E</a><a href="http://www.expressmilwaukee.com/articles.sec-211-1-eat_drink.html" onmouseover="submenushow('subMenu_89', event); $(this).setStyle({borderTop: '5px solid #cec62c'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Dining</a><a href="http://www.expressmilwaukee.com/blogs" onmouseover="submenushow('subMenu_24', event); $(this).setStyle({borderTop: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Blogs</a><a href="http://www.expressmilwaukee.com/contest.engine.php" onmouseover="submenushow('subMenu_184', event); $(this).setStyle({borderTop: '5px solid #ee7e22'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Contests</a><a href="http://www.expressmilwaukee.com/flex-55-extras.html" onmouseover="submenushow('subMenu_93', event); $(this).setStyle({borderTop: '5px solid #a7268b'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Extras</a><a href="http://classifieds.expressmilwaukee.com/" onmouseover="submenushow('subMenu_123', event); $(this).setStyle({borderTop: '5px solid #00884c'});" onmouseout="$(this).setStyle({borderTop: '5px solid #ffffff'});">Classifieds</a> 
					
					<div class="searchFormMenu"> 
						<form id="searchbox_000405695514894623188:44muvs_s5p8" action="http://www.expressmilwaukee.com/flex-42-search-results.html"> 
							<input type="hidden" value="000405695514894623188:44muvs_s5p8" name="cx"/> 
							<input type="hidden" value="FORID:9" name="cof"/> 
							<input type="text" size="25" name="q" class="txtField"/> 
							<input type="submit" class="searchButton" value="Search" name="sa"/> 
						</form> 
					</div> 
				</div>		 
				<div class="sMainLinks" id="sMainLinks" style="display: none;" onmousemove="this.style.display='';" onmouseout="this.style.display='none';" onmouseover="this.style.display='';">&nbsp;</div> 
		 		<div style="display:none"><div id="subMenu_15"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-31.html">Daily Dose</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-34-1-news-features.html">Articles</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-4-1-expresso.html">Expresso</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-24-columns.html">Columns</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-6-1-cover-story.html">Cover Story</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-15-1-art-for-arts-sake.html">Art Kumbalek</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-10-1-boris- -doris-on-the-town.html">Boris & Doris</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-14-1-taking-liberties.html">Taking Liberties </a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-16-1-chuck-shepherds-news-of-the-weird.html">News of the Weird</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-33.html">Green Life</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8e6028'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-237-1-sports.html">Sports</a></div><div id="subMenu_25"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/events">Calendar</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/contest.engine.php">Contests</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-85-promotions.html">Promotions</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-222-1-today-in-milwaukee.html">Today in Milwaukee</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-17-1-this-week-in-milwaukee.html">This Week in Milwaukee</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #8c2441'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-76-best-of-the-city.html">Best of Milwaukee</a></div><div id="subMenu_22"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-11.html">On Music Blog</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-30.html">Concert Announcements</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-204-1-cd-reviews.html">CD Reviews</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-214-1-concert-reviews.html">Concert Reviews</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-217-1-local-music.html">Local Music</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/bands-1-0-0-0-All.html">Local Bands</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #254597'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-216-1-music-feature.html">Music Feature</a></div><div id="subMenu_21"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-218-1-ae-feature.html">A&E Feature</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-28-1-art.html">Art</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-29-1-books.html">Books</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-30-1-classical-music_dance.html">Classical Music/Dance</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-9.html">I Hate Hollywood</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-32-film.html">Film</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/article-5237-film-clips.html">Film Clips</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-227-1-gallery-guide.html">Gallery Guide</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-11-1-off-the-cuff.html">Off the Cuff</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-27-1-theater.html">Theater</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-274-1-milwaukee-color.html">Milwaukee Color</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-109-poetry.html">Poetry</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-275-1-style-by-heidi.html">Style </a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #58c0a5'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-91-sexpress.html">SEXPress</a></div><div id="subMenu_89"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #cec62c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/places">Dining & Bar Guide</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #cec62c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-210-1-dining-out.html">Dining Reviews</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #cec62c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-211-1-eat_drink.html">Food Features</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #cec62c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/articles.sec-262-1-the-naked-vine.html">The Naked Vine</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #cec62c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-110-recipe.html">Just Cook It :: NEW</a></div><div id="subMenu_24"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-11.html">On Music</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-9.html">I Hate Hollywood</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-31.html">Daily Dose</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-32.html">Art Talk</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-33.html">Green Life</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-34.html">Fiction Addict</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/blogs-1-1-1-21.html">Cityscape</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #df8c92'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-33-shepr-flickr.html">Sheprd Flickr</a></div><div id="subMenu_93"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #a7268b'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://npaper-wehaa.com/shepherdexpress#issues">Archives</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #a7268b'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/bestofmilwaukee2009">Best of Milwaukee</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #a7268b'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-90-multimedia.html">Multimedia</a></div><div id="subMenu_123"><a onmouseover="$(this).setStyle({borderLeft: '5px solid #00884c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://classifieds.expressmilwaukee.com/">Classifieds</a><a onmouseover="$(this).setStyle({borderLeft: '5px solid #00884c'});" onmouseout="$(this).setStyle({borderLeft: '5px solid #FFFFFF'});" class="submenu_item" href="http://www.expressmilwaukee.com/flex-97-jobs.html">Search Milwaukee Jobs</a></div></div> 
		  		
 				<div id="sContenido">  
          <div id="analog_analytics_content">
            <%= yield %>
          </div>
				</div> 
 
				<div id="sClearFooter">&nbsp;</div> 
					
				<div class="sFooter"> 
					<a href="http://www.expressmilwaukee.com/">Home</a><a href="http://www.expressmilwaukee.com/flex-17-about-us.html">About</a><a href="http://www.expressmilwaukee.com/flex-35-advertising.html">Advertise</a><a href="http://www.expressmilwaukee.com/article-25-contact-us.html">Contact</a><a href="http://www.expressmilwaukee.com/article-385-rss-feed.html">RSS</a><a href="http://www.expressmilwaukee.com/article-22-privacy-policy.html">Privacy Policy</a><a href="http://www.expressmilwaukee.com/poll_form.php">Feedback</a><a href="http://www.expressmilwaukee.com/sign.up.php">Sign Up</a><a href="http://www.expressmilwaukee.com/article-18-community-agreement.html">Site Agreement</a><a href="mailto: reportmisconduct@expressmilwaukee.com">Report Misconduct</a><a href="http://www.ruxton.com/">National Advertising</a> 
					<br /> 
   					<div class="subFoot"> 
						Thanks for visiting <a href="http://www.expressmilwaukee.com"  class="a1">ExpressMilwaukee.com</a> / email: <a href="mailto:info@expressmilwaukee.com" class="a1">info@expressmilwaukee.com</a> / All Rights Reserved 
					</div> 
				</div> 
			</div> 
		</div> 
		<div align="center" class="powered"><a href="http://wehaa.com"><img src="http://www.expressmilwaukee.com/imgs/powered.gif" width="160" height="55" border="0" /></a> </div> 
		<!-- antes de </body> por ejemplo para google adsense--> 
<div class="Ventana250" id="win250" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win250');">x</a> 
<div class="title" id="winTit250" onmousedown="ventanax=new Draggable('win250',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont250"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana300" id="win300" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win300');">x</a> 
<div class="title" id="winTit300" onmousedown="ventanax=new Draggable('win300',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont300"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana350" id="win350" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win350');">x</a> 
<div class="title" id="winTit350"></div></div> 
<div class="content" id="winCont350" onmousedown="ventanax=new Draggable('win350',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana400" id="win400" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win400');">x</a> 
<div class="title" id="winTit400" onmousedown="ventanax=new Draggable('win400',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont400"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana500" id="win500" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win500');">x</a> 
<div class="title" id="winTit500"></div></div> 
<div class="content" id="winCont500" onmousedown="ventanax=new Draggable('win500',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana600" id="win600" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win600');">x</a> 
<div class="title" id="winTit600" onmousedown="ventanax=new Draggable('win600',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont600"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana700" id="win700" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win700');">x</a> 
<div class="title" id="winTit700" onmousedown="ventanax=new Draggable('win700',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont700"></div> 
<div class="footer">&nbsp;</div></div> 
 
 
<div class="highslide-html-content" id="highslide-html-shared" style="width: 500px; "> 
	<div class="highslide-move" style="border: 0; height: 18px; padding: 2px; cursor: default"> 
	    <a href="#" onclick="return hs.close(this)" class="control">Close</a> 
	</div> 
	<div class="highslide-body" id="highslidebody"></div> 
</div> 
 
<div class="highslide-html-content" id="highslide-html-goomaps" style="width: 720px;height: 600px;"> 
	<div class="highslide-move" style="border: 0; height: 12px; padding: 1px; cursor: default"> 
	    <a href="#" onclick="return hs.close(this)" class="control">Close</a> 
	</div> 
	<div class="highslide-body" id="highslidebody"></div> 
</div> 
<script language="javascript"> 
	//loadUserbox();
</script> 
 
 
<!-- PLACE THE QUANTCAST AND GOOGLE ANALYTICS TAGS BEFORE THE CLOSING BODY TAG --> 
    
<!-- Start Quantcast tag --> 
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script> 
<script type="text/javascript">_qoptions = { tags:"team players" }; _qacct="p-31QupbWRoAvms";quantserve();</script> 
<noscript> 
<a href="http://www.quantcast.com/p-31QupbWRoAvms" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-31QupbWRoAvms.gif?tags=team%20players" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/></a> 
</noscript> 
<!-- End Quantcast tag --> 
 
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
var pageTracker = _gat._getTracker("UA-3057162-1");
pageTracker._trackPageview();
</script> 
	</div> 
	
</body> 
</html>