<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>Ventura County Reporter - Coupons</title>

	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="copyright" content="Copyright (c) VCR 2009. All Rights Reserved" />
	<meta name="cms" content="VCR" />
        <meta name="rating" content="General">
        <meta name="revisit-after" content="1 days">


	<!-- Stylesheets -->
	<link type="text/css" rel="stylesheet" href="http://www.vcreporter.com/default-media/css/master.css" media="screen, tv, projection" />
	<link type="text/css" rel="stylesheet" href="http://www.vcreporter.com/custom-media/css/custom.css" media="screen, tv, projection" />
	<link type="text/css" rel="stylesheet" href="http://www.vcreporter.com/default-media/css/print.css" media="print" />

	

	<!-- Favicons -->
	<link type="image/vnd.microsoft.icon" rel="shortcut icon" href="http://www.vcreporter.com/custom-media/images/branding/favicon.ico" />
	<link type="image/vnd.microsoft.icon" rel="icon" href="http://www.vcreporter.com/custom-media/images/branding/favicon.ico" />

	<!-- Javascript -->
  <script type="text/javascript" src="http://www.vcreporter.com/default-media/js/jquery.js"></script>
  <script type="text/javascript" src="http://www.vcreporter.com/default-media/js/functions.js"></script>
  <script type="text/javascript" src="http://www.vcreporter.com/default-media/js/calendar.js"></script>
  <script type="text/javascript" src="http://www.vcreporter.com/default-media/js/tabs.js"></script>
  <script type="text/javascript" src="http://www.vcreporter.com/default-media/js/initialize.js"></script>
  <script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js"> </script>
	<script type="text/javascript"> 
	  GS_googleAddAdSenseService("ca-pub-9270135839447258"); 
	  GS_googleEnableAllServices(); 
	</script> 
	<script type="text/javascript"> 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Button1"); 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Button2"); 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Button3"); 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Button4"); 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Leaderboard"); 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Rectangle"); 
	  GA_googleAddSlot("ca-pub-9270135839447258", "Tower"); 
	</script> 
	<script type="text/javascript"> 
	  GA_googleFetchAds(); 
	</script> 
  <%= render :partial => 'layouts/offers/standard/stylesheets_and_javascript' %>
	<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>


<%= raw render :partial => "/shared/tracking_offers" %>
</head>
<body>

	<!-- Header : Begin -->
	<div id="header">

		<!-- Header Inner : Begin -->
		<div id="headerInner">

			<!-- Logo : Begin -->
			<div id="logo">
				<a href="http://www.vcreporter.com/" title="Visit the VCR Homepage">
					<img src="http://www.vcreporter.com/custom-media/images/branding/logo.jpg" alt="VCR" />
				</a>
			</div>
			<!-- Logo : End -->
      <!-- Banner Ad : Begin -->
      <!--
			<iframe id="bannerAd_1" src="http://www.vcreporter.com/custom-media/html/bannerad-1.html" width="728"  height="90"  scrolling="no" frameborder="0" marginheight="0"  marginwidth="0" vspace="0" hspace="0" style="padding: 0px; text-align: center;"></iframe>
			-->
			<script type="text/javascript">GA_googleFillSlot("Leaderboard");</script>
			<!-- Banner Ad : End -->
			<!-- Main Search : Begin -->
			<div id="mainSearch">
			
			  <a href="http://www.vcreporter.com/cms/story/detail/today_s_top_stories_5_9/7419/"><img src="http://www.vcreporter.com/custom-media/images/5@9.gif" border="0"></a>&nbsp;
			  <a href="http://sb1.analoganalytics.com/publishers/vcreporter"><img src="http://www.vcreporter.com/custom-media/images/coupon.gif" border="0"></a>&nbsp;
			  <a href="http://www.vcreporter.com/custom-media/html/newsletter.html?keepThis=true&TB_iframe=true&height=230&width=400"><img src="http://www.vcreporter.com/custom-media/images/newsletter.gif" border="0"></a>
			<!--
				<div id="searchBar">
					<a href="http://www.vcreporter.com/custom-media/html/newsletter.html?keepThis=true&amp;TB_iframe=true&amp;height=230&amp;width=400" title="Subscribe to our newsletter" style="margin: 6px 20px 0 0; display: block; float: left;" class="thickbox">Subscribe to newsletter</a>
					<form action="/cms/commons/global_search/" method="get">
							<input type="text" name="text_search" id="mainSearchInput" value="" />
							<input type="image" src="http://www.vcreporter.com/custom-media/images/buttons/btn_search.png" name="mainsearchsubmit" class="mainSearchButton" value="Search" />
					</form>
					
				</div>
      -->	
			</div>
			<!-- Main Search : End -->

			
		<!-- Menu : Begin -->
		<div id="menu">
			<ul>
				
				<li><a href="http://www.vcreporter.com/cms/index/?menu=Home" title="Home"class="on">Home</a></li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/story/search/?menu=News" title="News">News</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=10&menu=News" title="News of the Week">News of the Week</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=9&menu=News" title="In Brief">In Brief</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=12&menu=News" title="Planet Ventura">Planet Ventura</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/story/search/?category=2&menu=Opinion" title="Opinion">Opinion</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=7&menu=Opinion" title="Editorial">Editorial</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=6&menu=Opinion" title="Letters">Letters</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=8&menu=Opinion" title="Power to Speak">Power to Speak</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=5&menu=Opinion" title="The Critical Line">The Critical Line</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=37&menu=Lifestyle" title="Advice Goddess">Advice Goddess</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=33&menu=Lifestyle" title="Real Astrology">Real Astrology</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/story/search/?category=3&menu=Arts" title="Art/Culture">Art/Culture</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=50&menu=Arts" title="Culture">Culture</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=14&menu=Arts" title="Arts">Arts</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=15&menu=Arts" title="Film">Film</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/movie/search/" title="Movie Times">Movie Times</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=16&menu=Arts" title="Books">Books</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=17&menu=Arts" title="T.V./Media">T.V./Media</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=31&menu=Lifestyle" title="Health">Health</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=32&menu=Lifestyle" title="Outdoor Observer">Outdoor Observer</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="" title="Blogs">Blogs</a>
					<ul>
					
						<li><a href="http://sullyspeaks.wordpress.com/" title="Sully Speaks ">Sully Speaks </a></li>
					
						<li><a href="http://serialcommakiller.wordpress.com/" title="Serial Comma Killer">Serial Comma Killer</a></li>
					
						<li><a href="http://www.estatenumberfour.wordpress.com" title="The Fourth Estate">The Fourth Estate</a></li>
					
						<li><a href="http://twotrees.wordpress.com/" title="Two Trees">Two Trees</a></li>
					
						<li><a href="http://www.venturafoodhappenings.com" title="Food happenings">Food happenings</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/story/search/?category=4&menu=Music" title="Music">Music</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=22&menu=Music" title="Music Features">Music Features</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=23&menu=Music" title="Home Spun">Home Spun</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=25&menu=Music" title="Sound Check">Sound Check</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=24&menu=Music" title="On the Record">On the Record</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=26&menu=Music" title="Rational Exuberance">Rational Exuberance</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/event/search/?menu=Events" title="Events">Events</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/event/search/?category=6&menu=Events" title="Picks of the Week">Picks of the Week</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/event/today/" title="Today's Events">Today's Events</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/event/week/" title="This week's events">This week's events</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/event/search/?" title="All Events">All Events</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/event/edit/" title="Submit your Event">Submit your Event</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/story/search/?category=27" title="Dining">Dining</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=28&menu=Food/Drink" title="In Good Taste">In Good Taste</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=36&menu=Food/Drink" title="Straight Up">Straight Up</a></li>
					
					</ul>
				</li>
				
				<li class="parent"><a href="http://www.vcreporter.com/cms/story/search/?category=55&menu=Special Issues" title="Special Issues">Special Issues</a>
					<ul>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=56&menu=Best of Ventura County" title="Best Of">Best Of</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=30&menu=Dining Guide" title="Dining Guide">Dining Guide</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=57&menu=Summer Guide" title="Summer Guide">Summer Guide</a></li>
					
						<li><a href="http://www.vcreporter.com/cms/story/search/?category=53&menu=Wedding Guide" title="Wedding Guide">Wedding Guide</a></li>
					
					</ul>
				</li>
				
				<li><a href="http://www.vcreporter.com/cms/directory/search/?menu=Marketplace" title="Shop Local">Shop Local</a></li>
				
				<li><a href="http://class.avenews.com/?referrer=http://www.vcreporter.com" title="Classifieds">Classifieds</a></li>
				
			</ul>
		</div>
		<!-- Menu : End -->




		</div>
		<!--- Header Inner : End -->

	</div>
	<!-- Header : End -->



	<!-- Container : Begin -->
	<div id="container">


		<!-- Content : Begin -->
		<div id="content">


      <% advanced_search = self.controller_name == 'publishers' -%>
      <div id="analog_analytics_content">
        <div class="hotdeals">
          <%= link_to image_tag("/themes/vcreporter/images/hot_deals.png"), new_subscriber_path(:publisher_id => @publisher), :class => "lbOn #{self.controller_name}" unless @subscribed %>
        </div>
        <% if advanced_search -%>
          <div id="mainContent">
            <%= render :partial => 'layouts/offers/vcreporter/main_content' %>
          </div>
          <div id='sidebar'>
        		<script type="text/javascript"> 
        			GA_googleFillSlot("Tower"); 
        		</script>            
          </div>
        <% else -%>
          <%= render :partial => 'layouts/offers/vcreporter/main_content' %>
        <% end -%>
      </div>
    		</div>
    		<!-- Content : End -->


    		<!-- Footer : Begin -->
    		<div class="box-container" id="footer"><div class="box-br"><div class="box-tl"><div class="box-tr"><div class="box-content">

    			<a href="http://www.vcreporter.com/cms/about/company/" title="About Us">About</a> |
    			<a href="http://www.vcreporter.com/cms/about/contact/" title="Contact Us">Contact</a> | 
    			<a href="http://www.vcreporter.com/cms/about/advertise/" title="Advertise With Us">Advertise</a> | 
    			<a href="http://www.vcreporter.com/cms/contest/search/?menu=Promotions" title="Click here to view Promotions">Promotions</a> | 
    			<a href="http://www.vcreporter.com/cms/about/privacy/" title="View Our Privacy Policy">Privacy Policy</a> | 
    			<a href="http://www.lacitybeat.com" title="Visit LA CityBEAT">LA CityBEAT</a> | 
    			<a href="http://www.pasadenaweekly.com" title="Visit Pasadena Weekly">Pasadena Weekly</a> | 
    			<a href="http://www.sdcitybeat.com" title="Visit San Diego CityBEAT">San Diego CityBEAT</a> | 
    			<a href="http://www.ieweekly.com" title="Visit Inland Empire Weekly">Inland Empire Weekly</a>
    			<br /> 
    			Copyright Southland Publishing 2009. All Rights Reserved. 


    			<strong><a href="http://www.vcreporter.com/cms/accounts/login/">Login</a></strong> | <strong><a href="http://www.vcreporter.com/cms/accounts/register/">Register</a></strong>

    		</div></div></div></div></div>
    		<!-- Footer : End -->


    	</div>
    	<!-- Container : End -->
    
    <!-- Google Analytics -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try{
    var pageTracker = _gat._getTracker("UA-2792717-9");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
  	<!-- Google Analytics -->

    </body>
    </html>
