 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<head profile="http://gmpg.org/xfn/11"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="generator" content="WordPress 2.9.2" /> 
 
<title>Phoenix, Arizona AZ information including local restaurant reviews, hotel booking engine, Phoenix yellow pages and service directory.</title> 
 
<link rel="stylesheet" href="/stylesheets/phoenixorg/style.css" type="text/css" media="screen" /> 
 
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://phoenix.org/feed/" /> 
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://phoenix.org/feed/atom/" /> 
<link rel="pingback" href="http://phoenix.org/xmlrpc.php" /> 
 
<link rel="shortcut icon" href="http://phoenix.org/wp-content/themes/Phoenix/images/favicon.ico" /> 
 
 
<script src="http://phoenix.org/wp-content/themes/Phoenix/js/jquery-1.3.2.min.js" type="text/javascript"></script> 
<script src="http://phoenix.org/wp-content/themes/Phoenix/js/jquery.flow.1.0.js" type="text/javascript"></script> 
  
<script type="text/javascript" src="http://phoenix.mobify.me/mobify/redirect.js"></script> 
<script type="text/javascript">try{_mobify("http://phoenix.mobify.me/");} catch(err) {};</script> 
 
<link rel="alternate" type="application/rss+xml" title="Phoenix.org &raquo; Home Comments Feed" href="http://phoenix.org/feed/" /> 
<link rel='stylesheet' id='contact-form-7-css'  href='http://phoenix.org/wp-content/plugins/contact-form-7/styles.css?ver=2.1.1' type='text/css' media='all' /> 
<link rel='stylesheet' id='sociable-front-css-css'  href='http://phoenix.org/wp-content/plugins/sociable/sociable.css?ver=2.9.2' type='text/css' media='' /> 
<script type='text/javascript' src='http://phoenix.org/wp-includes/js/jquery/jquery.js?ver=1.3.2'></script> 
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://phoenix.org/xmlrpc.php?rsd" /> 
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://phoenix.org/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Phoenix.org' href='http://phoenix.org' /> 
<meta name="generator" content="WordPress 2.9.2" /> 
 
<!-- All in One SEO Pack 1.6.10 by Michael Torbert of Semper Fi Web Design[339,357] --> 
<meta name="keywords" content="Phoenix, Phoenix Arizona, Phoenix AZ, AZ, Mesa, Peoria, Tempe, Chandler, Scottsdale, Gilbert, Fountain Hills, Queen Creek, Sun City, Phoenix Service Directory, Phoenix Hotels, Book a hotel in Arizona, Travel to Phoenix, Visit Phoenix, Phoenix Jobs, Phoenix Homes and local Arizona real estate, Phoenix Classifieds, local politics, Arizona homes, Mesa Business." /> 
<link rel="canonical" href="http://phoenix.org" /> 
<!-- /all in one seo pack --> 

<%= render :partial => "layouts/offers/#{@publisher.theme}/stylesheets_and_javascript" %>
<%= render :partial => "layouts/offers/standard/facebook_metadata" %>
<%= stylesheet_link_tag "certificates", :media => "all" %>
<%= stylesheet_link_tag "#{@publisher.label}/certificates" %>
 
</head> 
 
<body> 
	<div id="wrap_head"> 
		<div id="wrap"> 
		
		<div id="header"> 
			
			<div id="logo"> 
				<h1><a href="http://phoenix.org">Phoenix.org</a></h1> 
			</div> 
			
			<div id="phoenixsearch"> 
            	<form method="get" id="searchform" action="http://phoenix.org/"> 
					<p><input type="text" name="s" id="s" value="Search Phoenix!" onfocus="if (this.value == 'Search Phoenix!') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search Phoenix!';}" /></p> 
					<p><button id="search" type="submit">Search</button></p> 
				</form> 
			</div><!-- end search--> 
			
			<div id="date"> 
				<!--Thursday, February 25th 2010 --> 		</div> 
		</div><!-- end header--> 
		
		<div id="navs"> 
			<div id="main_navs"> 
                
                
    <!-- NAVT v1.0.34 -->    
    <ul class='menu main-navs2 safari v en-US'> 
        <li class='erow main-navs2_item page_item home-page pagetab'><a href='http://phoenix.org' title='Home' class='navt_plink'>Home</a></li> 
        <li class='orow main-navs2_item page_item neighborhood-news-page pagetab'><a href='http://phoenix.org/neighborhood-news/' title='Neighborhood News' class='navt_plink'>Neighborhood News</a></li> 
        <li class='erow main-navs2_item page_item hotels-uri elinktab'><a href='http://phoenix.org/hotels/' title='Hotels' class='navt_elink'>Hotels</a> </li> 
        <li class='orow main-navs2_item page_item columns-uri elinktab'><a href='http://phoenix.org/columns' title='Columns' class='navt_elink'>Columns</a> </li> 
        <li class='erow main-navs2_item page_item jobs-page pagetab'><a href='http://phoenix.org/jobs/' title='Jobs in Phoenix' class='navt_plink'>Jobs in Phoenix</a></li> 
        <li class='orow main-navs2_item page_item calendar-uri elinktab'><a href='http://phoenix.org/category/events/month/' title='Calendar' class='navt_elink'>Calendar</a> </li> 
        <li class='erow main-navs2_item page_item yellowpages-uri elinktab'><a href='http://phoenix.org/yellowpages' title='Yellowpages' class='navt_elink'>Yellowpages</a> </li> 
        <li class='orow main-navs2_item page_item business-pages-page pagetab'><a href='http://phoenix.org/business-pages/' title='Business Pages' class='navt_plink'>Business Pages</a></li> 
    </ul>        
    <!--/NAVT--> 
 
                
            </div><!-- end main navs--> 
			
			<div id="topnav_right" style="cursor: pointer;" onclick="location.href='http://www.phoenix.org/weather';"> 
        <!-- <div><img src="http://ja.meswilson.com/blog/weatherimages/30.png" alt="Partly Cloudy" style="float:left; color:#faf7cf; margin-right:4px;" /> 
<span style="font-size: 150%; color:#faf7cf; margin-right:5px; margin-top:3px; float:left;">62 &deg;F</span> 
<span style="color:#faf7cf; float:left; margin-top:8px; font-size:11px;">(Feels like 62 &deg;F)</span>
        </div> -->			
      </div> 
		</div><!-- end navs--> 
		
		<div id="subnavs"> 
		
    <!-- NAVT v1.0.34 -->    
    <ul class='menu sub-navs safari v en-US'> 
        <li class='erow sub-navs_item page_item headlines-cat categorytab'><a href='http://phoenix.org/category/headlines/' title='Headlines' class='navt_clink'>Headlines</a></li> 
        <li class='orow sub-navs_item page_item featured-attractions-page pagetab'><a href='http://phoenix.org/featured-attractions/' title='Featured Attractions' class='navt_plink'>Featured Attractions</a></li> 
        <li class='erow sub-navs_item page_item golf-page pagetab'><a href='http://phoenix.org/golf/' title='Golf' class='navt_plink'>Golf</a></li> 
        <li class='orow sub-navs_item page_item weather-page pagetab'><a href='http://phoenix.org/weather/' title='Phoenix, AZ Weather' class='navt_plink'>Phoenix, AZ Weather</a></li> 
        <li class='erow sub-navs_item page_item write-for-us-uri elinktab'><a href='http://phoenix.org/contact' title='Write for Us' class='navt_elink'>Write for Us</a> </li> 
        <li class='orow sub-navs_item page_item advertise-page pagetab'><a href='http://phoenix.org/advertise/' title='Advertise With Phoenix.org' class='navt_plink'>Advertise With Phoenix.org</a></li> 
        <li class='erow sub-navs_item page_item contact-page pagetab'><a href='http://phoenix.org/contact/' title='Contact Us' class='navt_plink'>Contact Us</a></li> 
    </ul>        
    <!--/NAVT--> 
 
		</div> 
		
		<div id="header_ads"> 
			<div class="header_ads_125"><a href="http://phoenix.org/wp-content/plugins/adrotate/adrotate-out.php?trackerid=15 " target="_blank"><img src="http://phoenix.org/wp-content/themes/Phoenix/images/ads/PSP.jpg" alt="ad1" /></a></div> 
			<div class="header_ads_125"><a href="http://phoenix.org/wp-content/plugins/adrotate/adrotate-out.php?trackerid=16 " target="_blank"><img src="http://phoenix.org/wp-content/themes/Phoenix/images/ads/PPC.jpg" alt="ad1" /></a></div> 
			<div class="header_ads_125"><a href="http://phoenix.org/wp-content/plugins/adrotate/adrotate-out.php?trackerid=17" target="_blank"><img src="http://phoenix.org/wp-content/themes/Phoenix/images/ads/HSA.jpg" alt="ad1" /></a></div> 
			<div class="header_ads_125"><a href="http://phoenix.org/wp-content/plugins/adrotate/adrotate-out.php?trackerid=18" target="_blank"><img src="http://phoenix.org/wp-content/themes/Phoenix/images/ads/125x125.jpg" alt="ad1" /></a></div> 
			<div class="header_ads_125"><a href="http://phoenix.org/wp-content/plugins/adrotate/adrotate-out.php?trackerid=19" target="_blank"><img src="http://phoenix.org/wp-content/themes/Phoenix/images/ads/125x125.jpg" alt="ad1" /></a></div> 
			<div class="header_ads_125_last"><a href="http://phoenix.org/wp-content/plugins/adrotate/adrotate-out.php?trackerid=20" target="_blank"><img src="http://phoenix.org/wp-content/themes/Phoenix/images/ads/125x125.jpg" alt="ad1" /></a></div> 
		</div> 
	
		<div style="clear: both;"> </div>				
                
	  <div id="content">       
      <div id="analog_analytics_content">
        <%# render :partial => 'layouts/offers/sdcitybeat/hotdeals' %>
       <%= yield %>
       </div>		 	
		</div><!--end content--> 
		
		
                
	</div><!--end wrap--> 
	
	<div style="clear:both;"> </div> 
	
	<div id="featured_banners_wrap"> 
		<div id="featured_banners"> 
						
							<a href="http://phoenix.org/business-pages/accounting-affinity-llc/" title="Accounting Affinity, LLC"> 
					<img src="http://phoenix.org/wp-content/uploads/2010/02/Affinity-Accounting-LLC1.png" alt="featured"/> 
				</a> 
				            
	        			
							<a href="http://phoenix.org/business-pages/pool-service-phoenix/" title="Pool Service Phoenix"> 
					<img src="http://phoenix.org/wp-content/uploads/2010/02/business.jpg" alt="featured"/> 
				</a> 
				            
	        			
							<a href="http://phoenix.org/business-pages/home-security-alarm-phoenix/" title="Home Security Alarm Phoenix"> 
					<img src="http://phoenix.org/wp-content/uploads/2010/02/security.jpg" alt="featured"/> 
				</a> 
				            
	        			
							<a href="http://phoenix.org/business-pages/phoenix-pest-control-and-insect-extermination/" title="Phoenix Pest Control and Insect Extermination"> 
					<img src="http://phoenix.org/wp-content/uploads/2010/02/pest.jpg" alt="featured"/> 
				</a> 
				            
	         
		</div> 
	</div> 
	
	</div><!--end wrap_head--> 
	
	
	
	<div id="footer_wrap"> 
		<div id="footer"> 
    	  	<div id="footer_left"> 
           	  	<div class="yanone_footer">Phoenix.org Flickr Pool</div> 
           	  	<div style="clear:both;"></div> 
           	  	<!-- Quick Flickr start --> 
	<div><div class="flickr">				<a  target="_blank" href="http://www.flickr.com/photos/43985428@N08/4049631922/"><img class="flickr_photo" alt="PhoenixDotOrg posted a photo:" title="PhoenixDotOrg posted a photo:" src="http://farm3.static.flickr.com/2661/4049631922_b6ab9447b8_s.jpg" /></a><a  target="_blank" href="http://www.flickr.com/photos/43985428@N08/4049631882/"><img class="flickr_photo" alt="PhoenixDotOrg posted a photo:" title="PhoenixDotOrg posted a photo:" src="http://farm3.static.flickr.com/2751/4049631882_a4b4068e05_s.jpg" /></a><a  target="_blank" href="http://www.flickr.com/photos/43985428@N08/4048885709/"><img class="flickr_photo" alt="PhoenixDotOrg posted a photo:" title="PhoenixDotOrg posted a photo:" src="http://farm3.static.flickr.com/2777/4048885709_ab14648834_s.jpg" /></a><a  target="_blank" href="http://www.flickr.com/photos/43985428@N08/4049631866/"><img class="flickr_photo" alt="PhoenixDotOrg posted a photo:" title="PhoenixDotOrg posted a photo:" src="http://farm3.static.flickr.com/2732/4049631866_3f31d30520_s.jpg" /></a><a  target="_blank" href="http://www.flickr.com/photos/43985428@N08/4039412700/"><img class="flickr_photo" alt="PhoenixDotOrg posted a photo:" title="PhoenixDotOrg posted a photo:" src="http://farm3.static.flickr.com/2621/4039412700_196b0d6e7c_s.jpg" /></a>			</div></div><!-- Quick Flickr end --> 
					<div style="clear:both;"></div> 
				<div><a target="_blank" style="float:left; margin-top:5px; font-size:12px; color:#ffffff; text-decoration:none;" href="http://www.flickr.com/groups/phoenixdotorg/pool/">Join the Phoenix.org Flickr Pool!</a></div> 
				
            </div> 
            
            <div id="footer_right"> 
            	<div class="connected"> 
	            	<div class="yanone_footer">Subscribe</div> 
	            	<ul> 
	            		<li><a href="http://phoenix.org/feed">Phoenix.org</a></li> 
	            		<li><a href="http://phoenix.org/category/headlines/feed">Headlines</a></li> 
	            		<li><a href="http://phoenix.org/category/columns/feed/">Columns</a></li> 
	            		<li><a href="http://phoenix.org/yellowpages/xml.php?type=rss_recent_listings">Yellowpages</a></li> 
	            		<li><a href="http://hotjobs.yahoo.com/rss/0/USA/AZ/Phoenix/-/-">Jobs</a></li> 
	            	</ul> 
            	</div> 
            	
            	<div class="page_links"> 
	            	<div class="yanone_footer">Phoenix.org</div> 
	            	<br> 
	            	<ul> 
	            		<li><a href="http://phoenix.org/contact">Advertise</a></li> 
	            		<li><a href="http://phoenix.org/contact">Write For Us!</a></li> 
	            		<li><a href="http://phoenix.org/submit-an-event">Submit an Event</a></li> 
	            		<li><a href="http://phoenix.org/archive">Archives</a></li> 
	            		<li><a href="http://phoenix.org/contact">Contact</a></li> 
	            	</ul> 
            	</div> 
            	
            	<div class="page_links" > 
	            	<div class="yanone_footer">Columns</div> 
	            	<br> 
	            	
					
										
					<ul id="cat_left"> 
						<li>	<a href="http://phoenix.org/category/columns/business-and-politics/" title="View all posts filed under Business and Politics">Business and Politics</a></li><li> 
	<a href="http://phoenix.org/category/columns/entertainment/" title="Information on Entertainment in and around Phoenix, Arizona. In this category will will discuss, share and highlight some of the companies, locations, attractions and many other aspects of life in Phoenix, Arizona. If you are looking for a new place to hang out then this is the category to do it in. If you are looking for a new restaurant then spend some time here.">Entertainment</a></li><li> 
	<a href="http://phoenix.org/category/columns/food-and-dining/" title="Category Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin justo sit amet turpis ornare et malesuada purus rhoncus. Integer ipsum ante, consequat nec congue eget, aliquam ac risus. Aliquam condimentum nunc sed nulla vestibulum non ultricies purus blandit.">Food and Dining</a></li><li> 
	<a href="http://phoenix.org/category/columns/home-and-garden/" title="View all posts filed under Home &amp; Garden">Home &amp; Garden</a></li>					</ul> 
						
				</div> 
				
				<div class="page_links" > 
	            	<div class="yanone_footer"></div> 
	            	<br> 
	            	<ul id="cat_right"> 
						<li> 
	<a href="http://phoenix.org/category/columns/lifestyle/" title="Category Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin justo sit amet turpis ornare et malesuada purus rhoncus.">Lifestyle</a></li><li> 
	<a href="http://phoenix.org/category/columns/real-estate/" title="This is just a description about the real estate category. ">Real Estate</a></li><li> 
	<a href="http://phoenix.org/category/columns/sports/" title="View all posts filed under Sports">Sports</a></li><li> 
	<a href="http://phoenix.org/category/columns/travel/" title="View all posts filed under Travel">Travel</a></li>					</ul> 
				</div> 
            	
           </div><!--end footer_right--> 
            
            <div style="clear:both;"></div> 
            
        </div><!--end footer--> 
        
				
		<div id="footer_desc"> 
						
	        <div id="footer_desc_col1"> 
<p><strong>Phoenix.org: An Arizona local resource</strong></p> 
<p style="text-align: left;">Phoenix.org is a local resource and website that provides residents of the Valley of the Sun with information regarding Phoenix, Arizona. In addition to information on the Greater Phoenix Metro area you will also find information on other locations in Arizona such as Mesa, Tempe, Scottsdale, Gilbert, Chandler, Fountain Hills, Apache Junction, Avondale, Sun City, Queen Creek, Peoria and Ahwatukee.</p> 
<p><strong>Columns | Neighborhood News | Hyperlocal information | Local Event Calendar</strong></p> 
<p style="text-align: left;">We provide residents of the Phoenix area with information, provided through several weekly columns, on local real estate, local sports, local business, Arizona politics, current Valley of the Sun events, Local Phoenix entertainment, information on travel throughout Arizona and the American Southwest, local gardening, and even an advice column. You can also visit us for local news and hyperlocal Phoenix attractions and events. If you know of an event that you would like to highlight in the area then feel free to add it to our Phoenix events calendar. If you are looking for local events then we recommend that you spend some time on either our calendar or spend some time on our “Neighborhood News” page.</p> 
<p><strong>Phoenix Weather Report | Real Time Driving Conditions and Report</strong></p> 
<p style="text-align: left;">Phoenix Hotels are not all though, we also provide local current Phoenix weather forecasts and local driving conditions and traffic situations. Our website is a great resource whether you are wondering what to wear or what driving route to take to work this morning.</p> 
</div> 
<div id="footer_desc_col2"> 
<p><strong>Phoenix Yellow Pages | Service Directory | Find Arizona Service Providers</strong></p> 
<p style="text-align: left;">In addition to our business reviews Phoenix.org also provides a complete local Phoenix Yellow Pages and service directory. We recommend all business owners to include their business in our directory. We have literally hundreds of categories of local Arizona businesses with thousands of local businesses included in the categories. Just a few of the categories that we provide information on are Accountants, Doctors, Attorney’s and Lawyers, Auto Repair, Dentists, Electricians, Plumbers and many, many more. Next time you are looking for a quality service provider in Phoenix look no further than our local yellow pages and service directory.</p> 
<p><strong>Phoenix Hotels | Book Phoenix Hotel | Arizona Lodging</strong></p> 
<p style="text-align: left;">We also provide information on and the ability to book a hotel in the local area. Our Phoenix hotel booking engine will not only ensure that you reserve the room and lodging that you need for the time that you need it but it will also provide you with a list of the lowest prices on hotel rooms throughout Phoenix. Our booking engine can provide you with information and the opportunity to reserve and pay for hotels in hundreds of cities and countries in addition to Phoenix.</p> 
<p><strong>Local Job Listings | Post a Job Listing</strong></p> 
<p style="text-align: left;">If you are hoping to not head in to work at all then check our links to local Phoenix Job listings. We have links to current employment opportunities in the area including manufacturing jobs, accounting jobs, legal jobs, healthcare jobs, we have links for listings for jobs in the hospitality industry and many more industries as well.</p> 
</div> 
<div id="footer_desc_col3"> 
<p><strong>Local Business Reviews | Request a Review | Hotel and Restaurant</strong></p> 
<p style="text-align: left;">Phoenix.org also specializes in reviewing local Phoenix businesses and attractions (and for travel related entities we have also been known to travel outside of Phoenix throughout the American Southwest area) and highlighting them on our website. We have reviewed businesses such as restaurants, hotels, travel agents, day spas, and tourism related businesses. We also review local service businesses such as pool service, pest control, carpet cleaning, home security and building contractors. If you are employed by or own a business that you would like reviewed by the staff of Phoenix.org, or if you know of a business that you would like to have reviewed then contact us on our “contact us” page and let us know what business you are interested in having reviewed. We will then contact the owners of the business and schedule a time to review it.</p> 
</div> 
	            
	            	
		</div> 
				
		<div style="clear:both;"> </div> 
    
    	<div id="footer_left2" style="margin-top:15px; margin-bottom:10px; color:#f4846a;"> 
        	<p>&copy; 2010 Phoenix.org | All Rights Reserved</p> 
        </div> 
    
    </div><!--end footer wrap--> 
    
    
	
	<div style="clear: both;"> </div> 
	
	<!-- Start of StatCounter Code --> 
	<script type="text/javascript"> 
		var sc_project=5341037;
		var sc_invisible=1;
		var sc_partition=31;
		var sc_click_stat=1;
		var sc_security="b049966e";
	</script> 
	
	<script type="text/javascript"
	src="http://www.statcounter.com/counter/counter.js"></script><noscript><div 
	class="statcounter"><a title="free hit counter"
	href="http://www.statcounter.com/" target="_blank"><img 
	class="statcounter"
	src="http://c.statcounter.com/5341037/0/b049966e/1/"
	alt="free hit counter" ></a></div></noscript> 
	<!-- End of StatCounter Code --> 
	
	<!--Google Analytics--> 
	<script type="text/javascript"> 
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script> 
	<script type="text/javascript"> 
	try {
	var pageTracker = _gat._getTracker("UA-12311509-1");
	pageTracker._trackPageview();
	} catch(err) {}</script> 
	<!--end Google Analytics--> 
	
</body> 
</html>