<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Contact Us</h1>

    <h2>Main Office</h2>
    <p id="publisher">
      {% if publisher.address_line_1 != empty %}
	    <span>{{ publisher.address_line_1 }}</span>
	  {% endif %}
	  {% if publisher.address_line_2 != empty %}
	    <span>{{ publisher.address_line_2 }}</span>
	  {% endif %}
	  {% if publisher.city != empty and publisher.state != empty and publisher.zip != empty %}
	    <span>{{ publisher.city }}, {{ publisher.state }} {{ publisher.zip }}</span>
	  {% endif %}
    </p>

    {% if publisher.support_email_address != empty %}
    <h2 style="margin-top: 18px;">Customer Service &amp; Technical Support</h2>
    <p>
      Please email <a href="mailto:{{ publisher.support_email_address }}" target="_blank">{{ publisher.support_email_address }}</a>.
	   {% if publisher.support_phone_number != empty %}
	     Or call {{ publisher.support_phone_number }}.
       {% endif %}
    </p>
    {% endif %}

    {% if publisher.sales_email_address != empty %}
    <h2 style="margin-top: 18px;">To have your business featured</h2>
    <p>
	  Please email <a href="mailto:{{ publisher.sales_email_address }}" target="_blank">{{ publisher.sales_email_address }}</a>.
	   {% if publisher.formatted_phone_number != empty %}
	     Or call {{ publisher.formatted_phone_number }}.
       {% endif %}
	</p>
	{% endif %}
  </div>
</div>