{% comment %}expects a local variable for current page, acceptable values are :deal, :coupons, :bonusdeals{% endcomment %}

<div id="main_tabs">
	<div class="main_tab">
		{% if current_page == "deal" %}
			{% assign href_css_class = "main_tab_selected" %}      
		{% else %}
			{% assign href_css_class = "main_tab_not_selected" %}
		{% endif %}
		<a href="{{ publisher.todays_daily_deal_path }}" class="{{ href_css_class }}">DEAL of the DAY</a>
	</div>
 
	<div class="main_tab future_tab">
		{% if current_page == "coupons" %}
			{% assign href_css_class = "main_tab_selected" %}      
		{% else %}
			{% assign href_css_class = "main_tab_not_selected" %}
		{% endif %}
		<a href="{{ publisher.offers_path }}" class="{{ href_css_class }}">Coupons</a>
	</div>

	<div class="main_tab future_tab">
		{% if current_page == "gift_certificates" %}
			{% assign href_css_class = "main_tab_selected" %}      
		{% else %}
			{% assign href_css_class = "main_tab_not_selected" %}
		{% endif %}
		<a href="{{ publisher.gift_certificates_path }}" class="{{ href_css_class }}">Deal Certificates</a>
	</div>
	<div class="clear"></div>


	<div class='tab_content {{ current_page }}_content'>
		{% if current_page == "coupons" or current_page == "gift_certificates" %}
		<div id="analog_analytics_content">
			{{ content_for_layout }}
		</div>
		{% else %}
		{% include with_theme "layouts/shared/dd_nav" %}
			{{ content_for_layout }}
		{% endif %}
		<div class="clear"></div>
	</div>               
</div><!-- /main_tabs -->


