<div id="colswrap">
<div id="main_column">
	<div class="content_box"><!-- deal info -->
		<h1 id="value_prop">{{ daily_deal.value_proposition }}</h1>
		<div id="dashboard"><!--dashboard -->
			<div id="price_tag">
			
				{% if daily_deal.price.is_fractional? %}
				  <div id="daily_deal_price" class="decimal">
					{{ daily_deal.price | currency: 2, publisher.currency_symbol }}
				  </div>
				{% else %}
				  <div id="daily_deal_price">
					{{ daily_deal.price | currency: 0, publisher.currency_symbol }}
				  </div>
				{% endif %}
				
				<div id="buy_now">
				       {% if daily_deal.sold_out? %}
				      <div id="sold_out" class="dd_button"><span>Sold Out</span></div>
				       {% elsif daily_deal.over? %}
				       <div id="deal_over" class="dd_button"><span>Deal Over</span></div>
				       {% elsif daily_deal.active? %}
				       <a id="buy_now_button" class="dd_button" href="{{ daily_deal.buy_now_path }}" name="buy_now_button"><span>Buy Now</span></a>
				       {% else %}
				      <div id="not_yet" class="dd_button"><span>Not Yet Available</span></div>
				       {% endif %}
				</div><!-- /buy_now -->
			</div><!-- /price_tag -->
			<div id="deal_specs">
				
				<div>
					<table id="value_summary" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th>Value</th>
							<th>Cost</th>
							<th class="savings">Savings</th>
						</tr>
						
						{% if daily_deal.price.is_fractional? %}
						  <tr class="decimal">
							<td>{{ daily_deal.value | currency: 2, publisher.currency_symbol }}</td>
							<td>{{ daily_deal.price | currency: 2, publisher.currency_symbol }}</td>
							<td>{{ daily_deal.savings_as_percentage | percentage }}</td>
						  </tr>
						{% else %}
						  <tr>
							<td>{{ daily_deal.value | currency: 0, publisher.currency_symbol }}</td>
							<td>{{ daily_deal.price | currency: 0, publisher.currency_symbol }}</td>
							<td>{{ daily_deal.savings_as_percentage | percentage }}</td>
						  </tr>
						{% endif %}
						
					</table>
				</div>
		      	
				<div id="timer">
					<table id="timer" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="70" align="center" valign="middle" rowspan="2"><img src="/themes/stv/images/graphics/clock.png" width="34" height="34" alt="" /></td>
							<td id="time_left_to_buy_label">Time Left to Buy</td>
						</tr>
						<tr>
							<td id="time_left_to_buy">{{ daily_deal.time_remaining_display }}</td>
						</tr>
					</table><!-- /timer -->
				</div>
				
			</div><!-- /deal_specs -->
		</div><!-- /dashboard -->

		<div id="deal_photo"><img src="{{ daily_deal.photo.url }}" alt="{{ advertiser.name }}" /></div>
		<div class="clear"></div>
	
	
	
		<ul id="deal_tabs"> 
			<li class="current_deal_tab"><a id="tab_overview">Overview</a></li> 
			<li><a id="tab_location">Location</a></li>
			<li style="{%if daily_deal.reviews == empty %}display:none{%endif%}"><a id="tab_reviews">Reviews</a></li>
		</ul> 
		
		<div id="deal_tab_content"> 
			<div id="tab_overview_content">
				<div id="description" class="six_col">
				     <h2>Description</h2>
				     {{ daily_deal.description }}
				     {% if daily_deal.fine_print != "" %}
				</div>
				<div id="highlights" class="three_col">
				     {% if daily_deal.highlights != "" %}
				     <h2>Highlights</h2>
				     {{ daily_deal.highlights }}
				     {% endif %}
				</div>
				<div class="six_col">
					 <h2>Fine Print</h2>
				     {{ daily_deal.terms }}
				     {% endif %}
				</div>
				<div class="clear"></div>

			</div><!--/tab_content_location --> 
			
			<div id="tab_location_content" class="deal_tab_hidden">
				{% if advertiser.address? %}
				<div id="advertiser_map">
					<a id="map" href="{{ advertiser.map_url }}" target="_blank"><img src="{{ daily_deal | map_image_url_for: "290x246", true }}" /></a>
				</div><!-- /map -->
				{% endif %}

				<div id="advertiser">
					<img id="advertiser_logo" src="{{ advertiser.logo.url }}" alt="{{ advertiser.name }}" /><br />
					<p class="advertiser_name">{{ advertiser.name }}</p>
					
					{% if advertiser.num_stores == 1 %}
						{{ store.formatted_phone_number }}
					{% endif %}
					
					{% if advertiser.website_url != empty %}
						<a href="{{ advertiser.website_url }}">{{ advertiser.website_url | downcase | replace: 'http://', '' }}</a>
					{% endif %}
					
					{% for store in advertiser.stores %}
						<div class="location_container" style="{% if forloop.index > 3 %}display:none{% endif %}">                  
							<p>
					          {% if store.address_line_1 != empty %}
					          <span>{{ store.address_line_1 }}</span>
					          {% endif %}
					          {% if store.address_line_2 != empty %}
					          <span>{{ store.address_line_2 }}</span>
					          {% endif %}
					
					          {% if store.city != empty and store.state != empty and store.zip != empty %}
					          <span>{{ store.city }}, {{ store.state }} {{ store.zip }}</span>
					          {% endif %}
					          
					          {% if store.formatted_phone_number != empty %}
					          <span>{{ store.formatted_phone_number }}</span>
					          {% endif %}        
					         </p>
						</div><!-- /location_container -->
					{% endfor %}
					
					{% if advertiser.num_stores > 3 %}
						<a id="see_all_locations" href="#" onclick="javascript:$$('div.location_container').each(Element.show); $('see_all_locations').hide(); return false">see all locations</a>
					{% endif %}
									
				</div><!-- /advertiser -->

				<div class="clear"></div>
			</div><!--/tab_content_location --> 
			
			<div id="tab_reviews_content" class="deal_tab_hidden"> 
				 {% if daily_deal.reviews != "" %}
				 <h2>Reviews</h2>
				 {{ daily_deal.reviews }}
				 {% endif %}
			</div><!-- /tab_content_reviews --> 
			
		</div><!--/tab content --> 
		
	</div><!-- /deal info-->
	
</div><!-- /main_column -->

<div id="sidebar">
	<h4 class="heading"><span class="title">Share this deal:</span></h4>
	<div id="share" class="content_box">
			<a href="/daily_deals/{{ daily_deal.id }}/facebook" class="share_button share_button_facebook" id="facebook_link" onclick="return facebook_popup('/daily_deals/{{ daily_deal.id }}/facebook?popup=true')" target="_blank" title="Share coupon on Facebook"><img src="/themes/stv/images/buttons/facebook.png" alt="share on facebook" /></a>
			<a href="{{ daily_deal.twitter_url }}" class="share_button share_button_twitter" target="_blank"><img src="/themes/stv/images/buttons/twitter.png" alt="share on twitter" /></a>
			<a href="mailto:?subject={{ daily_deal.publisher_prefix }}: {{ daily_deal.value_proposition }}&amp;body=Check out this deal at {{ daily_deal.url }}" class="share_button last share_button_mail"><img src="/themes/stv/images/buttons/mail.png" alt="Email this to a friend" /></a>
			<div class="clear"></div>
			
			{% if publisher.enable_daily_deal_referral %}
			<div id="refer_friend">
			  <div id="star"><span><strong>{{ publisher.daily_deal_referral_credit_amount | currency: 0, publisher.currency_symbol }}</strong></span></div>
			  <p>When someone you refer purchases their first deal.</p>
			  <a href="{{ publisher.refer_a_friend_path }}"><img src="/themes/stv/images/buttons/refer_a_friend.png" width="142" height="28" alt-"Refer A Friend" /></a>
			</div>
			{% endif %}
	</div><!-- /share -->
	
	{% if daily_deal.side_deals.size > 0 %}
	<h4 class="heading"><span class="title">Other Great Deals</span></h4>
	<div id="side_deals" class="content_box other_deal_tracking">
	       {% for side_deal in daily_deal.side_deals %}
	         <div class="side_deal_wrap">
				<h5 class="side_deal_value_prop"><a class="side_deal" href="{{ side_deal.url }}" target="_blank">{{ side_deal.value_proposition }}</a></h5>
				<p class="side_deal_value_prop_sub">{{ side_deal.value_proposition_subhead }}</p>
				<div class="side_deal_text">
				  {% if side_deal.price.is_fractional? %}
					<div class="side_deal_price decimal">{{ side_deal.price | currency: 2, publisher.currency_symbol }}</div>
					<p class="side_deal_value decimal">{{ side_deal.value | currency: 2, publisher.currency_symbol }} Value</p>
				  {% else %}
				    <div class="side_deal_price">{{ side_deal.price | currency: 0, publisher.currency_symbol }}</div>
					<p class="side_deal_value">{{ side_deal.value | currency: 0, publisher.currency_symbol }} Value</p>
				  {% endif %}
				</div><!-- /side_deal_text -->
				<div class="side_deal_thumb"><img src="{{ side_deal.photo.facebook_url }}" alt="" /></div>
				<div class="clear"></div>
				<a class="view_deal" href="{{ side_deal.url }}" target="_blank"><img src="/themes/stv/images/buttons/view_deal.png" width="104" height="28" alt-"Veiw Deal" /></a>
				<div class="clear"></div>
	          </div><!-- /side_deal_wrap -->
	       {% endfor %}
	</div><!-- /side_deals -->
	{% endif %}
	
	{% if fb_page != '' %}
	<h4 class="heading"><span class="title">Find us on Facebook</span></h4>
	<div class="content_box facebook_likebox">
	
		<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FSTV-Daily-Deals%2F232740130083293&amp;width=220&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23ffffff&amp;stream=false&amp;header=false&amp;height=300" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:300px;" allowTransparency="true"></iframe>
    
	</div><!-- /facebook like box -->
	{% endif %}
	
	<div class="content_box nohead">
		<a href="http://twitter.com/#!/STVDailyDeals" target="_blank" class="twitterfollow">Follow us on Twitter</a>
	</div>
	
	
	
</div><!-- /sidebar -->
</div><!-- /colswrap -->
