<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=iso-8859-2" />
  
  <title>
    <%= @publisher.name %>: Deal Certificates
  </title>
  <%= stylesheet_link_tag "reset", "certificates", :media => "all" %>
  <%= stylesheet_link_tag "#{@publisher.label}/certificates" %>
  
  <!--[if IE 6]>
    <%= stylesheet_link_tag "ie6", :media => "all" %>
  <![endif]-->
  
  <%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
</head>

<body class="iframe">
  <div class="iframe" id="analog_analytics_content">
<%= yield %>
  </div>
</body>
</html>
