<% if @daily_deal.side_deals.size > 0 %>
<h4>Περισσότερα Deals</h4>
<div id="side_deals" class="content_box other_deal_tracking">
	<% @daily_deal.side_deals[0,2].each do |side_deal| %>
	<div class="side_deal_wrap">
		<p class="side_deal_value_prop"><a class="side_deal" href="<%= market_aware_daily_deal_url(side_deal) %>" target="_blank"><%= side_deal.value_proposition %></a></p>
		<div class="side_deal_text">
			<div class="side_deal_price"><%= formatted_price_for(side_deal.price, side_deal.currency_symbol) %></div>
			<p class="side_deal_value">από: <%= formatted_price_for(side_deal.value, side_deal.currency_symbol) %></p>
			<a class="view_deal" href="<%= daily_deal_path(side_deal) %>">ΠΡΟΒΟΛΗ</a>
		</div><!-- /side_deal_text -->
		<div class="side_deal_thumb">
			<img src="<%= side_deal.photo.url(:facebook) %>" alt="" />
		</div>
		<div class="clear"></div>
	</div><!-- /side_deal_wrap -->
	<% end -%>
</div><!-- /side_deals -->
<% end %> 