<div class="main_column">
	<div class="content_box"><!-- deal info top row -->
		<h1 class="value_prop"><%= @daily_deal.value_proposition %></h1>
		<% if @daily_deal.value_proposition_subhead.present? -%>
		  <h2 class="value_prop_subhead"><%= @daily_deal.value_proposition_subhead %></h2>
		<% end -%>
        <%= render :partial => with_theme('shared/deal_photo_and_share'), :locals => { :daily_deal => @daily_deal, :publisher => @publisher } %>
        <%= render :partial => with_theme('shared/dashboard'), :locals => { :daily_deal => @daily_deal, :publisher => @publisher } %>
		
		<div class="clear"></div>
	</div><!-- /deal info top row -->
	
	<div><!-- deal info bottom row -->
	
		<%= render :partial => with_theme('shared/deal_tab_content'), :locals => { :daily_deal => @daily_deal, :publisher => @publisher } %>
		
	</div><!-- /deal info bottom row -->

	<% if @publisher.enable_daily_deal_referral %>
	<a href="<%= refer_a_friend_publisher_consumers_path(@publisher) %>" id="refer_friend">
		<span>GET <%= number_to_currency(@publisher.daily_deal_referral_credit_amount, :precision => 0) %><br />Groucher bucks!<br /> REFER A FRIEND</span>
	</a>
	<% end %> 

</div><!-- /main_column -->
<%= render :partial => with_theme('shared/sidebar'), :locals => { :daily_deal => @daily_deal, :publisher => @publisher } %>