<div class="page_column_12">
	<h1>Feature Your Business</h1><br/>
	<p>Promoting your business with DealsForSchools.com is a great way to introduce new customers to your business and build the image you want in the community. Also, you get to help Schools raise money for things they need!</p><br/>
	<p>If you have a "family friendly" business and would like to learn more about this great opportunity, please don't hesitate to <a href="{{ publisher.contact_path }}" class="{% if_page_name == 'daily_deals#contact'%}current_page{%endif_page_name%}">contact us</a>!</p>
	<h2>Customer Service &amp; Technical Support</h2>
		<p>Please email <a href="mailto:{{ publisher.support_email_address }}">{{ publisher.support_email_address }}</a> or call {{ publisher.formatted_phone_number }}</p>
		
		<h2>To have your business featured</h2>
		<p>Please email <a href="mailto:{{ publisher.sales_email_address }}">{{ publisher.sales_email_address }}</a></p>
	
</div>

		