<div class="free_offers">
<%= public_index_notice(@publisher) %>
<!-- <%= render :partial => "offers/standard/pagination", :locals => { :position => "top" } %> -->
<div class="left_column">
    <%= render :partial => "search" %>
        
<!--
    <div id="advanced_search">
    <%= link_to_advanced_search("Advanced Search", @publisher, @text, @postal_code, @radius, @category, @categories, @iframe_height, @iframe_width, @layout) %>
    </div>
-->
    
    <%= render :partial => "offers/categories", :object => @publisher_categories %>
</div><!-- /left_column -->
<div class="right_column">
	<div class='top_navigation'>
        <h1><%= t(:coupon_directory)%></h1>
        <div class='pagesize'><%= t(:page_size)%> <%= select_tag "page_size", options_for_select([ @page_size, 4, 10, 20, 50 ].compact.uniq.sort, @page_size), :id => "page_size_select" %></div>
     </div>
    <div class="<%= @publisher.theme %>" id="offers">
        <%= render :partial => ('/themes/thinkdigital/offers/shared/offer'), :collection => @offers %>
      <% if @offers.empty? -%>
        <%= t("no_coupons_found") %>
      <%- end -%>
    </div>
  <%= render :partial => "/themes/thinkdigital/offers/shared/pagination_bottom", :locals => { :position => "bottom" } %>
<!-- <%= render :partial => 'shared/terms_and_conditions' %> -->
</div><!-- /right_column -->
<div class="clear"></div>
</div><!-- /free_offers -->
 	
