<div class="offer">
  <h2>ADDITIONAL SAVINGS OFFER</h2>

  <p>To thank you for your ClickedIn <%= @offer.advertiser.name %> purchase, take advantage of an additional <%= @offer.advertiser.name %> money savings coupon here:</p>

  <a href="<%= @offer_url %>"><%= @offer.message %> at <%= @offer.advertiser.name %></a>

</div>