<% set_daily_deal_page_title_slug "Sign Up" %>
<div class="page_row" id="prelaunch_new_consumer">
  <div class="page_column_8 first rounded_corners">
    <div class="left">
      <p>Sign up today, deals start April 11th!<br/>
      Fill out the quick information below to start saving. The first 250 people to sign-up will get $5 off their first deal!</p>

      <p class="note">* Valid one per person. Deal Credit must be used by May 31, 2011.</p>

      <% form_for [@publisher, @consumer] do |f| -%>
        <%= f.error_messages(:header_message => "Errors prevent this account from being created") %>
        <%= f.text_field_div(:name, "Full Name:") %>
        <%= f.text_field_div(:email) %>
        <%= f.password_field_div(:password) %>
        <%= f.password_field_div(:password_confirmation, "Confirm Password:") %>


        <%= f.check_box_div(:agree_to_terms, "I agree to the #{daily_deals_terms_link(@publisher)} and #{daily_deals_privacy_link(@publisher)}".html_safe) %>

        <div class="row button">
          <%= image_submit_tag "/themes/daily_deals/images/buttons/subscribe.png", :name => "sign_up" %>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
    <div class="right">
      <%= image_tag "/themes/yumasun/images/deal_example.png" %><br />
	  <p>When you see something you like, <span class="blue"><em>share it with your friends!</em></span></p>
    </div>
  </div>

  <div id="widgets">
    <div class="page_column_4 last rounded_corners deal_how_it_works" id="deal_credit">
      <div class="copy">
        
          <p><strong class="blue">SEE IT</strong> - Every Monday, Wednesday, and Friday. Check your email or yumasun.com for a great deal from a local business.</p>
          <p><strong class="blue">SHARE IT</strong> - Share the deal with your friends. Pass along deals by email or broadcast them to your social networks.</p>
          <p><strong class="blue">BUY IT</strong> - Print the voucher, then present it at the business and enjoy your deal.</p>
        

      </div>
    </div>
    <div class="page_column_4 last rounded_corners" id="send_deal">
      <%= mail_to(@publisher.sales_email_address, image_tag("/themes/daily_deals/images/open.png")) %>
      <%= mail_to(@publisher.sales_email_address, "Learn about how we can help bring tons of customers to your door.") %>
    </div>
  </div>  
</div>
