 <div id="dd_footer">
  <ul id="footer_nav">
    <li><a href="<%= public_deal_of_day_path(@publisher.label) %>"><%= t("todays_deal") %></a> </li>
    <li><a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>"><%= t(:how_it_works) %></a></li>
    <li><a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>"><%= t(:feature_your_business) %></a></li>
    <li><a href="<%= faqs_publisher_daily_deals_path(@publisher) %>"><%= t(:faq) %></a></li>
    <li class="last"><a href="<%= contact_publisher_daily_deals_path(@publisher) %>"><%= t(:contact_us) %></a></li>
  </ul><!-- /footer_nav -->
  <div class="clear"></div>
  <ul id="legal_nav">
    <li><%= daily_deals_privacy_link(@publisher) %></li>
    <li class="last"><%= daily_deals_terms_link(@publisher) %></li>
  </ul><!-- /legal_nav -->
</div><!-- /dd_footer -->