  <h3 class="name"><%= @offer.advertiser_name.upcase %></h3>
  
  <% if @lead.errors.present? %>
  <div class="errorExplanation" id="errorExplanation">
    <%= @lead.errors.full_messages.join(". ") %>.
  </div>
  <% end -%>

  <% if @lead.opted_out %>
  <div id="how-to-opt-in">
    To opt in, <%= link_to("click here", trigger_email_opt_in_path(:random_code => EmailRecipient.random_code_for(@lead.email)), :target => "_blank") %>.
  </div>
  <% end %>

  <% remote_form_for @lead, :url => offer_leads_path(@offer), :update => "offer_#{@offer.id}_email_panel" do |f| -%>
    <br/>
    <%= f.label :email, t(:email_address), :id => "offer_#{@offer.id}_lead_email_label" %><br/>
    <%= f.text_field :email, :id => "offer_#{@offer.id}_lead_email" %>
    <%= f.hidden_field :publisher_id, :value => @lead.publisher_id %>
    <%= f.hidden_field :email_me %>
    <div class="buttons">
      <%= link_to_function(t(:cancel), "cancelClipping(#{@offer.id}, 'email')") %>
      <%= f.submit t(:send), :id => "offer_#{@offer.id}_email_save" %>
    </div>
  <% end -%>
