<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.rr.com/assets/dtd/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>                                                                                                           
<link href="/stylesheets/offers.css" media="all" rel="stylesheet" type="text/css" /> 
<link href="/themes/rr/stylesheets/interactive.css" media="all" rel="stylesheet" type="text/css" /> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/themes/rr/javascripts/jquery.infieldlabel.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
	$(function(){ $("label").inFieldLabels(); });
</script>
{% include "shared/tracking_google_analytics" %}
</head> 

{% if success %}
<body class='sweepstake_thank_you'>
</body> 
{% else %} 
<body class='sweepstake'> 
	<div id="analog_analytics_content"> 
		<div id="sweepstakes_container">
      <h2 class="landing">X.Com/bojangles</h2>		
  		<form action="/publishing_groups/{{ publishing_group.label }}/interactives/create_sweepstake" id="sweepstakes" method="post">
  		  <input type="hidden" name="authenticity_token" value="{% form_authenticity_token %}">
        <input type='hidden' name='subscriber[email_required]' value='true' />
        <input type='hidden' name='subscriber[required_fields][]' value='name' />
        <input type='hidden' name='subscriber[required_fields][]' value='zip_code' />
        <input type='hidden' name='subscriber[required_fields][]' value='gender' />
  			<fieldset>
  			  <label for="name">Name</label><br />
  			  <input type="text" name="subscriber[name]" value="{{ subscriber.name }}" id="name">
  			</fieldset>
	
  			<fieldset>
  			  <label for="email">Email</label><br />
  			  <input type="text" name="subscriber[email]" value="{{ subscriber.email }}" id="email">
  			</fieldset>
	
  			<fieldset>
  			  <label for="dob">Date of Birth</label><br />
  			  <input type="text" name="subscriber[other_options][date_of_birth]" value="{{ subscriber.other_options['date_of_birth'] }}" id="dob">
  			</fieldset>
	
  			<div id="zip_and_gender">
  			<fieldset id="zip_field">
  			  <label for="zip">ZIP Code</label><br />
  			  <input type="text" name="subscriber[zip_code]" value="{{ subscriber.zip_code }}" id="zip">
  			</fieldset>
	
  			<fieldset id="gender_field">
  			  <label for="gender">Gender</label><br />
  			  <input type="text" name="subscriber[gender]" value="{{ subscriber.gender }}" id="gender">
  			</fieldset>
  			</div>
			
  			<fieldset id="code_field">
  			  <label class="code" for="code">Code</label><br />
  			  <input type="text" name="code" value="{{ code }}" id="code">
  			</fieldset>
			
  			<fieldset id="submit">
  				<input id="submit_button" type="submit" value="Submit" />		
  			</fieldset>
        {% if errors %}
            <p class='warn'>
            {% for error in errors %}
              {{ error }}<br />
            {% endfor %}
            </p>
        {% endif %}
  		</form>		
		</div><!-- /sweepstakes_container -->
	</div><!-- /analog_analytics_content	 -->			 	
</body>
{% endif %} 
</html>