<div class="account_nav_wrapper">
<% if current_consumer_for_publisher?(@publisher) %>
<h4>Welcome, <%= current_consumer.first_name %></h4>
     <ul class="account_nav">
          <li><a href="<%= edit_publisher_consumer_path(@publisher, current_consumer) %>"><%= t(:my_account) %></a></li>
          <li><a href="<%= publisher_consumer_daily_deal_purchases_path(@publisher, current_consumer) %>"><%= t(:my_deals) %></a></li>
          <li><a id="log_out" class="button gradient" href="<%= daily_deal_logout_path(@publisher) %>"><%= t(:logout) %></a></li>
     </ul>
<% else %>
     <ul class="account_nav">
          <li><a href="<%= daily_deal_login_path(@publisher) %>"><%= t(:sign_in) %></a></li>
          <%= render :partial => with_theme('shared/facebook_connect_erb') %>
     </ul>
<% end %>
</div><!-- /account_nav -->
