<div id="share">
	<% if current_consumer_for_publisher?(@publisher)
      share_text = t(:share_text_consumer)
      deal_url = daily_deal_url(@daily_deal) + "?referral_code=#{current_consumer.try(:referrer_code)}"
      message = t(:share_message_consumer)
    else
      share_text = t(:share_text_non_consumer)
      deal_url = daily_deal_url(@daily_deal)
      message = t(:share_message_non_consumer)
    end%> 
    
    
    <%if false %>
    <a id='inline' class='box referbox' href='#refer_lightbox_info'>More Info</a>
    <% end %>
	
		<p><%= share_text %></p>
		<a id='inline' class='box more_info_refer_link referbox' href='#refer_lightbox_info'><%= t(:more_info) %></a>
		<div class="clear"></div>
		<a href="<%= twitter_daily_deal_path(@daily_deal, :referral_code => current_consumer.try(:referrer_code)) %>" class="share_button" target="_blank"><img src="/themes/bcbsa/images/buttons/share_twitter.png" alt="share on twitter" /></a>
		<a href="mailto:?subject=<%= URI.escape("#{@daily_deal.publisher_prefix}: #{@daily_deal.value_proposition}") %>&body=<%= raw t(:check_out_this_deal_at) %> <%= deal_url%>" class="share_button last"><img src="/themes/bcbsa/images/buttons/share_email.png" alt="Email this to a friend"/></a>
		<a href="<%= facebook_daily_deal_path(@daily_deal, :referral_code => current_consumer.try(:referrer_code)) %>" class="share_button" id="facebook_link" target="_blank"><img src="/themes/bcbsa/images/graphics/square_facebook.png" alt="share on facebook"/></a>
		<div class="clear"></div>
	
	
</div><!-- /share -->

<%= render :partial => with_theme("shared/lightboxes/refer") %>