<div id="footer">
	<ul>
		<li id="home"><a href="{{ publisher.landing_page_path }}">Home</a></li>
		<li id="daily_deal"><a href="{{ publisher.todays_daily_deal_path }}">Daily Deal</a></li>
		<li id="coupons"><a href="{{ publisher.offers_path }}">Coupons</a></li>
		<li id="win"><a href="{{ publisher.sweepstakes_path }}">Win!</a></li>
		<li id="clickedin_cares"><a href="{{ publisher.communities_path }}">ClickedIn Cares</a></li>
    	<li id="about_us"><a href="{{ publisher.about_us_path }}">About Us</a></li>
    	<li id="faq"><a href="{{ publisher.faq_path }}">FAQ</a></li>
		<li id="contact_us"><a href="{{ publisher.contact_path }}">Contact Us</a></li>
		<li id="advertise"><a href="{{ publisher.feature_your_business_path }}" class="last">Advertise With Us</a></li>
	</ul>
	<ul>
		<li><a href="{{ publisher.terms_path }}" target="_blank">Terms of Use</a></li>
		<li><a href="{{ publisher.privacy_path }}" target="_blank">Privacy Policy</a></li>
		<li><a href="{{ publisher.california_privacy_path }}" target="_blank" class="last">Your California Privacy Rights</a></li>
	</ul>
	
</div><!-- /footer -->
