<tr>
  <% if unredeemed_off_platform_certificate.has_deal_information? %>
  <td class="description" colspan="2"><%= unredeemed_off_platform_certificate.line_item_name %></td>
  <td class="serial_number">-</td>
  <td class="recipient">
  <%- if (names = unredeemed_off_platform_certificate.redeemer_names).length > 30 -%>
    <span title="<%= names %>"><%= truncate(names, :length => 30) %></span>
  <%- else -%>
    <%= names %>
  <%- end -%>
  </td>
  <td class="purchased_on"><%= unredeemed_off_platform_certificate.humanize_created_on %></td>
  <td class="status"><%= print_daily_deal_purchase_link(unredeemed_off_platform_certificate) %></td>
  <% else %>
  <td colspan="7"><%= t('.error_message') %></td>
  <% end %>
</tr>
