<% set_daily_deal_page_title_slug t(:my_deals) %>
<% redeemable_certificates = @consumer.daily_deal_purchases.redeemable_certificates
   redeemable_off_platform_certificates = @consumer.off_platform_daily_deal_certificates.find(:all, :conditions => ['redeemed = ? AND (expires_on >= ? OR expires_on IS NULL)', false, Time.zone.now], :order => 'id ASC')
 %>
<% travelsavers_bookings = @consumer.travelsavers_bookings.successful_bookings_with_any_payment_status.with_service_start_date_in_future_or_nil %>

<div class="page_row  my_deals_page">
  <div class="page_column_12 first rounded_corners daily_deal_purchases_list">
 		<div id="dd_nav" style="margin-left:-10px;margin-right:-10px;margin-bottom:15px;">
		  <%= raw render :partial => with_theme("shared/dd_nav")%>
	  </div><!-- END #dd_nav --> 
	  <%= render :partial => "daily_deal_purchases/navigation" %>
  	<h1 class="content"><%= t(:my_deals) %></h1>
    
    <% if redeemable_certificates.blank? && redeemable_off_platform_certificates.blank? && travelsavers_bookings.blank? %>
      <p><%= t('.no_deals_message') %></p>
    <% else %>
      <div class="mydeals_unoptimized">
      <table id="<%= %Q(consumer_#{@consumer.id}_daily_deal_purchases) %>" class="daily_deal_purchase" cellspacing="0">
        <tr>
          <th class="description"><%= t(:description) %></th>
          <th class="advertiser"><%= t(:advertiser) %></th>
          <th class="serial_number"><%= t(:voucher_number) %></th>
          <th class="recipient"><%= t(:recipient) %></th>
          <th class="purchased_on"><%= t(:purchased) %></th>
          <th class="expires"><%= t(:expires) %></th>
          <th class="status">&nbsp;</th>
        </tr>
        <%= render(:partial => with_theme("unredeemed_voucher"), :collection => redeemable_certificates) %>
        <%= render(:partial => with_theme("unredeemed_off_platform_certificate"), :collection => redeemable_off_platform_certificates) %>
        <%= render(:partial => with_theme("travelsavers_booking"), :collection => travelsavers_bookings) %>
      </table>
      </div>
      <div class="mydeals_optimized">
          <div id="<%= %Q(consumer_#{@consumer.id}_daily_deal_purchases) %>" class="daily_deal_purchase my_deals">
            <%= render(:partial => with_theme("unredeemed_voucher_optimized"), :collection => redeemable_certificates) %>
            <%= render(:partial => with_theme("travelsavers_booking"), :collection => travelsavers_bookings) %>
          </div>
        </div><!--/mydeals_optimized-->
    <% end %>
  </div>
</div>

