<div id="footer">
	<div id="footer_nav">
		<p>
			<a href="{{ publisher.contact_path }}">Contact Us</a> |
			<a href="{{ publisher.feature_your_business_path }}">Feature Your Business</a> |
			<a href="{{ publisher.faq_path }}">FAQ</a> |          			
			{% if publisher.launched? %}
			<a href="{{ publisher.terms_path }}">Terms and Conditions</a> |
			{% if publisher.current_user_belongs_to? %}
			<a href="{{ publisher.my_account_path }}">My Account</a> |
			<a href="{{ publisher.my_deals_path }}">My Deals</a> |
			<a href="{{ publisher.logout_path }}">Sign Out</a> |
			{% else %}
			<a href="{{ publisher.login_path }}">Sign in</a> |
			<a href="{{ publisher.new_consumer_path }}">Sign UP</a>
			{% endif %}
			{% endif %}
			{% if daily_deal.active? %}      
			 | <a href="{{ daily_deal.buy_now_path }}">Buy Now</a>
			{% endif %}
		</p>
	</div>
</div><!-- /footer -->