<div id="consumer">
<% if current_consumer_for_publisher?(publisher) %>
  <div id="consumer">
    <div class="row">
      <div class="static"><%= current_consumer.name %></div>
      <div class="static"><%= current_consumer.email %></div>
    </div>
  </div>
<% else %>
  <div id="sign_up">
    <div class="row">
      <p>Already have an account?&nbsp;<%= link_to_function("Sign in", "showLoginForm()") %></p>
    </div>
    <% fields_for consumer do |consumer_form| %>
      <%= consumer_form.text_field_div(:name, "Your Name:") %>
      <%= consumer_form.text_field_div(:email) %>
      
      <%- if @publisher.require_billing_address? %>
        <%= render :partial => with_theme('consumers/billing_address'), :locals => { :consumer => consumer, :f => consumer_form } %>
      <% end %>
      
      <%= consumer_form.password_field_div(:password) %>
      <%= consumer_form.password_field_div(:password_confirmation, "Confirm Password:") %>
      <%= consumer_form.text_field_div(:referral_code, "Referral Code:") %>
      <%= consumer_form.check_box_div(:agree_to_terms, "I agree to the #{daily_deals_terms_link(publisher)} and #{daily_deals_privacy_link(publisher)}".html_safe) %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div id="sign_in" style="display: none;">
    <div class="row">
      <p id="session_warning"></p>
    </div>
    <% fields_for :session do |session_form| %>
      <%= hidden_field_tag("consumer_login_url", publisher_daily_deal_sessions_path(publisher)) %>
      <%= session_form.text_field_div(:email) %>
      <%= session_form.password_field_div(:password) %>
      <div class="row">
      <%= button_to_function("Sign In", "loginConsumer()"); %>&nbsp;<%= link_to_function("Cancel", "hideLoginForm()"); %>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>
</div>

