<div>
<div class="clear"></div>
<div id="main_column">
	<div class="content_box"><!-- deal info top row -->
		<h1 id="value_prop"><%= @daily_deal.value_proposition %></h1>
		<% if @daily_deal.value_proposition_subhead.present? %>
			<h2 id="value_prop_subhead"><%= @daily_deal.value_proposition_subhead %></h2>
		<% end %>
		<div id="dashboard"><!--dashboard -->
			<div id="price_tag">
				<% if !@daily_deal.daily_deal_variations.blank? -%><h1 id="daily_deal_variation_price">From<br/><%= formatted_price_for(@daily_deal.price_to_display, @daily_deal.currency_symbol) %></h1>
				<% else %><h1 id="daily_deal_price"><%= formatted_price_for(@daily_deal.price_to_display, @daily_deal.currency_symbol) %></h1><% end %>
				<div id="buy_now">
					<% if @daily_deal.sold_out? -%>
					<div id="sold_out" class="dd_button sold_out gradient"><span>Sold Out</span></div>
					<% elsif @daily_deal.over? -%>
					<div id="deal_over" class="dd_button deal_over gradient"><span>Deal Over</span></div>
					<% elsif @daily_deal.active? -%>
					<a id="buy_now_button" class="dd_button buy gradient<% if !@daily_deal.daily_deal_variations.blank? -%> dd_variations_button<% end %>" href="<%= new_daily_deal_daily_deal_purchase_path(@daily_deal) %>" name="buy_now_button"><span>Buy!</span></a>
					<div id="deal_over" class="dd_button unavailable" style="display:none;"><span>Deal Over</span></div>
					
			  	<% if !@daily_deal.daily_deal_variations.blank? -%>
			  		<%= render :partial => with_theme("shared/dd_variations_menu") %>
			  	<% end %>
					
					<% else -%>
					<div id="not_yet" class="dd_button not_yet"><span>Coming Soon</span></div>
					<% end -%>
				</div><!-- /buy_now -->
				<!-- shared/varation_delay.js is a patch for the buy button when variations are active -->
				<%= render :partial => 'shared/variation_delay.js' %>
			</div><!-- /price_tag -->
			<div id="deal_specs">
				<table id="value_summary">
					<tr>
						<th>Value</th>
						<th>Cost</th>
						<th class="savings">Savings</th>
					</tr>
					<tr>
						<td class="dashboard_fractional"><span id="daily_deal_value"><%= formatted_price_for(@daily_deal.value_to_display, @daily_deal.currency_symbol) %></span></td>
						<td class="dashboard_fractional"><span id="daily_deal_value"><%= formatted_price_for(@daily_deal.price_to_display, @daily_deal.currency_symbol) %></span></td>
						<td class="savings dashboard_fractional"><span id="daily_deal_value"><%= formatted_price_for(@daily_deal.savings_to_display, @daily_deal.currency_symbol) %></span></td>
					</tr>
				</table>     
				<table id="timer">
					<tr>
						<th id="time_left_to_buy_label">Time Left<br /> to Buy</th>
						<th id="clock" rowspan="2"></th>
						<td id="time_left_to_buy"><%= @daily_deal.time_remaining_display %></td>
					</tr>
				</table><!-- /timer -->
			</div><!-- /deal_specs -->			
			<div id="share">
				<h4 id="share_deal">Share this deal:</h4>
					<a href="<%= facebook_daily_deal_path(@daily_deal) %>" class="share_button share_button_facebook" id="facebook_link"  target="_blank" title="Share coupon on Facebook">Share on facebook</a>
					<a href="<%= twitter_daily_deal_path(@daily_deal) %>" class="share_button share_button_twitter" target="_blank">Share on twitter</a>
					<a href="mailto:?subject=<%= URI.escape("#{@daily_deal.publisher_prefix}: #{@daily_deal.value_proposition}") %>&body=Check out this deal at <%= daily_deal_url(@daily_deal) %>" class="share_button share_button_mail last">Email this to a friend</a>
					<div class="clear"></div>
			</div><!-- /share -->
		</div><!-- /dashboard -->
		<div id="deal_photo"><img src="<%= @daily_deal.photo.url(:standard) %>" alt="<%= @daily_deal.advertiser.name %>" /></div>
		<div class="clear"></div>
	</div><!-- /deal info top row -->
	<div><!-- deal info bottom row -->
		
	<%= render :partial => with_theme("shared/deal_tab_content") %>
		
	</div><!-- /deal info bottom row -->
</div><!-- /main_column -->

<%= render :partial => with_theme("shared/sidebar") %>

</div>

