<% if daily_deal.publishers_category.present? %>
    <span class="category_icon <%= daily_deal.publishers_category.name.downcase %>_category_icon"></span>
    
    <% if daily_deal.publishers_category.name == "Do" %>
        <h3>Fun to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% elsif daily_deal.publishers_category.name == "Go" -%>
        <h3>Places to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% elsif daily_deal.publishers_category.name == "See" -%>
        <h3>People to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% elsif daily_deal.publishers_category.name == "Indulge" -%>
        <h3>Ways to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% elsif daily_deal.publishers_category.name == "Buy" -%>
        <h3>Goods to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% elsif daily_deal.publishers_category.name == "Eat" -%>
        <h3>Things to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% elsif daily_deal.publishers_category.name == "Help" -%>
        <h3>Ways to <strong><%= daily_deal.publishers_category.name %></strong></h3>
    <% end %>
<% end %>    	
