<p style="margin: 0; padding: 8px;">
<a href="http://www.102jamz.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-greensboro/images/stations/jamz.png" alt="102.7 Jamz"></a> 
  <a href="http://www.wqmg.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-greensboro/images/stations/qmg.png" alt="97.1 QMG"></a> 
  <a href="http://www.987simon.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-greensboro/images/stations/simon.png" alt="98.7 Simon"></a>  
  <a href="http://www.1510weal.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-greensboro/images/stations/weal.png" alt="1510 WEAL"></a> 
  <a href="http://www.931wolfcountry.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-greensboro/images/stations/wolf.png" alt="93.1 The Wolf"></a>  
  <a href="http://www.wpetam950.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-greensboro/images/stations/wpet.png" alt="WPET AM 950"></a>
</p>



