<p style="margin: 0; padding: 8px;">
   <a target="_blank" href="http://www.fm100memphis.com/"style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-memphis/images/stations/fm100.png" alt="FM 100"></a>
  <a target="_blank" href="http://www.wrvr.com/"style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-memphis/images/stations/wrvr.png" alt="WRVR 104.5"></a> 
  <a target="_blank" href="http://www.941kqk.com/"style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-memphis/images/stations/kqk.png" alt="94.1 KQK"></a>
  <a target="_blank" href="http://www.680wsmb.com/"style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-memphis/images/stations/espn.png" alt="ESPN 92.9 FM 680 AM"></a> 
  <a target="_blank" href="http://www.wmc79.com/"style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-memphis/images/stations/790sports.png" alt="WMC 79"></a>
</p>