<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<!-- Subject: {{ daily_deal.email_blast_subject }} -->
<!-- From: "[publisher name] daily deal" -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{{ daily_deal.value_proposition }}</title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;">
<table cellspacing="0" border="0" bgcolor="#ffffff" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
	<tr style="margin: 0; padding: 0; border: 0;">
		<td align="center" style="margin: 0; padding: 0; border: 0;">
    		<table id="content_container" cellspacing="0" border="0 " style="padding: 0 0 20px 0; border: 0; margin: 0;" bgcolor="#ffffff" width="640" cellpadding="0">
				<tr>
					<td colspan="3"><img src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_header.png" height="140" width="640" alt="DEAL OF THE DAY" /></td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2eb" width="640" ><!-- outer_contaner -->
							<tr>
								<td colspan="3"><img style="display:block" src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_outer_top.png" height="16" width="640" /></td>
							</tr>
							<tr>
						        <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_outer_left_border.png); background-repeat: repeat-y; width:15px;" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_outer_left_border.png"></td>
								<td>
									<table align="center" width="610" cellpadding="0" cellspacing="0" border="0"><!-- daily deal content -->
										
										<tr>
											<td colspan="3"><img style="display:block" src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_top.png" height="22" width="610" /></td>
										</tr>
						    			<tr>                   
						                    <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_left_border.png); background-repeat: repeat-y; width:16px;" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_left_border.png"></td>
						    				<td bgcolor="#ffffff" style="width:576px;">
						    					<table width="576" cellpadding="0" cellspacing="0" border="0">
						    						<tr>
						    							<td style="color:#139ace;font-family: Helvetica, sans-serif; font-weight:bold; text-align:center;">{{ "now" | date: "%A, %B %e, %Y" }}</td>
						    						</tr>
													<tr>
														<td style="padding-left:20px;padding-top: 20px;" valign="top"><h1 style="color: #515458;font-family: Helvetica, sans-serif;font-size:30px; line-height:34px;margin:0;">{{ daily_deal.value_proposition }}</h1></td>
													</tr>
													<tr>
														<td style="padding-left:20px;padding-top: 20px;" valign="top"><h2 style="color: #999;font-family: Helvetica, sans-serif;font-size:20px; margin:0;padding-bottom:16px;">{{ daily_deal.value_proposition_subhead }}</h2></td>
													</tr>
						    						<tr>
						    							<td valign="top" style="vertical-align:top;">
						    								<table cellpadding="0" cellspacing="0" border="0"><!-- photo and dashboard -->
						    									<tr>
						    										<td style="padding-left:20px; padding-right:18px;padding-bottom:20px;width:360px;vertical-align:top;"><img src="{{ daily_deal.photo.url }}" alt="{{ advertiser.name }}" width="360" /></td>
						    										<td style="padding-right:10px;vertical-align:top;">
						    											<table cellpadding="0" cellspacing="0" border="0"><!-- dashboard -->
						    												<tr>
						    												<td width="164" height="156">
																				<!-- Price Tag -->
																				<table width="164" border="0" cellspacing="0" cellpadding="0">
																				  <tr>
																					<td colspan="3"><img src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/tag_email_top.png" width="164" height="35" style="display: block" /></td>
																				  </tr>
																				  <tr>
																					<td width="15" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/tag_email_left.png"><img src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/tag_email_left.png" width="15" height="51" style="display: block" /></td>
																					<td bgcolor="#1e324b" width="134" valign="middle" style="font-family: Helvetica, sans-serif;font-size:42px;font-weight:bold; text-align:center; color: #fff;">{{ daily_deal.price | currency }}</td>
																					<td width="15" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/tag_email_right.png"><img src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/tag_email_right.png" width="15" height="51" style="display: block" /></td>
																				  </tr>
																				  <tr>
																					<td colspan="3"><a href="{{ daily_deal.url_for_email }}" style="text-decoration: none; font-size: 30px;" border="0"><img src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/tag_email_bottom.png" width="164" height="76" style="display: block" border="0" /></a></td>
																				  </tr>
																				</table>
																				<!-- /Price Tag -->
																			</td>
						    												</tr>
						
						    												<tr>
						    													<td style="text-align:center;">
																					<table align="center" cellpadding="0" cellspacing="8" border="0" style="text-align:center;">
																						<tr>
																							<th style="color:#515458;font-family: Helvetica, sans-serif;font-size:12px; font-weight:bold;">SAVINGS</th>
																							<th style="color:#515458;font-family: Helvetica, sans-serif;font-size:12px; font-weight:bold;">VALUE</th>
																						</tr>
																						<tr>
																							<td style="color:#139ace;font-family: Helvetica, sans-serif;font-size:20px; font-weight:bold;">{{ daily_deal.savings_as_percentage | percentage }}</td>
																							<td style="color:#139ace;font-family: Helvetica, sans-serif;font-size:20px; font-weight:bold;">{{ daily_deal.value | currency }}</td>
																						</tr>
																					</table>
						    													</td>
						    												</tr>
						    												<tr>
						    													<td style="padding:10px;">&nbsp;</td>
						    												</tr>
						    											</table><!-- /dashboard -->
						    										</td>
						    									</tr>    									
						    								</table><!-- /photo and dashboard -->
						    							</td>
						    						</tr>
						    					</table>
						    				</td>
						                    <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_right_border.png); background-repeat: repeat-y; width:16px;" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_right_border.png"></td>
						    			</tr>
										<tr>
											<td colspan="3"><img style="display:block;" src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_bottom.png" height="22" width="610" /></td>
										</tr>
										<tr>
											<td colspan="3"><img style="display:block;" src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_top.png" height="22" width="610" /></td>
										</tr>
										
						    			<tr>                   
						                    <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_left_border.png); background-repeat: repeat-y; width:16px;" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_left_border.png"></td>
						    				<td bgcolor="#ffffff" style="width:576px;">
						    					<table width="576" cellpadding="0" cellspacing="0" border="0">
						    						<tr>
						    							<td>
						    								<table cellpadding="0" cellspacing="0" border="0"><!-- deal info -->
						    									<tr>
																	<td colspan="2" style="padding-left:20px; padding-right:20px;text-align:left;width:290px;">
																		<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #139ace;">HIGHLIGHTS</h3>
																		<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;">{{ daily_deal.highlights }}</span>
																	</td>
																<tr>
																	<td colspan="2" style="padding-left:20px; padding-right:20px; padding-top:20px;padding-bottom:20px;text-align:left;">
																		<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #139ace;">DESCRIPTION</h3>
																		<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;">{{ daily_deal.description }}</span>
																	</td>
																</tr>
						    								</table><!-- /deal info -->
						    							</td>
						    						</tr>
						    					
						    					</table>
						    				</td>
						                    <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_right_border.png); background-repeat: repeat-y; width:16px;" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_right_border.png"></td>
						    			</tr>
										<tr>
											<td colspan="3"><img style="display:block;" src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_inner_bottom.png" height="22" width="610" /></td>
										</tr>
									</table><!-- /daily deal content -->
								</td>
						        <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_outer_right_border.png); background-repeat: repeat-y; width:15px;" background="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_outer_right_border.png"></td>
							</tr>
							<tr>
								<td height="16" colspan="3" style="height: 16px;"><img style="display:block;" src="http://{{ publisher.daily_deal_host }}/themes/efactor/images/backgrounds/email_outer_bottom.png" height="16" width="640" /></td>
							</tr>
						</table><!-- /outer_contaner -->
					</td>
				</tr>
    		</table><!-- /content_container -->
		</td>
	</tr>
</table><!-- /body-->
</body>
</html>