<div id="analog_analytics">
	<div id="daily_deal">
		<div id="header">
			<div id="banner"><a href="http://www.redplum.com"><img src="/themes/redplum/images/backgrounds/banner.png" alt="Redplum Logo" /></a>
               <!-- market dropdown -->
               <div class="clear"></div>              
               <!--/ market dropdown -->

				<ul id="account_nav">			
	    			<li class="facebook_connect" style="display:none"><a href="{{ publisher.facebook_connect_path }}" title="Log in with your facebook account"><img alt="Facebook Connect" src="/images/buttons/facebook_connect.png" /></a></li>
					{% if publisher.launched? %}
						{% if publisher.current_user_belongs_to? %}
					<li><a href="{{ publisher.my_account_path }}">My Account</a></li>
					<li><a href="{{ publisher.my_deals_path }}">My Deals</a></li>
					<li class="last"><a href="{{ publisher.logout_path }}">Sign Out</a></li>
						{% else %}
					<li class="last"><a href="{{ publisher.login_path }}">Sign In</a></li>
						{% endif %}
					{% endif %}
				</ul><!-- /account_nav -->
				<div class="clear"></div>
			</div><!--banner-->   
		</div><!-- /header -->

    {% include "shared/flash" %}
			<div id="page_content">
			<div id="main_tabs">
				<div class="clear"></div>
			
			
				<div class='tab_content {{ current_page }}_content'>
					{% include "themes/redplum/layouts/shared/landing_pages" %}
					<div class="clear"></div>
				</div>               
			</div><!-- /main_tabs -->
      		<div class="clear"></div>	
		</div><!--page_content-->
		
		<div id="a_a"><a href="http://analoganalytics.com/"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" alt="Powered by Analog Analytics" /></a></div>
		
	</div><!--daily_deal-->
</div><!--analog_analytics-->
	