<div>
<div class="clear"></div>
<div id="main_column">
	<div class="content_box"><!-- deal info top row -->
		
		<div id="dashboard"><!--dashboard -->
		
			<h1 id="value_prop"><%= @daily_deal.value_proposition %></h1>
			
			<h3 id="daily_deal_price"><%= formatted_price_for(@daily_deal.price, @daily_deal.currency_symbol) %></h3>				
				
			<div id="deal_specs">
				<table id="value_summary">
					<tr>
						<th><%= t(:value) %></th>
						<th><%= t(:unit_price) %></th>
						<th class="savings"><%= t(:savings) %></th>
					</tr>
					<tr>
						<td class="dashboard_fractional"><%= formatted_price_for(@daily_deal.value, @daily_deal.currency_symbol) %></td>
						<td class="dashboard_fractional"><%= formatted_price_for(@daily_deal.price, @daily_deal.currency_symbol) %></td>
						<td class="savings dashboard_fractional"><%= formatted_price_for(@daily_deal.savings, @daily_deal.currency_symbol) %></td>
					</tr>
				</table>     
				<table id="timer">
					<tr>
						<th id="time_left_to_buy_label"><%= t("time_left_to_buy") %></th>
					</tr>
					<tr>
						<td id="time_left_to_buy"><%= @daily_deal.time_remaining_display %></td>
					</tr>
				</table><!-- /timer -->
			</div><!-- /deal_specs -->			
			
		</div><!-- /dashboard -->
		<div id="deal_photo">
			
			<img id="photo" src="<%= @daily_deal.photo.url(:standard) %>" alt="<%= @daily_deal.advertiser.name %>" />
			<div id="buy_now">
				<% if @daily_deal.sold_out? -%>
				<div id="sold_out" class="dd_button sold_out"><span><%= t(:sold_out)%></span></div>
				<% elsif @daily_deal.over? -%>
				<div id="deal_over" class="dd_button deal_over"><span><%= t(:deal_over)%></span></div>
				<% elsif @daily_deal.active? -%>
				<a id="buy_now_button" class="dd_button buy" href="<%= new_daily_deal_daily_deal_purchase_path(@daily_deal) %>" name="buy_now_button"><span><%= t(:buy_now) %></span></a>
				<div id="deal_over" class="dd_button unavailable" style="display:none;"><span><%= t(:deal_over)%></span></div>
				<% else -%>
				<div id="not_yet" class="dd_button not_yet"><span><%= t(:not_yet_available)%></span></div>
				<% end -%>
			</div><!-- /buy_now -->
				
				<div id="share">
					<a href="<%= facebook_daily_deal_path(@daily_deal) %>" class="share_button share_button_facebook" id="facebook_link"  target="_blank" title="<%= t(:facebook_share_alt) %>"><%= t(:facebook_share_alt) %></a>
					<a href="<%= twitter_daily_deal_path(@daily_deal) %>" class="share_button share_button_twitter" target="_blank"><%= t(:twitter_share_title) %></a>
					<a href="mailto:?subject=<%= URI.escape("#{@daily_deal.publisher_prefix}: #{@daily_deal.value_proposition}") %>&body=<%= t(:check_out_this_deal_at) %> <%= daily_deal_url(@daily_deal) %>" class="share_button share_button_mail last"><%= t(:check_out_this_deal_at) %></a>
					<div class="clear"></div>
			</div><!-- /share -->
				
		</div>
		<div class="clear"></div>
	</div><!-- /deal info top row -->
	<div><!-- deal info bottom row -->
		
	<%= render :partial => with_theme("shared/deal_tab_content") %>
		
	</div><!-- /deal info bottom row -->
</div><!-- /main_column -->

<%= render :partial => with_theme("shared/sidebar") %>

</div>

