<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="google-site-verification" content="nQPUv_5VBGkRE3h12nA-jLkUOkg4WCZqf0QHHTeLxrs" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="google-site-verification" content="DNIToeseM2boHjB00TgcbqGGYH3PjkiNz6-soBf86-E" />
<title>Easy Reader</title>

{% if daily_deal %}
  <meta name="title" content="{{ daily_deal.facebook_title }}" />
  <meta name="description" content="{{ daily_deal.facebook_description }}" />
  <meta name='keywords' content="{{ advertiser.name }}, {{ daily_deal.value_proposition }}">
  <link rel="image_src" href="{{ daily_deal.facebook_daily_deal_image_url }}" />
{% else %}
  <meta name="description" content="Daily Deal! Get the best daily deals with a new deal every single day!">
  <meta name="keywords" content="Daily Deal! Hotel Deals, best deals, travel deals, vacation deals, restaurant deals">
{% endif %}

<script type="text/javascript" src="/themes/easyreadernews/javascripts/wp-content/themes/ER2010/script.js"></script>
<link rel="stylesheet" href="/themes/easyreadernews/stylesheets/wp-content/themes/ER2010/style.css" type="text/css" media="screen" />

<!--[if IE 6]><link rel="stylesheet" href="/themes/easyreadernews/stylesheets/wp-content/themes/ER2010/style.ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/themes/easyreadernews/stylesheets/wp-content/themes/ER2010/style.ie7.css" type="text/css" media="screen" /><![endif]-->

<link rel="stylesheet" href="/stylesheets/scoped_reset.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
<link rel="stylesheet" href="/themes/daily_deals/stylesheets/daily_deals.css" type="text/css" />
<link rel="stylesheet" href="/themes/easyreadernews/stylesheets/daily_deals.css" type="text/css" />

<!--[if gt IE 6]>
<link href="href="/stylesheets/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->

<style type="text/css">
<!--
.art-contentLayout {
	
}
-->
</style>

<script src="/javascripts/lib/prototype.js" type="text/javascript"></script>
<script src="/javascripts/effects.js" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js" type="text/javascript"></script>
<script src="/javascripts/controls.js" type="text/javascript"></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
				
<script type="text/javascript">//<![CDATA[
	// Google Analytics for WordPress by Yoast v4.06 | http://yoast.com/wordpress/google-analytics/
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount','UA-11532860-1']);
	_gaq.push(['_setCustomVar',1,'post_type','page',3],['_setCustomVar',2,'author','jared-thompson',3],['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	// End of Google Analytics for WordPress by Yoast v4.0
	//]]></script>
<script type="text/javascript" src="/themes/easyreadernews/javascripts/gampad/google_service.js"></script>
<script type="text/javascript">
  GS_googleAddAdSenseService("ca-pub-3125665997243634");
  GS_googleEnableAllServices();
</script>

<script type="text/javascript">
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_LeaderBoard");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot1");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot2");
</script>

<script type="text/javascript">
  GA_googleFetchAds();
</script>

{% include "shared/tracking_google_analytics" %}
</head>
<body>
<div id="fb-root"></div>

<script>
window.fbAsyncInit = function() {
FB.init({appId: 122858424435164, status: true, cookie: true, 
xfbml: true});
};
(function() {
var e = document.createElement('script'); e.async = true;
e.src = document.location.protocol +
'//connect.facebook.net/en_US/all.js';
document.getElementById('fb-root').appendChild(e);
}());
</script>

<div id="art-main">
<div class="art-Sheet">
    <div style="font-size: 11px; font color: black; text-decoration:none">
      <div style="background-color: #0F3658; height: 20px; text-align: center;">
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=woi5p8dab&amp;p=oi&amp;m=1103655543254" target="_blank" style="font-family:Arial; color:#DA9641;">Subscribe</a> | <a href="http://www.easyreadernews.com/news/manhattan-beach" style="font-family:Arial; color:#DA9641;">Manhattan Beach</a> | <a href="http://www.easyreadernews.com/news/hermosa-beach" style="font-family:Arial; color:#DA9641;">Hermosa Beach</a> | <a href="http://www.easyreadernews.com/news/redondo-beach" style="font-family:Arial; color:#DA9641;">Redondo Beach</a> | <a href="http://www.easyreadernews.com/1999-2009-archives" style="font-family:Arial; font-size:10px; color:#DA9641;">Archives 2002-2009</a> | <a href="http://www.easyreader.info/easyreader/tearsheets.php" target="_blank" style="font-family:Arial; font-size:10px; color:#DA9641;">Easy Reader Tear Sheets</a> | <a href="http://www.easyreader.info/peninsulapeople/tearsheets.php" target="_blank" style="font-family:Arial; font-size:10px; color:#DA9641;">Peninsula People Tear Sheets</a> | <a href="http://www.easyreader.info/beachmagazine/tearsheets.php" target="_blank" style="font-family:Arial; font-size:10px; color:#DA9641;">Beach Tear Sheets</a> | <a href="http://www.easyreadernews.com/2010/09/uncategorized/contact" style="font-family:Arial; font-size:10px; color:#DA9641;">Contact Us</a>
      </div>
    </div>
    <div class="art-Sheet-body">
      <div style="background-color: white; height: 92px;">
        <div>
          <a href="http://www.easyreadernews.com"><img src="/themes/easyreadernews/images/wp-content/themes/ER2010/images/Header.png" style="float:left; margin-top:20px; width:286px; height:66px"></a>
        </div>
        <div style="background-color: white; margin: 1px 0 0 0px; float: right; width: 730px; height: 92px;">
          <div style="float: right; margin: 1px; width: 728px; height:90px;"></div>
        </div>
      </div>
    </div>
  </div>
<div class="art-Sheet">
    <div class="art-Sheet-tl"></div>
    <div class="art-Sheet-tr"></div>
    <div class="art-Sheet-bl"></div>
    <div class="art-Sheet-br"></div>
    <div class="art-Sheet-tc"></div>
    <div class="art-Sheet-bc"></div>
    <div class="art-Sheet-cl"></div>

    <div class="art-Sheet-cr"></div>
    <div class="art-Sheet-cc"></div>
    <div class="art-Sheet-body">
		<div class="art-nav">
			<div class="l"></div>
      <div class="art-contentLayout">
        			<ul class="art-menu">
        				<li class="page_item page-item-323 current_page_item"><a class="active" href="http://www.easyreadernews.com" title="Home"><span class="l"></span><span class="r"></span><span class="t">Home</span></a></li>

        <li class="page_item page-item-12"><a href="http://www.easyreadernews.com/news" title="News"><span class="l"></span><span class="r"></span><span class="t">News</span></a>
        <ul class='children'>
        	<li class="page_item page-item-29"><a href="http://www.easyreadernews.com/news/manhattan-beach" title="Manhattan Beach">Manhattan Beach News</a></li>
        	<li class="page_item page-item-27"><a href="http://www.easyreadernews.com/news/hermosa-beach" title="Hermosa Beach">Hermosa Beach News</a></li>
        	<li class="page_item page-item-32"><a href="http://www.easyreadernews.com/news/redondo-beach" title="Redondo Beach">Redondo Beach News</a></li>
        	<li class="page_item page-item-123"><a href="http://www.easyreadernews.com/news/palos-verdes" title="Palos Verdes">Palos Verdes News</a></li>
        	<li class="page_item page-item-52"><a href="http://www.easyreadernews.com/news/letters-to-the-editor" title="Letters to the Editor">Letters to the Editor</a></li>

        	<li class="page_item page-item-127"><a href="http://www.easyreadernews.com/news/south-bay" title="South Bay">South Bay</a></li>
        	<li class="page_item page-item-3340"><a href="http://www.easyreadernews.com/news/best-of-the-beach" title="Best of the Beach">Best of the Beach</a></li>
        	<li class="page_item page-item-9332"><a href="http://www.easyreadernews.com/news/crime-map" title="Crime Reports and Map">Crime Reports and Map</a></li>
        </ul>
        </li>
        <li class="page_item page-item-22"><a href="http://www.easyreadernews.com/dining" title="Dining"><span class="l"></span><span class="r"></span><span class="t">Dining</span></a></li>
        <li class="page_item page-item-42"><a href="http://www.easyreadernews.com/music" title="Music"><span class="l"></span><span class="r"></span><span class="t">Music</span></a></li>
        <li class="page_item page-item-14"><a href="http://www.easyreadernews.com/arts" title="Arts"><span class="l"></span><span class="r"></span><span class="t">Arts</span></a>

        <ul class='children'>
        	<li class="page_item page-item-44"><a href="http://www.easyreadernews.com/arts/theater" title="Theater">Theater</a></li>
        	<li class="page_item page-item-6004"><a href="http://www.easyreadernews.com/arts/art-2" title="Art">Art</a></li>
        	<li class="page_item page-item-6008"><a href="http://www.easyreadernews.com/arts/beach-style" title="Beach Style">Beach Style</a></li>
        </ul>
        </li>
        <li class="page_item page-item-156"><a href="http://www.easyreadernews.com/sports" title="Sports"><span class="l"></span><span class="r"></span><span class="t">Sports</span></a>
        <ul class='children'>
        	<li class="page_item page-item-158"><a href="http://www.easyreadernews.com/sports/prep-sports" title="Prep Sports">Prep Sports</a></li>

        	<li class="page_item page-item-160"><a href="http://www.easyreadernews.com/sports/surfing" title="Surfing">Surfing</a></li>
        	<li class="page_item page-item-162"><a href="http://www.easyreadernews.com/sports/beach-volleyball" title="Beach Volleyball">Beach Volleyball</a></li>
        	<li class="page_item page-item-2681"><a href="http://www.easyreadernews.com/sports/sports-videos" title="Sports Videos">Sports Videos</a></li>
        </ul>
        </li>
        <li class="page_item page-item-17"><a href="http://www.easyreadernews.com/columns" title="Columns"><span class="l"></span><span class="r"></span><span class="t">Columns</span></a>
        <ul class='children'>
        	<li class="page_item page-item-54"><a href="http://www.easyreadernews.com/columns/on-local-government" title="On Local Government">On Local Government</a></li>

        	<li class="page_item page-item-48"><a href="http://www.easyreadernews.com/columns/barfly" title="Barfly">Barfly</a></li>
        	<li class="page_item page-item-56"><a href="http://www.easyreadernews.com/columns/from-south-bronx-to-south-bay" title="South Bronx to South Bay">South Bronx to South Bay</a></li>
        	<li class="page_item page-item-50"><a href="http://www.easyreadernews.com/columns/harbor-lights" title="Harbor Lights">Harbor Lights</a></li>
        	<li class="page_item page-item-4350"><a href="http://www.easyreadernews.com/columns/statuesque" title="Statuesque">Statuesque</a></li>
        	<li class="page_item page-item-4354"><a href="http://www.easyreadernews.com/columns/making-it" title="Making it">Making it</a></li>
        	<li class="page_item page-item-4356"><a href="http://www.easyreadernews.com/columns/wuerker" title="Wuerker">Wuerker</a></li>

        </ul>
        </li>
        <li class="page_item page-item-25"><a href="http://www.easyreadernews.com/water-life" title="Water Life"><span class="l"></span><span class="r"></span><span class="t">Water Life</span></a>
        <ul class='children'>
        	<li class="page_item page-item-400"><a href="http://www.easyreadernews.com/water-life/surf-pipeline" title="Surf Pipeline">Surf Pipeline</a></li>
        	<li class="page_item page-item-402"><a href="http://www.easyreadernews.com/water-life/wild-things" title="Wild Things">Wild Things</a></li>
        	<li class="page_item page-item-404"><a href="http://www.easyreadernews.com/water-life/water-sports" title="Water Sports">Water Sports</a></li>
        </ul>
        </li>
        <li class="page_item page-item-174"><a href="http://www.easyreadernews.com/people" title="People"><span class="l"></span><span class="r"></span><span class="t">People</span></a></li>

        <li class="page_item page-item-7642"><a href="http://www.easyreadernews.com/calendar" title="Calendar"><span class="l"></span><span class="r"></span><span class="t">Calendar</span></a></li>
        <li class="page_item page-item-12625"><a href="http://www.easyreadernews.com/2010/09/music-video/easy-reader-video-gallery" title="Video"><span class="l"></span><span class="r"></span><span class="t">Video</span></a></li>
        <li class="page_item page-item-11525"><a href="http://sb1.analoganalytics.com/publishers/142/offers" target="_blank" title="Coupons"><span class="l"></span><span class="r"></span><span class="t">Coupons</span></a></li>
        <li class="page_item page-item-11358"><a href="http://www.easyreadernews.com/2010/10/news/photo-galleries" title="Photos"><span class="l"></span><span class="r"></span><span class="t">Photos</span></a></li>
        			</ul>
      </div>
			<div class="r"></div>
		</div>
<!--START DAILY DEALS CODE-->

<div id="analog_analytics">
    <div id="daily_deal">
    
        <div id="outer_frame">
            <div id="inner_frame">
            
                <div id="header_nav">
                	<div id="promo">
                	  {% if publisher.show_special_deal? %}
                	  <a href="{{ publisher.deal_credit_path }}">Special Promo: Sign up here to receive your $10 credit</a>
                	  {% endif %}
                	</div>
                  <div id="nav">
                    <a href="{{ publisher.todays_daily_deal_path }}">Today's Deal</a> 
                    <a href="{{ publisher.contact_path }}">Contact Us</a>  
                    <a href="{{ publisher.faq_path }}">FAQ</a>
                    {% if publisher.launched? %}
                    {% if publisher.current_user_belongs_to? %}
                    <a href="{{ publisher.my_deals_path }}">My Deals</a>
                    <a href="{{ publisher.my_account_path }}">My Account</a>
                    <a class="no_border" href="{{ publisher.logout_path }}">Sign Out</a>
                    {% else %}
                    <a class="no_border" href="{{ publisher.login_path }}">Sign In</a>
                    {% endif %}
                    {% endif %}
                  </div>
                </div>
            
                <div id="dd_content">
                    <div id="inner_content">
                        <div id="deal_of_the_day_banner"><!--MASTHEAD-->
                        	<div id="dd_logo"><a href="{{ publisher.todays_daily_deal_path }}"><img src="/themes/easyreadernews/images/display/deal_banner.png" alt="Deal of the Day" width="575" height="100" /></a></div>
                            <div id="email">
                                <form action="{{ publisher.subscribers_path }}" id="daily_deal_header" class="email_subscription_tracking" method="post">
                                  <input id="redirect_to" name="redirect_to" type="hidden" value="{{ publisher.subscribers_thank_you_path | verifiable_url }}" />
                                    <div class="maincontent">
                                    	<input id="subscriber_email" name="subscriber[email]" size="27" type="text">
                                    	<input id="submit_btn" src="/themes/easyreadernews/images/buttons/subscribe.png" type="image">
                                    </div>
                                    <div class="terms">
                                    	<input name="subscriber[terms]" value="0" type="hidden">
                                    	<input id="subscriber_terms" name="subscriber[terms]" value="1" type="checkbox"> I agree to the &nbsp;<a href="#" onclick="window.open('{{ daily_deal.terms_url }}', '_blank'); return false; return false;">Terms</a> and &nbsp;<a href="#" onclick="window.open('{{ daily_deal.privacy_policy_url }}', '_blank'); return false; return false;">Privacy Policy</a>
                                    </div>                                
                                </form>
                            </div>
                        </div><!--/MASTHEAD-->
                        
                    <div id="main"><!--MAIN CONTENT-->
                      {% include "shared/flash" %}
                      {{ content_for_layout }}
                   </div><!--/MAIN CONTENT-->
                </div>
                
                    <div class="clear">
                    {% include "shared/a_a" %}
                    </div>
                </div>
            
            </div>
        </div> 
        
        
       
    </div>    
</div>

<!--END DAILY DEALS CODE-->


</div>
<div class="cleared"></div>

  <div class="art-Footer">
    <div class="art-Footer-inner">
      <div class="art-Sheet">
        <div style="font-size: 11px; font color: black; text-decoration:none">
          <div style="height: 20px; text-align: center;">
            <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=woi5p8dab&amp;p=oi&amp;m=1103655543254" target="_blank" style="font-family:Arial; color:#DA9641;">Subscribe</a> | <a href="http://www.easyreadernews.com/news/manhattan-beach" style="font-family:Arial; color:#DA9641;">Manhattan Beach</a> | <a href="http://www.easyreadernews.com/news/hermosa-beach" style="font-family:Arial; color:#DA9641;">Hermosa Beach</a> | <a href="http://www.easyreadernews.com/news/redondo-beach" style="font-family:Arial; color:#DA9641;">Redondo Beach</a> | <a href="http://www.easyreadernews.com/1999-2009-archives" style="font-family:Arial; font-size:10px; color:#DA9641;">Archives 2002-2009</a> | <a href="http://www.easyreader.info/easyreader/tearsheets.php" target="_blank" style="font-family:Arial; font-size:10px; color:#DA9641;">Easy Reader Tear Sheets</a> | <a href="http://www.easyreader.info/peninsulapeople/tearsheets.php" target="_blank" style="font-family:Arial; font-size:10px; color:#DA9641;">Peninsula People Tear Sheets</a> | <a href="http://www.easyreader.info/beachmagazine/tearsheets.php" target="_blank" style="font-family:Arial; font-size:10px; color:#DA9641;">Beach Tear Sheets</a> | <a href="http://www.easyreadernews.com/2010/09/uncategorized/contact" style="font-family:Arial; font-size:10px; color:#DA9641;">Contact Us</a>
          </div>
        </div><a href="http://www.easyreadernews.com/feed" class="art-rss-tag-icon" title="RSS"></a>
        <div class="art-Footer-text">
          <p>
            Copyright 2010 Easy Reader News. All Rights Reserved.<br>
            Website Design Concept by Graciela Huerta, Developed by corecode technologies
          </p>
        </div>
      </div>
      <div class="art-Footer-background"></div>
    </div>
  </div>
</div>
</div>
{% include with_theme "shared/tracking_publisher" %}
{% include "daily_deals/javascript" %}
</body>
</html>
