
<div class="content">
	<div id="how_it_works">
	<h2 class="first">How It Works</h2>
	<h3>Sign up</h3>
	<p>Subscribe to Entertainment.com&reg; Deals&trade; and we'll email you exceptional deals every day, saving you 50 - 70% in and around your city... and in some cases, you'll save even more!</p>
	<h3>Get The Deal</h3>
	<p>Buy the deal and then we'll email it to you. It's that easy! Everyone gets the deal!</p>
	<h3>Share It</h3>
	<p>Share the savings with friends and family on Facebook, Twitter or email.</p>
	</div>
	<div id="faqs">
	<a id="faqs"><h2>Frequently Asked Questions</h2></a>

	<h4 id="universal_terms">Q: What are the Universal Terms?</h4>
	<h5>
		<ul>
				<li>Offers may exclude tax, tip, and alcohol, where applicable.</li>
				<li>May not be combined in multiple visits or with any other discount or advertising promotion.</li>
				<li>Must be used in one visit.</li>
				<li>No Cash Value or Cash Back.</li>
		</ul>
	</h5>


	<h4>Q: What is Entertainment.com&reg; Deals&trade; (“Deal”)?</h4>
	<h5><span>A:</span> Each day one exceptional merchant offer is featured as a Deal. The Deal is only available for a limited amount of time and quantities may be limited, so make sure you check in early and daily. In addition to the featured Deal, there may be other Deals featured as a side Deal or on the “All Deals” page.</h5>

	<h4>Q: How do I buy a Deal?</h4>
	<h5><span>A:</span> Just click “BUY” and remember to send the Deal to your friends: Tweet it, Facebook® it or text it to everyone you think might be interested so they can enjoy the Deal too!</h5>

	<h4>Q: What happens after I buy a Deal?</h4>
	<h5><span>A:</span> The Deal will be sent to you via email, within 24 hours. Just click, print and enjoy. Most Deals are available to use the day after the Deal is featured.</h5>

	<h4>Q: What types of payment do you accept?</h4>
  <h5><span>A:</span> We accept Visa, MasterCard, Discover and American Express.</h5>

	<h4>Q: I am having issues purchasing the Deal, what should I do?</h4>
	<h5><span>A:</span> Please call us at 866.499.0660 and we will help you complete your purchase.</h5>

	<h4>Q: Can I buy a Deal by phone?</h4>
	<h5><span>A:</span> No, all purchases must be made online.</h5>

	<h4>Q: When I make a purchase, what will appear on my credit card statement?</h4>
	<h5><span>A:</span> Your purchase will be identified as Entertainment.com Deals (866.499.0660).</h5>

	<h4>Q: Can I return a Deal?</h4>
	<h5><span>A:</span> Please refer to our <a href="#refund_policy">Refund Policy.</a></h5>

	<h4>Q: How do I create an Account?</h4>
	<h5><span>A:</span> An account will be created for you when you buy your first Deal.</h5>

	<h4>Q: How do I edit my profile, including my name, email and address?</h4>
	<h5><span>A:</span> Once you are signed in, click on My Account and you will be able to update any information.</h5>

	<h4>Q: I forgot my username/password, what should I do?</h4>
	<h5><span>A:</span> On the Sign In page click “Forgot Your Password?” Follow the easy instructions and check your email for your username and password.</h5>

	<h4>Q: I am having trouble signing in, what should I do?</h4>
	<h5><span>A:</span> If you get a message that you cannot be found in our database, or you receive a general site error message, please <a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us.</a></h5>

	<h4>Q: My name is on the Deal, does that mean the merchant can charge my account?</h4>
	<h5><span>A:</span> No. The merchant does not have your account information. Each Deal is denoted with a unique ID number that is related to the merchant for tracking and redemption purposes only.</h5>

	<h4>Q: When I gift a Deal to a friend, will they have access to my account information?</h4>
	<h5><span>A:</span> No, your friend cannot access your account information.</h5>

	<h4>Q: Is my personal information sold or shared with third parties?</h4>
	<h5><span>A:</span> No. For more information please see our <%= daily_deals_privacy_link(@publisher) %>.</h5>

	<h4>Q: Is my credit card information secure?</h4>
	<h5><span>A:</span> Yes. Your credit card number is encrypted and secure. For more information please refer to Security under <a href="<%= legal_publisher_daily_deals_path(@publisher) %>">Legal Notices.</a></h5>

	<h4>Q: I can print the Deal more than once, but the merchant will only accept one, right?</h4>
	<h5><span>A:</span> Correct, each Deal has a unique ID number that allows you to enjoy the discount one time. The Deal may be re-printed in the event there are issues with your printer or if you lose your Deal.</h5>

	<h4>Q: I didn’t receive my confirmation email. What should I do?</h4>
	<h5><span>A:</span> You can sign in to your account at <a href="http://deals.entertainment.com">deals.entertainment.com</a> for your confirmation and to print your Deal, or you can call us at 866.499.0660 and we will resend your confirmation to you.</h5>

	<h4>Q: My Deal did not print. What should I do?</h4>
	<h5><span>A:</span> You can print your coupon at any time by signing in to your account at <a href="http://deals.entertainment.com">deals.entertainment.com.</a> Click on “My Deals” and you’ll be able to print your coupon.</h5>

	<h4>Q: Can I use my Deal over several trips to the merchant?</h4>
	<h5><span>A:</span> No, the Deal is one-time use only, so don’t forget to bring a friend.</h5>

	<h4>Q: Can I combine the Deal with other offers from the merchant?</h4>
	<h5><span>A:</span> Maybe. Please refer to the Deal Terms for any such restrictions.</h5>

	<h4>Q: How long do I have to use the Deal?</h4>
	<h5><span>A:</span> Expiration dates vary by Deal. Be sure to check the Deal Terms carefully so you do not miss out on a great experience.</h5>

	<h4>Q: The merchant I purchased the Deal from has closed what should I do?</h4>
	<h5><span>A:</span> Please <a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a> for a refund or credit.</h5>

	<h4>Q: What if the merchant does not honor the Deal?</h4>
	<h5><span>A:</span> Please <a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a> for a refund or credit.</h5>

	<h4>Q: When will Entertainment.com® Deals™ be in my city?</h4>
	<h5><span>A:</span> Probably very soon. Make sure to <a href="<%= new_publisher_consumer_path(@publisher) %>">sign up</a> to receive emails so when Deals are available in your city you won’t be left standing like the “House on the Side of the Road”.</h5>

	<h4>Q: How can I feature my business on Entertainment.com® Deals™?</h4>
	<h5><span>A:</span> Please call 888.231.SAVE prompt #3 to speak with an Account Representative or email us at <a href="mailto:merchantservices@entertainment.com">merchantservices@entertainment.com.</a></h5>

	<h4>Q: What if I have more questions?</h4>
	<h5><span>A:</span> The Entertainment.com&reg; Deals&trade; team will be happy to answer any questions you may have, <a href="<%= contact_publisher_daily_deals_path(@publisher) %>">click here to contact us.</a></h5>
	</div>
	<div id="refund_policy">
	<a id="refund_policy"><h2>Refund Policy</h2></a>
	<p>SATISFACTION GUARANTEED. Entertainment wants you to be 100% satisfied with each Entertainment.com&reg; Deals&trade; that you purchase. If, for any reason, you decide that you do not want to take advantage of the Deal purchased, simply contact us within 30 days for a full refund of the purchase price. A refund the amount of the purchase price will be issued back to the credit card that day although the credit may not appear on your statement immediately.</p>
	<p>ENTERTAINMENT BUCKS. Credits cannot be issued to a different credit card, however if the credit card you used for the original purchase is no longer valid, a credit will be issued to your Entertainment.com&reg; Deals&trade; account in “Entertainment Bucks” to be used for future purchases.</p>
	<p>EVENT SPECIFIC DATES: Please note that refunds on Deals for date specific events will not be issued once that date has passed.</p>
	<p>LOST OR STOLEN DEALS: Please contact us immediately if your Deal is lost or stolen, in certain instances we will be able to work with the merchant and reissue the Deal.</p>
	<p>MERCHANT SERVICES/PRODUCTS: If you are not happy with the actual service or product that you received from the merchant, you should request a refund or credit from that business. We believe that all of the businesses featured as an Entertainment.com&reg; Deals&trade; will work hard to ensure that you have had a pleasurable experience with them. If for some reason you are disappointed with the outcome of your transaction, please let us know and we see if there is anything we can do to help resolve your situation.</p>
	<p>CONTACT US: To request a refund, email us at <a href="mailto:<%= @publisher.support_email_address %>"><%= @publisher.support_email_address %></a> or call us at 866-499-0660 and we will respond to your inquiry promptly.</p>
	</div>
</div>
<div id="large_shadow"></div>