<% if deal_state_access? %>
	<%= javascript_include_tag "adminToolbar_dealState.js" %>
	<div class='admin_toolbar_button_states' style="display: none;">
		<div id="buy_now">
			<div class="sold_out_state">
				<div id="sold_out" class="dd_button">
					Sold Out
				</div>
			</div><!-- END .sold_out_state -->

			<div class="over_state">
				<div id="dd_price"><%= formatted_price_for(@daily_deal.price_to_display) %></div>
				<div id="deal_over" class="dd_button">
					Over
				</div>
			</div><!-- END .over_state -->

			<div class="active_variation_state">	
				<div id="dd_price" class="variation"><span class="variation_from">From</span><br>
					<%= formatted_price_for(@daily_deal.price_to_display) %>
				</div>				
				<a id="buy_now_button" class="dd_button dd_variations_button" href="<%= new_daily_deal_daily_deal_purchase_path(@daily_deal) %>" name="buy_now_button">Buy</a>
				<a id="dd_variations_button" class="buy_now dd_variations_button" href="#"><span class="arrow">&gt;</span></a>
				<%= render :partial => with_theme("shared/dd_variations_menu") %>
			</div><!-- END .active_variation_state -->
			
			<div class="active_state">
				<div id="dd_price">
					<%= formatted_price_for(@daily_deal.price_to_display) %>
				</div>
				<a id="buy_now_button" class="dd_button" href="#" name="buy_now_button">Buy</a>
			</div><!-- END .active_state -->
			
			<div class="not_yet_available_state">
				<div id="not_yet" class="dd_button">Coming Soon</div>
			</div><!-- END .not_yet_available_state -->

		</div><!-- END #buy_now -->
	</div><!-- END .admin_toolbar_button_states -->
	<script type="text/javascript">
		jQuery('.admin_toolbar_button_states').dealState();
	</script>
<% end %>