<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="verify-v1" content="DxsqvgkVp/2Jssm9a2DFSIsuxhRVkgchpNbdevrS7oI=">
<meta name="keywords" content="Willamette Week,News,Politics,Movies,Music,Concerts,Theater,Events,Restaurants,Portland" />

<!--[if lt IE 7.]>
<script defer type="text/javascript" src="http://wweek.com/events/js/pngfix.js"></script>
<![endif]-->

<!-- InstanceBeginEditable name="doctitle" -->
<title>Coupons | Willamette Week</title>
<!-- InstanceEndEditable -->
<link REL="SHORTCUT ICON" HREF="http://wweek.com/favicon.ico">

<script type="text/javascript" src="http://wweek.com/swfobject.js"></script>
<link href="http://wweek.com/_wweekV5.css" rel="stylesheet" type="text/css">

<script type="text/javascript" SRC="http://wweek.com/_wweek.js"></script>
<script type="text/javascript" SRC="http://banners.wweek.com/www/delivery/fl.js"></script>

<script type="text/javascript" src="http://wweek.com/jquery.min.js"></script>
<script type="text/javascript" src="http://wweek.com/jquery.wweek.js"></script>
<script type="text/javascript" src="http://wweek.com/scripts/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="http://wweek.com/livequery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	jQuery.easing.def = "easeOutExpo";

	$("a.button").hover(function(){

	}, function() {

	});
	$(".mm_header").click(function(){
		window.location='/matchmaker/';
	});
});
</script>

<!-- <link rel="alternate" href="http://wweek.com/xml/rja/photos_rss.php" type="application/rss+xml" title="" id="gallery"></link> -->
<style type="text/css">
body { background-image: url(http://wweek.com/imagesV3/stripe3.png); }
a.navbtn { height: 21px; margin: 2px 0 2px 0 }
</style>
<!-- InstanceBeginEditable name="head" -->

<script type="text/javascript" src="http://wweek.com/movietimes/thickbox.js"></script>
<link rel="stylesheet" href="http://wweek.com/movietimes/thickbox.css" type="text/css" media="screen"><!-- InstanceEndEditable -->

<%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head>

<body>
<script type="text/javascript">
$(document).ready(function(){
	$("span.showicons").click(function(){
		$(".socialcontainer span.icons").toggle();
	});
});
</script>

<a name="top"></a>
<div id="wrapper">
<div class="fp_row" style="position: relative; width: 970px; height: 90px; ">

<div style="border: none; height: 87px; width: 210px; z-index: 5; position: absolute; left: 3px; top: 3px; ">
<a href="http://wweek.com/"><img border="0" alt="Logo" width="210" src="http://wweek.com/2008/ww.png"></a>
</div>

<div style="float: right; width: 743px;">
<div style="float: left; width: 15px; height: 90px; background-image: url(http://wweek.com/imagesV2/advertising.gif);"></div>
<div style="text-align: left; clear: none; float: left; width: 728px; height: 90px">
			<!-- begin ad tag -->
<script language="JavaScript" type="text/javascript">
ord=Math.random()*10000000000000000;
document.write('<scr'+'ipt language="JavaScript" src="http://ad.doubleclick.net/adj/ms.netrev.willamette-week/portland-or.netrev;org=newspaper;dma=024;state=or;sz=728x90;ord=' + ord + '?" type="text/javascript"></scr' + 'ipt>');
</script><noscript><a href="http://banners.wweek.com/www/delivery/ck.php?oaparams=2__bannerid=6__zoneid=1__cb=2bcdf947d6__maxdest=http://ad.doubleclick.net/jump/ms.netrev.willamette-week/portland-or.netrev;org=newspaper;dma=024;state=or;sz=728x90;ord=123456789?"  target="_blank"><img src="http://ad.doubleclick.net/ad/ms.netrev.willamette-week/portland-or.netrev;org=newspaper;dma=024;state=or;sz=728x90;ord=123456789?" width="728" height="90" border="0" alt=""></a></noscript>
<!-- End ad tag --><div id='beacon_6' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://banners.wweek.com/www/delivery/lg.php?bannerid=6&amp;campaignid=4&amp;zoneid=1&amp;channel_ids=,&amp;cb=2bcdf947d6' width='0' height='0' alt='' style='width: 0px; height: 0px;' /></div></div>
</div>

</div>

<div id="navwrap">
<div class="nav_row">
<div class=smalldate><%= Date.today.to_s(:weekday_long_ordinal) %></div>

<div class=welcome style="position: relative">
<div style="width: 240px; height: 13px; float: left; margin: 0 5px 0 0; background: url(http://wweek.com/2008/willametteweekonline.png);"></div>

PORTLAND, OREGON'S NEWS WEEKLY. NEWS AND CULTURE FOR <span class=red2008><%= Date.today.to_s(:long_month).upcase %> AND BEYOND.</span>

<br>

</div>

<div>

<div style="width: 777px; float: left; padding: 1px 0 0 0">
<script type="text/javascript">
function loadMegaOptionsDone(result) {
	$("#mega_option_content").html(result);
	$("#mega_go").livequery('click', function(){
		$("#megaform input.default").val("");
		$("#megaform").submit();
	});
	$("#text_search").click(function(){
		if ($(this).attr("class") == "default") {
			$(this).val('');
			$(this).removeClass("default");
		}
		
	});

}

$(document).ready(function(){
	var last_ele, last_width;
	var cur_ele, title;

	function loadMegaOptions() {
		var str = "pane="+title;
		$.ajax({
			url: "http://wweek.com/2008/mega_options.php",
			type: "GET",
			dataType: "jsonp",
			data: str,
			cache: true,
			success: loadMegaOptionsDone
		});
	}
	function optionsMinimized() {
		if (title) {
			//loadMegaOptions();
			$("#mega_option_content").empty().html("<div class=loading>loading <b>"+title+"<\/b> <img src='/2008/events/ww_loading.gif' width=16 height=16><\/div>");
			$("#mega_options").remove().insertAfter($(cur_ele)).show(); 
		} else {
			$("#mega_options").hide();
		}
	}
	function optionsMaximized() {
		loadMegaOptions();
		//$("#mega_options").remove().insertAfter($(last_ele)).show(); //.animate( { "width" : "300px" } );
	}
	
	$("div.mega").click(function(){
	
	//$("#mega_options").animate( { "width" : "10px" } );
	
		var my_id = "#" + this.id;
		cur_ele = my_id;
		title = my_id.split("_")[1];
		
		//$("#mega_option_content").empty();
		
		if (my_id && my_id == last_ele) return false;
		
		//alert("this ele: "+my_id+", last ele: "+last_ele);
		//alert("last width: "+last_width);
		
		
		
		if (last_ele && last_width && last_ele != my_id) {
			//$(last_ele).animate( { "width" : last_width } );
			$("#mega_options").animate( { "width" : "0px"}, { complete: optionsMinimized } );
		} else if (!last_ele) {
			optionsMinimized();
			$("#mega_options").remove().insertAfter($(this));
		}
		
		if ($("#tmp_arrow").length > 0) {
			$("#tmp_arrow").remove();
		}
		
		last_ele = my_id;
		last_width = $(this).css("width");
		
		$("#mega_home").animate( { "width" : "135px" }, { queue: true } );
		
		
		$("#mega_options").animate( { "width" : "368px" }, 
			{ duration: "normal", queue: true, complete: optionsMaximized }
		);
		
		
		//$(this).animate( { "width" : "auto" } );
		
		//$("#mega_arrow").clone().insertAfter(this).attr("id", "tmp_arrow");

	});
	$("#mega_home").click(function(){
		if (last_ele && last_width) {
			$("#mega_options").animate( { "width" : "1px"}, { queue: true, complete: optionsMinimized } );
			//$(last_ele).animate( { "width" : last_width } );
			last_ele = 0;
			last_width = 0;
			title = "";
		}
		$("#mega_home").animate( { "width" : "492px" } );
	});
	
});
</script>

<div id="megasearch">
<form id="megaform" action="http://wweek.com/megasearch/" method="POST">
<div id="mega_options">
<div id="mega_option_content">

</div>

<div id="mega_reverse_arrow">&nbsp;</div>
<div id="mega_go" class="gobtn">&nbsp;</div>

</div>

<div id="mega_home">&nbsp;
</div>

<div id="mega_arrow">&nbsp;
</div>

<div id="btn_music" class=mega>&nbsp;
</div>

<div id="btn_movies" class=mega>&nbsp;
</div>

<div id="btn_food" class=mega>&nbsp;
</div><div id="btn_events" class=mega>&nbsp;
</div>
<div id="mega_spacer">&nbsp;
</div>

</form>
</div>
</div>
<div id="nav_search">

<!--	<a href="http://wweek.com/contact" title="Names & Emails of Willamette Week Staff">Contact Us</a> | <a href="http://wweek.com/getapaper" title="Find a Paper/Subscribe to Willamette Week">Get a Paper</a> | <a href="http://wweek.com/finder">Finder</a><br>-->
<div style="width: 150px; height: 11px; margin: 0 auto 5px; background: url(http://wweek.com/2008/searchwweek.png) no-repeat; "></div>

<form class="oknp" style="margin: 0" name="topNavSearch" method="get" action="http://www.google.com/custom" target="_top">
		<input type="hidden" name="domains" value="wweek.com">
			<input name="q" type="text" style="width: 120px;" size="20" value="Search site via google.." onFocus="return emptyTopSearch()"><input type="submit" name="sa" value="Go"><br>

		<input type="hidden" name="client" value="pub-3254857045056288">
<input type="hidden" name="forid" value="1">
<input type="hidden" name="ie" value="ISO-8859-1">
<input type="hidden" name="oe" value="ISO-8859-1">
<input type="hidden" name="cof" value="GALT:#003366;GL:1;DIV:#003366;VLC:003366;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:003366;LC:003366;T:333333;GFNT:0000FF;GIMP:0000FF;LH:40;LW:261;L:http://wweek.com/imagesV2/logo.gif;S:http://wweek.com/;LP:1;FORID:1;">
<input type="hidden" name="hl" value="en">
<input type="hidden" name="sitesearch" value="wweek.com">
</form></div>
<div style="clear: both"></div>


<% if @controller.controller_name == "publishers" %>
<div class="publisher_show" id="analog_analytics_content">
  <%= yield %>   
</div>

  <div id="adpane" style="width: 170px; float: left; margin: 0 0 0 1px; text-align: center; background-color: #eee">
      <div style="margin: 0px 0 0 0px; padding-top: 4px;">
    <a href="http://www.wweek.com/contest/index.php?contest=Swagsignup" target="_blank">
    <img border="0" src="http://wweek.com/images/buttons/swagrag_btn.jpg">
    </a>
    <!-- <a href="http://www.wweek.com/shuttered" >
    <img border="0" src="http://wweek.com/2009/shuttered.jpg">
    </a> -->
  </div>

  <!-- WW ad -->
  <!-- <a href="http://portland.wweek.com/"><img src="http://wweek.com/imagesV3/wwclass2.png" alt="" border="0"></a>  -->

    <div id="classAdBox">
  	<div style="width:100%;height:40px;" class="classAdHeader">&nbsp;</div>
  	<div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div><div class="item"><strong></strong><br /><a href=""></a><br /><small>More <a href=""></a></small></div>	<div style="clear:both"> </div>
  	</div>
  <div style="margin: 0px 0 0 0px">
    <!-- <a href="http://www.wweek.com/contest/index.php?contest=Swagsignup" target="_blank">
    <img border="0" src="http://wweek.com/images/buttons/swagrag_btn.jpg">
    </a> -->
    <!-- <a href="http://www.wweek.com/shuttered" >
    <img border="0" src="http://wweek.com/2009/shuttered.jpg">
    </a> -->
  </div>

  <img alt="" src="http://wweek.com/imagesV2/advertising_h.gif" align="middle">
  <!-- <a href="http://ev15.evenue.net/cgi-bin/ncommerce3/SEGetEventInfo?ticketCode=GS%3
  AGLOBAL-ROSE%3ARG09%3ARG0606%3A&linkID=blazers-rose&shopperContext=&call
  er=&appCode="><img id="classAd" src="http://wweek.com/2009/Dane_Cook_160x100.jpg" width="160" height="100" alt="" border="0"></a>
  <br/>
  <br/> -->

  <a href='http://banners.wweek.com/www/delivery/ck.php?oaparams=2__bannerid=456__zoneid=4__cb=344cced92c__maxdest=http://www.musicmillennium.com' target='_blank' onmouseover="self.status='Music Millennium'; return true;" onmouseout="self.status=''; return true;"><img src='http://banners.wweek.com/www/delivery/ai.php?filename=scraper_15.gif&contenttype=gif' width='160' height='600' alt='Music Millennium' title='Music Millennium' border='0' /></a><div id='beacon_456' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://banners.wweek.com/www/delivery/lg.php?bannerid=456&amp;campaignid=449&amp;zoneid=4&amp;channel_ids=,&amp;cb=344cced92c' width='0' height='0' alt='' style='width: 0px; height: 0px;' /></div><br><img alt="Ad" src="http://wweek.com/imagesV2/advertising_h.gif" align="middle"><br><a href='http://banners.wweek.com/www/delivery/ck.php?oaparams=2__bannerid=883__zoneid=4__cb=626f6bdcfa__maxdest=http://www.portlandplayhouse.org' target='_blank'><img src='http://banners.wweek.com/www/delivery/ai.php?filename=radio-golf-skyscraper1.jpg&contenttype=jpeg' width='160' height='600' alt='' title='' border='0' /></a><div id='beacon_883' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://banners.wweek.com/www/delivery/lg.php?bannerid=883&amp;campaignid=778&amp;zoneid=4&amp;channel_ids=,&amp;cb=626f6bdcfa' width='0' height='0' alt='' style='width: 0px; height: 0px;' /></div><br><img alt="Ad" src="http://wweek.com/imagesV2/advertising_h.gif" align="middle"><br><a href='http://banners.wweek.com/www/delivery/ck.php?oaparams=2__bannerid=1007__zoneid=4__cb=e918184920__maxdest=http://www.mchealth.org' target='_blank'><img src='http://banners.wweek.com/www/delivery/ai.php?filename=mchd_h1n1_ww-(2)_2.jpg&contenttype=jpeg' width='160' height='600' alt='' title='' border='0' /></a><div id='beacon_1007' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://banners.wweek.com/www/delivery/lg.php?bannerid=1007&amp;campaignid=875&amp;zoneid=4&amp;channel_ids=,&amp;cb=e918184920' width='0' height='0' alt='' style='width: 0px; height: 0px;' /></div><br><img alt="Ad" src="http://wweek.com/imagesV2/advertising_h.gif" align="middle"><br>
  				<p style="font-size:10px; "><b style="display:block; ">Sponsored Links:</b>


  					<a href="http://wweek.com/matchmaker/" target="_blank" onMouseOver="window.status='Willamette Week Personals - Find Someone in Portland Today!'; return true;" onMouseOut="window.status='';" title="Willamette Week Personals - Find Someone in Portland Today!">WW Personals</a><br>
  					<a href="http://portland.wweek.com/musician/classsifieds/Results?section=55840" target="_blank" onMouseOver="window.status='Willamette Week Classifieds - Find it today!'; return true;" onMouseOut="window.status='';" title="Willamette Week Classifieds - Find it today!">Musician's Market</a><br>
  					<a href="http://www.rippingstyle.com" target="_blank" onMouseOver="window.status='Snowboard Jackets'; return true;" onMouseOut="window.status='';" title="Snowboard Jackets">Snowboard Jackets</a><br>
  					<a href="http://www.mycitycontent.com/Legal_Portland_OR-t261_Portland+OR.html" target="_blank" onMouseOver="window.status='Legal Tips'; return true;" onMouseOut="window.status='';" title="Legal Tips">Legal Tips</a><br>
  					<a href="http://nextadventure.net" target="_blank" onMouseOver="window.status='Camping Gear'; return true;" onMouseOut="window.status='';" title="Camping Gear">Camping Gear</a><br>				

  				</p>
  </div>
</div>
<% else -%>
<div id="analog_analytics_content">
  <%= yield %>   
</div>
<% end -%>


</div> <!-- eo:navwrap -->

<div style="clear: both"></div>

</div>
<div class="fp_row" style="clear: all;">

</div><!-- eo: content -->

<br clear=all>

<div class="copyright">
Copyright 2010 Willamette Week Newspaper & <a href="http://wweek.com/">WWEEK.COM</a>
&nbsp;&nbsp;&#149;&nbsp;&nbsp; Web site hosted locally and powered by wind energy (<a href="http://www.canvasdreams.com" target="_blank">Canvas Dreams</a>)
</div>

</div> <!-- eo:wrapper -->

<!-- Start G-Anal -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-593977-1";
urchinTracker();
</script>
<!-- End G-Anal -->
<!-- Start Quantcast tag -->
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<script type="text/javascript">_qacct="p-devwm660sKDlc";quantserve();</script>
<noscript>
<a href="http://www.quantcast.com/p-devwm660sKDlc" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-devwm660sKDlc.gif" style="display: none" border="0" height="1" width="1" alt="Quantcast"/></a>
</noscript>
<!-- End Quantcast tag -->
<!-- Start Quantcast tag -->
<script type="text/javascript">
_qoptions={
qacct:"p-7apeS9pNVYMQo"
};
</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="http://pixel.quantserve.com/pixel/p-7apeS9pNVYMQo.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->
<!-- begin ZEDO for channel:  Willamette Week , publisher: Willamette Week , Ad Dimension: Pixel/Popup - 1 x 1 -->

<script language="JavaScript" src="http://c5.zedo.com/jsc/c5/fo.js"></script>
<!-- end ZEDO for channel:  Willamette Week , publisher: Willamette Week , Ad Dimension: Pixel/Popup - 1 x 1 -->
</body>
<!-- InstanceEnd --></html>