<div id="dd_nav">
	<%= render :partial => with_theme('shared/market_menu') if @publisher.enable_market_menu %>
	<a href="<%= public_deal_of_day_path(@publisher.label) %>">Today's Deal</a> 
	<a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a>
	<a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>">How It Works</a>
	<!-- <a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>">Feature Your Business</a> -->
	<a href="<%= faqs_publisher_daily_deals_path(@publisher) %>" class="last">FAQ's</a>
</div><!-- /dd_nav -->