<ul class="dd_ftr_nav">
	<li><a href="{{ publisher.todays_daily_deal_path }}">Today's Deal</a><span class="divider"></span></li>
	<li><a href="{{ publisher.how_it_works_path }}">How It Works</a><span class="divider"></span></li>
	<li><a href="{{ publisher.feature_your_business_path }}">Feature Your Business</a><span class="divider"></span></li>
	<li><a href="{{ publisher.faq_path }}">FAQ</a><span class="divider"></span></li>
	<li><a href="{{ publisher.new_consumer_path }}">Sign Up</a><span class="divider"></span></li>
	<li class="last"><a href="{{ publisher.contact_path }}">Contact Us</a></li>
</ul><!-- /footer_nav -->
<div class="clear"></div>
<ul class="nydn_ftr_nav">
	<li>nydailynews.com:</li>
	<li><a href="http://www.nydailynews.com">Home</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/news">News</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/sports">Sports</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/entertainment">Entertainment</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/money">Business</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/jobs">Jobs</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/autos">Auto</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/real_estate">Real Estate</a><span class="divider"></span></li>
	<li><a href="http://www.nydailynews.com/classifieds">Classifieds</a></li>
</ul>
<ul class="nydn_ftr_nav">
	<li><a href="http://www.nydailynews.com/services/privacy_policy/index.html">Privacy Notice</a><span class="divider"></span></li>
	<li><a href="">© NY Daily News</a></li>
</ul>
<ul class="nydn_ftr_nav">
	<li>4 New York Plaza<span class="divider"></span></li>
	<li>New York, NY 10004</li>
</ul>
<a href="http://www.nydailynews.com"><img src="/themes/nydailynews/img/nydailynews_logo.png" /></a><br />
{% include "shared/a_a_alt" %}