<div class="page_row refer_a_friend">
  <div class="page_column_8 page_column_refer first rounded_corners" id="refer_a_friend">
    <h1>Invite a un amigo y reciba un cr&eacute;dito de <%= number_to_currency(@publisher.daily_deal_referral_credit_amount, :unit => @publisher.currency_symbol) %> para usar en su pr&oacute;xima compra!</h1>
    <p>Reciba un cr&eacute;dito de <%= number_to_currency(@publisher.daily_deal_referral_credit_amount, :unit => @publisher.currency_symbol) %> por cada persona que usted invite y haga una primer compra de la oferta semanal en Busca Ayuda. &iexcl;Invite a cuantos amigos que quiera! &iexcl;No hay l&iacute;mite en la cantidad de cr&eacute;dito que oueda recibir!</p>
    <ul>
      <% referral_url = @consumer.referral_url(@publisher) %>
      <% if referral_url.present? -%>
      <li>Comparta este link &uacute;nico a su cuenta <%= tag("input", :type => "text", :size => referral_url.size, :class => "consumer_referral_link", :value => referral_url) %>
      <% end -%>
      <li>
        <%= mail_to(nil, image_tag("/images/buttons/email_32.png"), :body => @consumer.twitter_status(@publisher)) %>
        <%= mail_to(nil, "M&aacute;ndelo por corrreco electr&oacute;nico", :body => @consumer.twitter_status(@publisher)) %>
      </li>
      <li>
        <%= link_to( 
              image_tag("/images/buttons/facebook_32.png"),
              facebook_publisher_consumer_path(@publisher, @consumer),
              :onclick => "return facebook_popup('#{facebook_publisher_consumer_path(@publisher, @consumer, :popup => true)}')",
              :title => "Comp&aacute;rtalo en Facebook",
              :target => "_blank") %>
        <%= link_to( 
              "Comp&aacute;rtalo por Twitter ",
              facebook_publisher_consumer_path(@publisher, @consumer),
              :onclick => "return facebook_popup('#{facebook_publisher_consumer_path(@publisher, @consumer, :popup => true)}')",
              :title => "Share link on Facebook",
              :target => "_blank") %>
      </li>
      <li>
        <%= link_to(
              image_tag("/images/buttons/twitter_32.png"),
              twitter_publisher_consumer_path(@publisher, @consumer),
              :target => "_blank",
              :title => "Share link on Twitter") %>
        <%= link_to(
              "Comp&eacute;rtalo por Twitter ",
              twitter_publisher_consumer_path(@publisher, @consumer),
              :target => "_blank",
              :title => "Share link on Twitter") %>
      </li>
    </ul>
  </div>
  <%= render(:partial => with_theme("refer_a_friend_sidebar"), :locals => { :publisher => @publisher }) %>
  <div id="bottom_spacer" class="clear">&nbsp;</div>
</div>

<% javascript_tag do %>
$$('.consumer_referral_link').each(function(elem) {
  elem.onclick = function() {
    Form.Element.select(this);
  };
});
<% end %>

