<li class="purchase">
  <% if daily_deal_purchase.daily_deal.present? %>
    <a href="<%= daily_deal_path(daily_deal_purchase.daily_deal) %>">
    	<img src="<%=  protocol_relative_url(daily_deal_purchase.daily_deal.secondary_photo.url(:thumbnail)) %>" alt="<%= daily_deal_purchase.line_item_name %>" height="75px">
    </a>
    <ul>
      <% if daily_deal_purchase.expires_on.present? and daily_deal_purchase.expires_on - Date.today < 1.month %>
        <li class="expiration"><%= t(:expires_soon) %></li>
      <% end %>
      <li class="name"><%= daily_deal_purchase.value_proposition %></li>
      <li class="location">
      	<% if daily_deal_purchase.daily_deal.custom_2.present? %>
     		<i><%= daily_deal_purchase.daily_deal.custom_2 %></i>
   		<% else %>
      		<i><%= daily_deal_purchase.advertiser.name %></i>
    	<% end %>
      </li>
      <li><%= t(:purchased) %> <%= daily_deal_purchase.humanize_created_on %></li>
      <% if daily_deal_purchase.expires_on.present? %>
      	<li><strong><%= t(:expires) %> <%= daily_deal_purchase.humanize_expires_on %></strong></li>
      <% else %>
      	<li><strong><%= t(:does_not_expire) %></strong></li>
      <% end %>
      <li>
        <% if daily_deal_purchase.non_voucher_purchase? %>
            <%= link_to t(:click_to_view_voucher),
                       non_voucher_redemption_daily_deal_purchase_url(daily_deal_purchase.to_param) %>
        <% else %>
            <%= link_to t(:click_to_view_voucher),
                       publisher_consumer_daily_deal_purchase_url(@publisher.to_param, @consumer.to_param, daily_deal_purchase.to_param, :format => :pdf) %>
        <% end %>
      </li>
    </ul>
  <% else %>
  <td colspan="6"><%= t('.error_message') %></td>
  <% end %>
  <div class="clear"></div>
</li>
