<% set_daily_deal_page_title_slug t(:my_deals) %>

<% unless @publisher.label == 'bcbsa-national' %>
	<!-- breadcrumbs -->
	<div class="breadcrumbs">
	<ul>
		<li>
	      <a href="<%= public_deal_of_day_path(@publisher.label) %>"><%= t(:home) %></a>
	    </li>
	    <li class="no_underline">></li>
		<li>
			<a href="<%= publisher_consumer_path(current_consumer.publisher, current_consumer) %>"><%= t(:my_account) %></a>
		</li>
		<li class="no_underline">></li>
		<li class="no_underline">          
			<%= t(:my_deal_history) %>
		</li>
	</ul>
	</div><!-- /breadcrumbs -->
	<div class="clear"></div>
<% end  %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners daily_deal_purchases_list">
    <h1 class="content"><%= t(:my_deal_history) %></h1>
    
    <% if @daily_deal_purchases.blank? %>
      <p><%= t('.no_deals_message') %></p>
    <% else %>
      <p class="deal-history-text">
        <%= t(:my_deal_history_par1) %> <a href="<%= publisher_daily_deal_categories_path(@publisher) %>"><%= t(:my_deal_history_par2) %></a><%= t(:my_deal_history_par3) %>
      </p>
      <ul id="purchases">
      <%= render :partial => with_theme('daily_deal_purchase'), :collection => @daily_deal_purchases %>
      </ul>
    <% end %>
  </div>
</div>

