<div id="summary_links">
  <%- url_options.merge!(:market_id => params[:market_id]) if params[:market_id].present? %>

  <%= nav_link page, :coupon_summary, "Online Coupon Summary",
    reports_publisher_advertisers_url(@publisher, url_options.merge(:summary => "web_offers")) %>

  &nbsp;&brvbar;&nbsp;
  <%= nav_link page, :txt_coupon_summary, "Newsprint TXT Coupon Summary",
    reports_publisher_advertisers_url(@publisher, url_options.merge(:summary => "txt_offers")) %>

  <% if @publisher.allow_gift_certificates? %>
    &nbsp;&brvbar;&nbsp;
    <%= nav_link page, :deal_certificate_summary, "Deal Certificate Summary",
      reports_publisher_advertisers_url(@publisher, url_options.merge(:summary => "gift_certificates")) %>

    &nbsp;&brvbar;&nbsp;
    <%= nav_link page, :purchased_deal_certificates, "Purchased Deal Certificates",
      purchased_gift_certificates_reports_publisher_url(@publisher, url_options) %>
  <% end %>

  <% if @publisher.allow_daily_deals? %>
    &nbsp;&brvbar;&nbsp;

    <% if @publisher.markets.present? %>
      <%= nav_link page, :purchased_daily_deals, "Purchased Daily Deals", purchased_daily_deals_by_market_reports_publisher_path(@publisher, url_options) %>
      &nbsp;&brvbar;&nbsp;
      <%= nav_link page, :refunded_daily_deals, "Refunded Daily Deals", refunded_daily_deals_by_market_reports_publisher_path(@publisher, url_options) %>
    <% else %>
      <%= nav_link page, :purchased_daily_deals, "Purchased Daily Deals", purchased_daily_deals_reports_publisher_path(@publisher, url_options) %>
       &nbsp;&brvbar;&nbsp;
      <%= nav_link page, :refunded_daily_deals, "Refunded Daily Deals", refunded_daily_deals_reports_publisher_url(@publisher, url_options) %>
    <% end %>

    &nbsp;&brvbar;&nbsp;
    <%= nav_link page, :affiliated_daily_deals, "Affiliate Daily Deals",
      affiliated_daily_deals_reports_publisher_path(@publisher, url_options) %>

    &nbsp;&brvbar;&nbsp;
    <%= nav_link page, :daily_deal_summary, "Daily Deal Summary",
      reports_publisher_advertisers_url(@publisher, url_options.merge(:summary => "daily_deals")) %>
  <% end %>

  &nbsp;&brvbar;&nbsp;
  <%= nav_link page, :subscribers, "Subscribers",
    subscribers_reports_publisher_path(@publisher, url_options) %>

  &nbsp;&brvbar;&nbsp;
  <%= nav_link page, :referrals, "Referrals",
    referrals_reports_publisher_path(@publisher, url_options) %>

  <% if @publisher.uses_paychex? %>
    &nbsp;&brvbar;&nbsp;
    <%= nav_link page, :paychex, "Paychex",
      paychex_reports_publisher_path(@publisher, url_options) %>
  <% end %>
</div>
