<% set_page_title "Reports: Home" %>

<% url_options = { :summary => @summary } -%>

<div class="reports_home_nav">
  <ul>

    <li>
    <%= nav_link :reports_home, :coupon_summary, "Online Coupon Summary", reports_publishers_url(url_options.merge(:summary => "web_offers")) %>
    </li>

    <% if admin? %>
      <li>
      <%= nav_link :reports_home, :billing_summary, "Billing Summary", reports_publishers_url(url_options.merge(:summary => "billing")) %>
      </li>

      <li>
      <%= nav_link :reports_home, :purchased_deal_certificates, "Purchased Deal Certificates", purchased_gift_certificates_reports_url(url_options) %>
      </li>
    <% end %>

    <li>
    <%= nav_link :reports_home, :purchased_daily_deals, "Purchased Daily Deals", purchased_daily_deals_reports_path(url_options) %>
    </li>

    <li>
    <%= nav_link :reports_home, :refunded_daily_deals, "Refunded Daily Deals", refunded_daily_deals_reports_url(url_options) %>
    </li>

    <li>
    <%= nav_link :reports_home, :daily_deals_social_media, "Daily Deals Social Media", daily_deals_reports_publishers_url(url_options) %>
    </li>

    <li>
    <%= nav_link :reports_home, :affiliated_daily_deals, "Affiliate Daily Deals", affiliated_daily_deals_reports_path(url_options) %>
    </li>
    
    <li>
    <%= nav_link :reports_home, :purchases_eligible_for_loyalty_program, "Loyalty Program", loyalty_eligible_reports_path(url_options) %>
    </li>    

  </ul>
</div>
