<% set_page_title "Reports: Publisher Deal Certificates" -%>
<% url_options = { :dates_begin => @dates.begin, :dates_end => @dates.end } -%>

<%= render(:partial => "reports/dates", :locals => {
  :csv_url => purchased_gift_certificates_reports_publisher_url(@publisher, url_options.merge(:format => "csv"))
}) %>

<%= render(:partial => "navigation", :locals => {:page => :purchased_deal_certificates, :url_options => url_options}) %>

<% form_tag purchased_gift_certificates_path(:format => :pdf), :method => :get do %>
  <%= hidden_field_tag(:publisher_id, @publisher.to_param) %>
  <%= render(:partial => "reports/data_table", :locals => {
    :dates => @dates,
    :table_name => "publisher_purchased_gift_certificates",
    :data_source => purchased_gift_certificates_reports_publisher_path(@publisher.to_param, :format => "xml"),
    :data_params => {},
    :result_node => :purchased_gift_certificate,
    :data_columns => [
      [:id, { :label => "", :sortable => false, :formatter => "formatCheckbox('id[]')" }],
      [:advertiser_name, { :label => "Advertiser", :class_name => 'left' }],
      [:item_number, { :label => "Deal Certificate", :class_name => 'left' }],
      [:value, { :label => "Value", :formatter => "formatCurrency" }],
      [:paypal_payment_gross, { :label => "Purchase Price", :formatter => "formatCurrency" }],
      [:currency_symbol, { :display => false }],
      [:paypal_payment_date, { :label => "Purchase Date" }],
      [:serial_number, { :label => "Serial Number" }],
      [:recipient_name, { :label => "Name", :class_name => 'left' } ],
      [:paypal_payer_email, { :label => "Email", :class_name => 'left' }],
      [:status, { :label => "Status", :class_name => "left" }]
    ]
  }) %>
  <div class="full_width buttons">
    <%= submit_tag("Download PDF", :class => "left") %>
  </div> 
<% end -%>

