<!--START FOOTER-->
<div id="footer">
    <div id="footernav">
        <div id="topbar">
            
            <div class="market_sites_container">
                <div class="market_sites">
                <form name="market_navigation">
                    <select id="market_navigation_menu" name="market_navigation_menu" gtbfieldid="6">
                        <option value="#" selected="selected">Choose Your City:</option>
                        <option value="http://www.myaustinperks.com">Austin, TX</option>
                        <option value="http://www.mynewenglandperks.com">Boston, MA</option>
                        <option value="http://www.mybuffaloperks.com">Buffalo, NY</option>
                        <option value="http://www.mydenverperks.com">Denver, CO</option>
                        <option value="http://www.myheartoffloridaperks.com">Gainesville-Ocala, FL</option>
                        <option value="http://www.mytriadperks.com">Greensboro, NC</option>
                        <option value="http://www.myupstateperks.com">Greenville, SC</option>
                        <option value="http://www.myhamptonroadsperks.com">Hampton Roads, VA</option>
                        <option value="http://www.myheartoffloridaperks.com">Heart of Florida</option>
                        <option value="http://www.myindianapolisperks.com">Indianapolis, IN</option>
                        <option value="http://www.mykansascityperks.com">Kansas City, KS-MO</option>
                        <option value="http://www.mymadisonperks.com">Madison, WI</option>
                        <option value="http://www.mymemphisperks.com">Memphis, TN</option>
                        <option value="http://www.mymilwaukeeperks.com">Milwaukee, WI</option>
                        <option value="http://www.mynewenglandperks.com">New England</option>
                        <option value="http://www.myneworleansperks.com">New Orleans, LA</option>
                        <option value="http://www.myhamptonroadsperks.com">Norfolk, VA</option>
                        <option value="http://www.mynepaperks.com">North Eastern PA</option>
                        <option value="http://www.mytriadperks.com">Piedmont Triad, NC</option>
                        <option value="http://www.myportlandperks.com">Portland, OR</option>
                        <option value="http://www.myprovidenceperks.com">Providence, RI</option>
                        <option value="http://www.myrochesterperks.com">Rochester, NY</option>
                        <option value="http://www.mysacramentoperks.com">Sacramento, CA</option>
                        <option value="http://www.mysanfranciscoperks.com">San Francisco, CA</option>
                        <option value="http://www.myseattleperks.com">Seattle, WA</option>
                        <option value="http://www.mynewenglandperks.com">Springfield, MA</option>
                        <option value="http://www.myupstateperks.com">Upstate, SC</option>
                        <option value="http://www.mywichitaperks.com">Wichita, KS</option>
                        <option value="http://www.mynepaperks.com">Wilkes Barre, PA</option>
                        <option value="http://www.mynewenglandperks.com">Worcester, MA</option>
                        </select>  
                    
                    <input type="button" value="Go" id="market_navigation_button" onclick="location=document.market_navigation.market_navigation_menu.options[document.market_navigation.market_navigation_menu.selectedIndex].value;return false;">
                </form>
            </div>
        </div>
            
            <ul>
                <li><a href="http://static.intertechmedia.com/Entercom/Entercom_Internet_Privacy_Policy_January_2007.pdf">Privacy Policy</a></li>
                <li><a href="http://www.entercom.com/careers.php">Jobs</a></li>
                <li><a href="http://www.entercom.com/eeo.php">EEO Public File</a></li>
                <li><a href="http://www.entercom.com">Entercom.com</a></li>
                <li><a href="http://www.1thingus.com">Do 1Thing</a></li>
                <li><a href="/s.nl/c.667537/n.2/sc.58/category.42625/.f?partner=P00005">Station Gear</a></li>
            </ul>
        </div>
        <div id="colwrap">
            <div class="col">
                <div class="inner">
                    <h4>Northeast</h4>
                    <ul>
                        <li><a href="http://www.mybuffaloperks.com">Buffalo, NY</a></li>
                        <li><a href="http://www.mynewenglandperks.com">New England, MA</a></li>
                        <li><a href="http://www.mynepaperks.com">Northeastern PA</a></li>
                        <li><a href="http://www.myprovidenceperks.com">Providence, RI</a></li>
                        <li><a href="http://www.myrochesterperks.com">Rochester, NY</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="inner">
                    <h4>South</h4>
                    <ul>
                        <li><a href="http://www.myhamptonroadsperks.com">Hampton Roads, VA</a></li>
                        <li><a href="http://www.myheartoffloridaperks.com">Heart of Florida</a></li>
                        <li><a href="http://www.mymemphisperks.com">Memphis, TN</a></li>
                        <li><a href="http://www.myneworleansperks.com">New Orleans, LA</a></li>
                        <li><a href="http://www.mytriadperks.com">Piedmont Triad, NC</a></li>
                        <li><a href="http://www.mygreenvilleperks.com">Upstate, SC</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="inner">
                    <h4>Midwest</h4>
                    <ul>
                        <li><a href="http://www.myaustinperks.com">Austin, TX</a></li>
                        <li><a href="http://www.myindianapolisperks.com">Indianapolis, IN</a></li>
                        <li><a href="http://www.mykansascityperks.com">Kansas City, KS-MO</a></li>
                        <li><a href="http://www.mymadisonperks.com">Madison, WI</a></li>
                        <li><a href="http://www.mymilwaukeeperks.com">Milwaukee, WI</a></li>
                        <li><a href="http://www.mywichitaperks.com">Wichita, WI</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="inner">
                    <h4>West</h4>
                    <ul>
                        <li><a href="http://www.mydenverperks.com">Denver, CO</a></li>
                        <li><a href="http://www.myportlandperks.com">Portland, OR</a></li>
                        <li><a href="http://www.mysacramentoperks.com">Sacramento, CA</a></li>
                        <li><a href="http://www.mysanfranciscoperks.com">San Francisco, CA</a></li>
                        <li><a href="http://www.myseattleperks.com">Seattle, WA</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="inner last">
                    <h4>Customer Service</h4>
                    <ul>
                        {% if publisher.current_user_belongs_to? %}
                        <li><a href="{{ publisher.my_account_path }}">My Account</a></li>
                        <li><a href="{{ publisher.my_deals_path }}">View Orders</a></li>
                        <li><a href="{{ publisher.my_account_path }}">Edit Profile</a></li>
                        {% else %}
                        <li><a href="{{ publisher.login_path }}">Sign In</a></li>
                        {% endif %}
                        <li><a href="{{ publisher.contact_path }}">Customer Service</a></li>
                        <li><a href="{{ publisher.faq_path }}">FAQs</a></li>
                        <li><a href="{{ publisher.terms_path }}">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>
    
    
    <p id="copyright">Copyright &copy; 2010 Entercom Communications. All Rights Reserved.</p></br>
    <a href="http://www.analoganalytics.com/"  target="_blank" id="analog_analytics_logo"><img alt="Powered_by_analog_analytics" src="/images/powered_by_analog_analytics.png" /></a> 
</div>
<!--END FOOTER-->