<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{{ daily_deal.value_proposition }}</title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #F7F7F7; font-family: Helvetica, Arial, sans-serif;">
<table cellspacing="0" border="0" bgcolor="#ffffff" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
	<tr style="margin: 0; padding: 0; border: 0;">
		<td align="center" style="margin: 0; padding: 0; border: 0;">
    		<table id="content_container" cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0;" bgcolor="#F7F7F7" width="600" cellpadding="0">
    			<tr>                   
                    <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_left_border.png); background-repeat: no-repeat; width:16px;" background="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_left_border.png"></td>
    				<td width="568" bgcolor="#FCFBC5">
    					<table width="568" cellpadding="0" cellspacing="0" border="0">
    						<tr>
    							<td><img src="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_banner.png" height="137" width="568" alt="DEAL OF THE DAY" /></td>
    						</tr>
    						<tr>
    							<td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_date_bg.png); background-repeat: no-repeat; color:#FFFFFF; font-family: Helvetica, sans-serif; font-size: 14px; height:28px; text-align:center;" background="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_date_bg.png">> {{ "now" | date: "%A, %B %e, %Y" }}</td>
    						</tr>
    						<tr>
    							<td>
    								<table cellpadding="0" border="0" style="padding-top:20px; padding-bottom: 20px; "><!-- value and price -->
    									<tr>
    										<td style="padding-left:20px;width:415px;" valign="top"><h1 style="font-family: Helvetica, sans-serif;font-size:30px; line-height:34px;margin:0;"><span style="color:#7BB447;">Today's Deal: {{ daily_deal.savings_as_percentage | percentage }} Off!</span><br />{{ daily_deal.value_proposition }}</h1></td>
    										<td width="113" height="112" style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/buy_it_star.png); background-repeat: no-repeat; color:#ffffff; font-family: Helvetica, sans-serif;font-size:34px;font-weight:bold;height:112px; padding-top:40px; padding-right:10px; text-align:center; width:113px;" background="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/buy_it_star.png" valign="top">{{ daily_deal.price | currency }}</td>
    									</tr>
    								</table><!-- /value and price -->
    							</td>
    						</tr>
    						<tr>
    							<td valign="top" style="vertical-align:top;">
    								<table cellpadding="0" cellspacing="0" border="0"><!-- photo and dashboard -->
    									<tr>
    										<td style="padding-left:20px; padding-right:8px;padding-bottom:20px;width:300px;vertical-align:top;"><img src="{{ daily_deal.photo.url }}" alt="{{ advertiser.name }}" width="260" style="border: 1px solid #FFFF1D;" /></td>
    										<td style="padding-right:20px;vertical-align:top;">
    											<table cellpadding="0" cellspacing="0" border="0"><!-- dashboard -->
    												<tr>
    													<td valign="top" style="padding-bottom:20px;vertical-align:top;">
    														<a href="{{ daily_deal.url_for_email }}" style="color: #ffffff; display: block; text-decoration: none;"><img src="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/buttons/email_buy_button.png" height="58" alt="BUY NOW" width="259" style="border: none; display: block;" /></a>
    													</td>
    												</tr>
    												<tr>
    													<td style="background-color:#FFFFFF; border:3px solid #cccccc; text-align:center; width:240px;">
															<table align="center" cellpadding="0" cellspacing="8" border="0" style="text-align:center;">
																<tr>
																	<td style="color:#666666;font-family: Helvetica, sans-serif;font-size:20px; font-weight:bold;">{{ daily_deal.value | currency }}</td>
																	<td style="color:#666666;font-family: Helvetica, sans-serif;font-size:20px; font-weight:bold;">{{ daily_deal.price | currency }}</td>
																	<td style="color:red;font-family: Helvetica, sans-serif;font-size:20px; font-weight:bold;">{{ daily_deal.savings | currency }}</td>
																</tr>
																<tr>
																	<th style="color:#666666;font-family: Helvetica, sans-serif;font-size:12px; font-weight:normal;">VALUE</th>
																	<th style="color:#666666;font-family: Helvetica, sans-serif;font-size:12px; font-weight:normal;">TODAY'S DEAL</th>
																	<th style="color:red;font-family: Helvetica, sans-serif;font-size:12px; font-weight:normal;">YOU SAVE</th>
																</tr>
															</table>
    													</td>
    												</tr>
    												<tr>
    													<td style="padding:10px;">&nbsp;</td>
    												</tr>
    											</table><!-- /dashboard -->
    										</td>
    									</tr>    									
    								</table><!-- /photo and dashboard -->
    							</td>
    						</tr>
    						<tr>
    							<td width="568" style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_share_bg.png); background-repeat: no-repeat; height:37px;padding-left:125px;padding-bottom:20px;width:568px;" background="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_share_bg.png">
									<a href="{{ daily_deal.facebook_url }}" style="color: #ffffff;"><img src="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/buttons/facebook.png" height="30" alt="Facebook" style="border: none;" width="28" /></a> 
									<a href="{{ daily_deal.twitter_url }}" style="color: #ffffff;"><img src="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/buttons/twitter.png" height="30" alt="Twitter" style="border: none;" width="28" /></a> 
									<a href="mailto:?subject={{ daily_deal.publisher_prefix | uri_escape }}:%20{{ daily_deal.value_proposition | uri_escape }}&amp;body=Check%20out%20this%20deal%20at%20{{ daily_deal.url }}" style="color: #ffffff;"><img src="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/buttons/email.png" height="30" alt="Email" style="border: none;" width="28" /></a>
    							</td>
    						</tr>
    						<tr>
    							<td>
    								<table cellpadding="0" cellspacing="0" border="0"><!-- deal info -->
    									<tr>
											<td valign="top" style="font-family: Helvetica, sans-serif;font-weight: bold;width:280px;padding-left:20px;padding-right:10px;text-align:left;" width="280">
												<div><img src="{{ advertiser.logo.standard_url }}" height="55" alt="TEN" style="display: block;" width="110" /></div>
												<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3em; padding: 0; margin-top: 10px; margin-bottom: 12px; color: #3D0FD6;">{{ advertiser.name }}<br />
												{{ advertiser.address_line_1 }}<br />
												{{ advertiser.city }}, {{ advertiser.state }} {{ advertiser.zip }}<br />
												{{ advertiser.phone_number }}<br />
												<a href="{{ advertiser.website_url }}">{{ advertiser.website_url }}</a></p>
											</td>
											<td valign="top" style="padding-right:20px;text-align:left;width:300px;">
												<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #3D0FD6;">Highlights</h3>
												<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;">{{ daily_deal.highlights }}</span>
											</td>
										</tr>
										<tr>
											<td colspan="3" style="padding-left:20px; padding-right:20px; padding-top:20px;padding-bottom:20px;text-align:left;">
												<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #3D0FD6;">Description</h3>
												<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;">{{ daily_deal.description }}</span>
											</td>
										</tr>
    								</table><!-- /deal info -->
    							</td>
    						</tr>
    					
    					</table>
    				</td>
                    <td style="background-image: url(http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_left_border.png); background-repeat: no-repeat; width:16px;" background="http://{{ publisher.daily_deal_host }}/themes/whatsupforkids/images/backgrounds/email_left_border.png"></td>
    			</tr>
    		</table><!-- /content_container -->
			<table width="600" align="center" style="text-align:center;">
				<tr>
					<td style="background-color: #F7F7F7; text-align:center;">
						<p style="color:#333333; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; line-height: 12px;text-align:center;">If you no longer wish to receive this mailing, <a href="{{ daily_deal.unsubscribe_url }}" style="color:#333333;">click here to unsubscribe</a></p>
						<p style="font-family: Arial, Helvetica, sans-serif;font-size:16px; color:#333333;font-size:12px;">Copyright 2011. All rights reserved.</p>
			      <p><a style="border: none; text-align: center" href="http://analoganalytics.com"><img style="border:none;" src="http://{{ publisher.daily_deal_host }}/images/powered_by_analog_analytics.png" alt="Powered by Analog Analytics" /></a></p>
					</td>
				</tr>	
			</table>
		</td>
	</tr>
</table><!-- /body-->
</body>
</html>