<% set_page_title "Home page" %>
<% @navbar_active_item_tag = :r1 %>

<% row1 do %>
  <% box2 do %>
  <div class="shadow">
  <a href="support" style="color:#65737e"><div class="padding">
    <div class="bg2">
      <img alt="" src="<%= txt411_image_path('1-p1.jpg') %>" style="margin-right:25px; float:left;" />
      <img alt="" src="<%= txt411_image_path('1-t1.png') %>" /><br />
      <br style="line-height:10px" />
      Quick facts and Frequently Asked Questions about TXT411, and our Terms of Service.<br class="clear" />
      <br style="line-height:0px" />
      </div>
    </div></a>
  </div>
  <% end -%>

  <% box2 do %>
  <div class="shadow">
  <a href="account_signup.html" style="color:#65737e;"><div class="padding">
    <div class="bg2">
      <img alt="" src="<%= txt411_image_path('1-p2.jpg') %>" style="margin-right:25px; float:left;" />
      <img alt="" src="<%= txt411_image_path('1-t2.png') %>" /><br />
      <br style="line-height:9px" />
      Join our web site to receive discounts and promotions from our advertising clients!<br class="clear" />
      <br style="line-height:0px" />
    </div>
  </div></a>
</div>
  <% end -%>

  <% box2 do %>
  <div class="shadow">
  <a href="/mobile_phones/new" style="color:#65737e;"><div class="padding">
    <div class="bg2">
      <img alt="" src="<%= txt411_image_path('1-p3.jpg') %>" style="margin-right:25px; float:left;" />
      <img alt="" src="<%= txt411_image_path('1-t3.png') %>" /><br />
      <br style="line-height:10px" />
      Receiving messages you don't want? Please let us know and we'll make sure they stop.<br class="clear" />
      <br style="line-height:0px" />
    </div>
  </div></a>
</div>
  <% end -%>
<% end -%>

<% row2 do %>
  <% box do %>
  <br style="line-height:12px" />Welcome to TXT411, the consumer support site for Super Banner Coupons powered by Analog Analytics. At this site, you can learn all about receiving Super Banner Coupons via mobile text message, and opt in or out of receiving coupons on your mobile phone.
  <br />
  <br style="line-height:12px" />You may already have received a text coupon from TXT411 (898411) on your mobile phone, most likely after submitting a coupon request at this web site. This is a feature of the Super Banner Ad service we provide to enable you and our advertising clients to better connect.
  <br />
  <br style="line-height:12px" />If you have questions about our service after reading the information on our <a href="help.html">Help and Support</a> page, or you feel that the service is not working in accordance with your expectations, please email our support desk at <a href="mailto:support@txt411.com">support@txt411.com</a>, or call our toll-free support line at (877) 898-4114.
  <% end -%>
<% end -%>
