<% set_page_title "Terms and Conditions" %>
<% @navbar_active_item_tag = :r4 %>

<br/>
<br/>
<!--row2 -->
<div class="main"><a name="privacy"></a>
<div class="indent">
<div class="padding" align="justify">

<%= link_to image_tag("/images/powered_by_analog_analytics.png"), "http://www.analoganalytics.com/", :id => "analog_analytics_logo" %> 

<h4>Terms and Conditions</h4>

<p>Last Updated: May 26, 2009</p>

<p>This is the Terms and Conditions Agreement ("Terms and Conditions" or "Agreement") of Analog Analytics, Inc. ("Analog Analytics" or "us" or "we"). These Terms and Conditions and our <%= link_to("Privacy Policy", txt411_privacy_path) %>, incorporated herein by reference, govern your use of our online services, any content or information therein, the analoganalytics.com website, any subdomains of analoganalytics.com, and any other website pages on which services are provided by us (collectively, the "Site").</p>

<p>By using this Site, you signify your agreement to these terms and conditions and Analog Analytics' <%= link_to("Privacy Policy", txt411_privacy_path) %>, including all changes and revisions to this Agreement and the <%= link_to("Privacy Policy", txt411_privacy_path) %>. If you do not agree to these Terms and Conditions please do not use this Site. Please read this agreement carefully and check this Agreement periodically for changes as Analog Analytics reserves the right to revise this Agreement. Any modifications we make will be effective immediately upon posting to the Site, and your continued use of this Site following the posting of any changes to the Agreement constitutes your acceptance of such changes. Analog Analytics reserves the right to refuse, restrict, suspend, or terminate any user's use of this Site at any time without notice and may do so for such user's failure to abide by this Agreement or any other terms or conditions posted anywhere on the Site. This Agreement applies to licensors, affiliates and advertisers as well.</p>

<h5>THIRD PARTY SITES</h5>

<p>You may be transferred to online merchants or other third party sites through links or frames from this Site. You may have been transferred to our Site through online merchants or other third party sites through links or frames from such third party sites.  This Site does not sell any good or service to consumers and nothing on this Site shall be construed as an offer to sell anything or enter into any kind of business relationship. Any purchases you make will be through other websites and from other companies. You are cautioned to read such sites' terms and conditions and all policies, including policies regarding sales, returns, warranties, and privacy before using such sites in order to be aware of the terms and conditions of your use of such sites. Be sure to carefully evaluate and investigate such sites on your own to your satisfaction.</p>

<p>You are also cautioned to carefully read the terms and conditions of any coupons, specials, sweepstakes, promotions, sales or other offers from these merchants. Analog Analytics shall not be responsible for any inaccuracies; misrepresentations; product or service liability; offensive, infringing, libelous or illegal materials; lack of availability of other sites, information, promotions, products, or services; viruses or other computer problems resulting from use of such sites; or any liabilities resulting from the terms and conditions of other sites. Analog Analytics does not guarantee any content on such sites or anything offered by third parties, including but not limited to prices, promotions, products, or services.</p>

<p>You are knowingly and voluntarily assuming all risks of using such sites to purchase goods and services and of using the "coupons" and specials listed on this Site. You agree that Analog Analytics and its licensors and advertisers shall have no liability whatsoever from such third party sites and your usage of them.</p>

<p>These other sites are not under the control of Analog Analytics, are not monitored or reviewed by Analog Analytics, and Analog Analytics is not aware of the contents of such sites. Analog Analytics does not sponsor, endorse, or recommend these sites and makes no representations or warranties of any kind with regard to any sites, their terms of use, or the way they may collect, save, store, and use information, including your personally identifiable information. You acknowledge that Analog Analytics is not responsible for the products, services, accuracy, copyright compliance, legality, decency, or any other aspect of the contents or any transmissions received through such sites. These sites may contain information or material that is illegal, unreasonable or that some people may find inappropriate or offensive. The inclusion of such a link or frame does not imply endorsement of that site by Analog Analytics or its advertisers or licensors, or any association with its operators, and is provided solely for your convenience. You should review the terms of use of each website you visit. Linking to any service or site is at your sole risk.</p>

<p>If you have any complaint with such sites, contact that site directly, or contact your state Attorney General or the Federal Trade Commission at www.ftc.gov.</p>

<h5>INTELLECTUAL PROPERTY RIGHTS</h5>

<p>This Site is protected under U.S. and international copyright laws. Copyright ©2009 Analog Analytics, Inc. All rights reserved. All of our company names, product names, service names and logos are owned by us.</p>

<p>The content on the Site, including but not limited to, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features and the like, and the trademarks, service marks and logos contained therein ("Site Content"), are owned by or licensed to Analog Analytics and are subject to copyright, trademark, service mark, trade dress, patent and other intellectual property rights and protections under United States and foreign laws and international conventions.</p>

<h5>COPYRIGHT POLICY</h5>

<p>If you believe in good faith that any Site Content has been copied in a way that constitutes copyright infringement, you may forward the following information to our Copyright Agent at <a href="mailto:info@analoganalytics.com">info@analoganalytics.com</a>: (i) your contact information, including your name, address, telephone number, and email address; (ii) identification and description of each copyrighted work that you claim has been infringed; (iii) the exact URL or location of the material that you claim is infringing; (iv) a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; (v) an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; and (vi) a statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or are authorized to act on behalf of the copyright owners.</p>

<h5>PERSONAL AND LAWFUL USE ONLY </h5>
<p>Unless otherwise specified, the Site and our services are intended for your personal, noncommercial use only. You agree to use the Site and our services only for lawful purposes and acknowledge that your failure to do so may subject you to civil and criminal liability. You may not in any way make commercial or other unauthorized use of (by publication, re-transmission, distribution, performance, caching, cataloguing, aggregating, or otherwise) the Site Content or other material obtained through the Site, except as permitted by the Copyright Act or other law and as expressly permitted in writing by this Agreement, Analog Analytics, or the Site.</p>




<h5>YOU MUST BE OVER 18 TO AGREE TO THIS AGREEMENT AND USE THIS SITE</h5>

<p>This Agreement must be completed, understood and agreed to by a person over 18. If a parent or guardian wishes to permit a person under 18, and under his or her supervision, to use this Site, he or she should email Analog Analytics with his or her explicit permission and acceptance of full legal responsibility for the minor to do so. If you are not yet 18, if you are easily offended, or are accessing this Site from any country where material on this Site is prohibited or illegal, please stop using the Site immediately as you do not have permission to access this Site.</p>

<h5>YOUR REPRESENTATIONS AND WARRANTIES</h5>

<p>By using the Site, you represent and warrant that you are at least 18 years old, you have read and agree to abide by this Agreement, you have read and agree to our <%= link_to("Privacy Policy", txt411_privacy_path) %>, any information you submit is truthful and accurate, and your use of the Site does not violate any applicable law or regulation.</p>

<h5>LICENSE TO USE THIS SITE</h5>

<p>Upon your agreement to this Agreement, Analog Analytics hereby grants you a non-exclusive, non-transferable limited license to use this Site in strict accordance with the terms and conditions in this Agreement and as permitted via instructions on this Site. You agree not to make any false or fraudulent statements in your use of or to gain access to this Site. You acknowledge and agree that all content and services available on this Site are property of Analog Analytics and its advertisers and licensors and are protected by copyrights, moral rights, trademarks, service marks, patents, trade secrets, and other proprietary rights and laws, in the U.S. and internationally. All rights not expressly granted herein are fully reserved by Analog Analytics and its advertisers and licensors.</p>

<h5>LICENSE RESTRICTIONS</h5>

<h6>Use</h6>

<p>Except as may be explicitly permitted through this Site, you agree not to save, download, cut and paste, sell, license, rent, lease, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit, catalogue, aggregate, or create derivative works from materials, code or content on or from this Site. Systematic retrieval of data or other content from this Site to create or compile, directly or indirectly, a collection, compilation, database or directory without written permission from Analog Analytics is prohibited. In addition, use of the content or materials for any purpose not expressly permitted in this Agreement is prohibited.</p>

<h6>Security</h6>

<p>You agree that if you are issued a Username and Password by Analog Analytics, you shall use your best efforts to prevent access to this Site through your Username and Password by anyone other than yourself, including but not limited to, keeping such information strictly confidential, notifying Analog Analytics immediately if you discover loss or access to such information by another party not under your control and supervision, and by using a Username and Password not easily guessed by a third party.</p>

<p>You agree that you shall not try to reverse engineer, reverse assemble, reverse compile, decompile, disassemble, translate or otherwise alter any executable code, contents or materials on or received via this Site. You understand that such actions are likely to subject you to serious civil and criminal legal penalties and that Analog Analytics shall pursue such penalties to the full extent of the law to protect its rights.</p>

<h6>Location/Consent to Transfer</h6>

<p>This Site is hosted and operated in the United States. Those who access or use the Site from other jurisdictions do so at their own choice and risk and are solely responsible for compliance with local law. Please note that the personal information you submit to our Site will be transferred to and stored in the United States to be processed by us so we can provide this Site to you as set forth in this Agreement and our <%= link_to("Privacy Policy", txt411_privacy_path) %>.</p>

<p>If you are not a resident of the United States, you acknowledge and agree that we may collect and use your personal information outside your home jurisdiction, and that we may store your personal information in the United States. Please note that the level of legal protection provided in the United States or other non-European countries in which you may access our Site may not be as stringent as that under European Union privacy standards or the privacy laws of some other countries, possibly including your home jurisdiction.</p>

<h6>Export</h6>

<p>You agree that you shall comply with all applicable export and import control laws and regulations in your use of this Site, or materials or services received through this Site, and, in particular, you shall not export or re-export anything on or received through this Site in violation of local or foreign export laws or without all required U.S. and foreign government licenses.</p>

<h6>Government Use</h6>

<p>If you are a branch or agency of the U.S. Government, the following provision applies. This Site, code, contents, services and accompanying documentation are comprised of "commercial computer software" and "commercial computer software documentation" as such terms are used in 48 C.F.R. 12.212 (SEPT 1995) and are provided to the Government (i) for acquisition by or on behalf of civilian agencies, consistent with the policy set forth in 48 C.F.R. 12.212; or (ii) for acquisition by or on behalf of units of the Department of Defense, consistent with the policies set forth in 48 C.F.R. 227.7202-1 (JUN 1995) and 227.7202-3 (JUN 1995). Unpublished rights reserved under the copyright laws of the United States.</p>

<h5>SUBMISSIONS AND USER CONTENT</h5>

<p>Analog Analytics does not want and cannot accept any ideas, materials, comments, feedback, or suggestions you consider to be confidential or proprietary. Accordingly, you agree that you reserve no right, title, or interest in and to any ideas, information, feedback, questions, comments, suggestions, coupon codes, deal information, printable coupons, or any other data (collectively, "Submissions") provided by you to Analog Analytics on the Site or via email. Except as set forth in our <%= link_to("Privacy Policy", txt411_privacy_path) %>, Analog Analytics shall have the right to treat any Submission as non-confidential and shall be free to reproduce, use, disclose, publish, modify, translate, create derivative works from and distribute Submissions to others without limitation. Analog Analytics shall be free to use anything contained in such Submissions for any purpose whatsoever.</p>

<p>Any Site Content, including Submissions, uploaded, published, displayed, transmitted, posted or submitted on or to this Site by a user ("User Content") will be subject to these Terms and Conditions. With respect to any User Content generated by you on or through this Site, you represent and warrant that: (i) you own or otherwise have the right to grant the license set forth below in this section with respect to such User Content, (ii) such User Content does not violate the privacy rights, publicity rights, copyrights, intellectual property rights, confidentiality rights, contract rights or any other rights of any person, and (iii) you agree to pay any and all royalties, fees, and any other monies owing any person arising in connection with such User Content appearing on this Site. If a third party claims that the posting or submission of any User Content by you is unlawful, you will bear the burden of establishing that it is lawful.</p>

<p>Any and all User Content shall be deemed non-confidential. By uploading, publishing, displaying, transmitting, posting or submitting any User Content on or through this Site, you hereby grant to Analog Analytics a limited, non-exclusive, worldwide, perpetual, irrevocable, fully paid-up, royalty-free, sub-licensable right and license to use, modify, publicly perform, publicly display, reproduce, create derivative works of and distribute such User Content together with your name and location (city, state and/or country) for any purpose including, but not limited to, developing and improving services and information offered through the Site, reproduction, disclosure to third parties, broadcasting, transmission, promotion, posting or otherwise in any media format or channel now known or hereafter developed. This license does not entitle you to any payment from Analog Analytics for any reason. Analog Analytics is not obligated to publish, display or post any User Content publicly.</p>

<p>You further agree that you will not upload, publish, display, transmit, post or submit any User Content on or through this Site that is libelous, abusive, obscene, or otherwise contrary to applicable local, federal, or international laws and regulations. You are solely responsible for the content of any information you provide to Analog Analytics.</p>

<h5>CONTENT DISCLAIMER</h5>

<p>Without limiting the disclaimer of warranties set forth below, all Site Content is provided on an "as is" and "as available" basis without warranties of any kind, either express or implied. Analog Analytics is not liable for any inaccuracies, errors, omissions or miscalculations in any of the Site Content, nor are we liable for your reliance on the Site Content, or any occurrences, outcomes or results relating to or arising from such reliance, whether or not such consequences were foreseeable. Analog Analytics is not responsible for any statements, warranties, representations, offers, events or advertisements made by any third party in Site Content.</p>

<h5>PRIVACY</h5>

<p>Use of the Site is further governed by Analog Analytics's <%= link_to("Privacy Policy", txt411_privacy_path) %>, which is incorporated into this Agreement by reference.</p>

<h5>DISCLAIMER OF WARRANTIES</h5>

<p>ANALOG ANALYTICS AND ITS ADVERTISERS, VENDORS, PRODUCT OR SERVICE PROVIDERS, AND LICENSORS MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THIS SITE, THE SUITABILITY OF THE CONTENT, INFORMATION, SERVICES, OR MATERIALS CONTAINED ON OR RECEIVED THROUGH USE OF THIS SITE, OR ANY SERVICES OR PRODUCTS RECEIVED THROUGH OR AS A RESULT OF INFORMATION PROVIDED BY THIS SITE. ALL INFORMATION AND USE OF THIS SITE ARE PROVIDED "AS IS" AND "AS AVAILABLE," WITHOUT WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED.</p>

<p>ANALOG ANALYTICS AND ITS ADVERTISERS, VENDORS, PRODUCT OR SERVICE PROVIDERS, AND LICENSORS HEREBY DISCLAIM ALL WARRANTIES WITH REGARD TO THIS SITE, THE INFORMATION CONTAINED ON OR RECEIVED THROUGH USE OF THIS SITE, AND ANY SERVICES OR PRODUCTS RECEIVED THROUGH THIS SITE OR INFORMATION PROVIDED BY THIS SITE, INCLUDING BUT NOT LIMITED TO ALL EXPRESS, STATUTORY, AND IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, OR WITH RESPECT TO THE ACCURACY, RELIABILITY, CORRECTNESS, OR COMPLETENESS OF ANY CONTENT, INFORMATION, SERVICES, OR OTHER MATERIALS MADE AVAILABLE ON OR THROUGH THE SITE OR ANY SITES LINKED TO OR FROM THE SITE. YOUR USE OF THIS SITE IS SOLELY AT YOUR RISK. YOU AGREE THAT YOU HAVE RELIED ON NO WARRANTIES, REPRESENTATIONS OR STATEMENTS OTHER THAN IN THIS AGREEMENT.</p>

<p>ANALOG ANALYTICS AND ITS ADVERTISERS, VENDORS, PRODUCT OR SERVICE PROVIDERS, AND LICENSORS DO NOT WARRANT THAT THIS SITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE CONTENTS OR ANY INFORMATION RECEIVED THROUGH THIS SITE IS FREE OF ERRORS, VIRUSES, OR OTHER HARMFUL COMPONENTS.</p>

<p>IN THE EVENT THAT ANY APPLICABLE LAW DOES NOT PERMIT THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED WARRANTIES TO APPLY TO YOU, THE ABOVE EXCLUSIONS WILL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p>

<h5>LIMITATION OF LIABILITY</h5>

<p>UNDER NO CIRCUMSTANCES SHALL ANALOG ANALYTICS OR ITS ADVERTISERS, VENDORS, PRODUCT OR SERVICE PROVIDERS, OR LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES THAT RESULT FROM, OR ARISE OUT OF THE USE OF, OR INABILITY TO USE, THE SITE, THE INFORMATION CONTAINED ON OR RECEIVED THROUGH USE OF THIS SITE, THE PRODUCTS OR SERVICES LISTED ON THIS SITE, OR ANY SERVICES OR PRODUCTS RECEIVED, POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR ANY OTHER BASIS, EVEN IF ANALOG ANALYTICS OR ITS OFFICERS, MEMBERS, MANAGERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS, ADVERTISERS, VENDORS, OR PRODUCT OR SERVICE PROVIDERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p>

<h5>INDEMNIFICATION</h5>

<p>You agree to defend, indemnify, and hold harmless Analog Analytics, its advertisers, vendors, product and service providers, licensors, parents, subsidiaries and other affiliated companies, and their employees, contractors, members, managers, officers, shareholders, agents and directors from all liabilities, claims, losses, damages, obligations, costs, and expenses, including attorney's fees, that arise from or relate to (a) your use of and access to this Site, or any services, information or products from this Site; (b) your violation or breach of any of the terms of this Agreement or your representations and warranties; (c) your violation of the rights of any third party, including but not limited to any copyright, property, or privacy right; or (d) any claim that one or more of your submissions to the Site has caused damage to a third party. This defense and indemnification obligation will survive your use of the Site. Analog Analytics reserves the right to assume the exclusive defense and control of any claim for which we or any of the indemnities listed above are entitled to indemnification hereunder. In such event, you shall pay all fees and costs for such defense and shall provide us with such cooperation at no charge as is reasonably requested by us to assert any available defenses.</p>

<h5>LEGAL COMPLIANCE</h5>

<p>Analog Analytics may suspend or terminate this Agreement or a user's use immediately upon receipt of any notice which alleges that a user has used this Site for any purpose that violates any local, state, federal or law of other nations, including but not limited to the posting of information that may violate third party rights, that may defame a third party, that may be obscene or pornographic, that may harass or assault others, that may violate hacking or other criminal regulations, etc. of its agents, officers, directors, contractors or employees. In such event, Analog Analytics may disclose the user's identity and contact information, if requested by a government or law enforcement body or as a result of a subpoena or other legal action, and Analog Analytics shall not be liable for damages or results thereof and user agrees not to bring any action or claim against Analog Analytics for such disclosure.</p>

<h5>THIS AGREEMENT </h5>

<p>This Agreement, together with the Privacy Policy, constitutes the entire agreement between the parties related to the subject matter thereof, supersedes any prior or contemporaneous (oral, written or electronic) agreement between the parties and shall not be changed except by written agreement signed by an officer of Analog Analytics. If any provision of this Agreement is found by a proper authority to be unenforceable or invalid, such unenforceability or invalidity shall not render this Agreement unenforceable or invalid as a whole and in such event, such provision shall be changed and interpreted so as to best accomplish the objectives of such unenforceable or invalid provision within the limits of applicable law or applicable court decisions.</p>

<h5>TRANSFER OF RIGHTS</h5>

<p>This Agreement, and any rights and licenses granted hereunder, may not be assigned or transferred by you, but may be assigned by Analog Analytics without restriction.</p>

<h5>CHOICE OF LAW AND FORUM</h5>

<p>This Site (excluding third party linked sites) is controlled by Analog Analytics from its offices within the State of California in the United States. It can be accessed from all 50 states as well as from other countries around the world to the extent permitted by the Site and applicable law. As each of these places has laws that may differ from California, by accessing this Site, both you and Analog Analytics agree that the statues and laws of the California shall apply to any actions or claims arising out of or in relation to this Agreement or your use of this Site, without regard to conflicts of laws principles thereof. You and Analog Analytics also agree and hereby submit to the filing of any claim only in the exclusive personal jurisdiction and venue of San Diego, California and any legal proceedings shall be conducted in English. Analog Analytics makes no representation that materials on this Site are appropriate or available for use in other locations, and accessing them from territories where their contents are illegal is prohibited. This Agreement shall not be governed by the United Nations Convention on Contracts for the Sale of Goods.</p>

</div>
</div>
</div>
