<p style="margin: 0; padding: 8px;">
   <a target="_blank" href="http://www.1053thebuzz.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wichita/images/stations/buzz.png" alt="105.3 The Buzz"></a> &nbsp; 
   <a target="_blank" href="http://www.keyn.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wichita/images/stations/keyn.png" alt="103.7 KEYN"></a> &nbsp; 
   <a target="_blank" href="http://www.power939.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wichita/images/stations/power.png" alt="Power 93.9">
   <a target="_blank" href="http://www.Kfhradio.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wichita/images/stations/KFH_2011small.png" alt="KFH"></a>
   <a target="_blank" href="http://www.Knssradio.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wichita/images/stations/knns.png" alt="KNNS"></a>     
</p>