<% set_daily_deal_page_title_slug "Claim Your Deal - How it Works" %>
<div class="page_row">  
  <div class="interior_page_box">    
		<div id="interior_page_header">
			<h2 class="content">How Claim Your Deal Works</h2>
		</div><!--  end #interior_page_header -->
		<div class="interior_page_content_box">
			<div id="choose_your_deal" class="how_it_works_third">
				<h3>Choose Your Deal</h3>
				<p>Sign up for our emails so you'll be the first to know about new deals we have running! Not only are our deals usually available for only 24 hours, many are also available in limited supply. It's how we get you the most exclusive deals, so hurry and start saving now!</p>
			</div><!-- end #choose_your_deal -->
			<div id="print_your_deal" class="how_it_works_third">
				<h3>Print Your Deal</h3>
				<p>Once you've purchased a deal you'll be sent your Claim Your Deal voucher via email. You will also be able to find your voucher when you log into "My Stuff" from the main deal page. Your coupon or voucher can be used starting the next day or anytime within six (6) months of purchase.</p>
			</div><!-- end #print_your_deal -->
			<div id="share_your_deal" class="how_it_works_third">
				<h3>Share Your Deal</h3>
				<p>Found a great deal? Claim Your Deal makes it easy to share it over Facebook, Twitter, or email! Plus, if you refer a friend to buy a deal through the Refer-A-Friend program you’ll be rewarded $10 in deal credits!</p>
			</div><!-- end #share_your_deal -->
		</div><!-- end .interior_page_content_box -->
		
		<div class="interior_page_content_box">
			<h4>How do I get today’s Claim Your Deal?</h4>
			<p>When you find a deal you like, simply click the "BUY NOW" button, then fill in required info and click "BUY". Move fast! Today's deal is available for 24 hours while supplies last.</p>
			<p>After you make your purchase, a voucher will be sent to you via email with instructions on how to redeem your deal. You can also find your voucher by logging into "My Stuff" from the deal page.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>When is my credit card charged?</h4>
			<p>As soon as you click the "BUY" button, your credit card will be charged and your voucher will be sent. Simple!</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>Is the safe?</h4>
			<p>Absolutely! We take the security of your personal information very seriously and use 128-Bit SSL encryption to make sure your credit card information remains safe and secure.</p>
		</div><!-- end .interior_page_content_box -->		
		<div class="interior_page_content_box">
			<h4>Can I cancel my order?</h4>
			<p>To cancel or change your order, simply contact the Claim Your Deal support team <a href="mailto:<%= support_email_address %>">HERE.</a></p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>How do I redeem my deal?</h4>
			<p>You can use your Claim Your Deal voucher from the day after you purchase it. Simply follow the instructions provided within your voucher and present the voucher at the participating merchant. And don't forget: if you're redeeming a restaurant deal, make sure you tip your server based on the full, pre-deal price of your meal!</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>Can today's deal run out?</h4>
			<p>Sadly, yes. Claim Your Deal is selective about the deals we run, which means that supplies are often limited. If you see a deal you like, grab it! It may not be available if you wait.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box hiw_other_questions">
			<p>Have other questions? We have answers! <a href="mailto:<%= support_email_address %>">Contact Us.</a></p>
		</div><!-- end .interior_page_content_box -->
  </div><!-- end .interior_page_box -->
	<div id="sidebar">
		<%= render :partial => with_theme("shared/subscribe") %>
		<%= render :partial => with_theme("shared/refer_friend") %>
			<%= render :partial => with_theme("shared/facebook_box") %>
	</div><!-- end #sidebar -->
</div><!-- end .page_row -->
