<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.rr.com/assets/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="http://www.rr.com/assets/js/p/02152011/RPinit.js"></script>
<script type="text/javascript">
//<![CDATA[
var sponsoredLinksSkipCount = 0;
$RP.GlobalVars.Division.systemCode = 92; 
$RP.GlobalVars.Division.systemId = 4413116;
$RP.GlobalVars.Env.runmode = 'production';
$RP.GlobalVars.Page.title = 'home';
$RP.GlobalVars.Env.cachingTier = 'http://hercules.rr.com';
$RP.GlobalVars.Page.category = 'home'; 
//]]>
</script>
<title>RR.com Coupons: News, Sports, Email, TV Listings, Videos - Road Runner</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="imagetoolbar" content="no">
                                                                                                          
<link rel="stylesheet" type="text/css" href="http://www.rr.com/assets/css/p/02152011/sitecss_merged.css" media="all">
<link rel="stylesheet" type="text/css" href="http://www.rr.com/assets/css/p/02152011/print.css" media="print" />
<script type="text/javascript" src="http://o.aolcdn.com/ads/adsWrapper.js"></script>
<script type="text/javascript" src="http://www.rr.com/assets/js/p/02152011/prototype_merged.js"></script>
<script type="text/javascript" src="http://www.rr.com/javascript/jquery/latest/jquery.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>
<script type="text/javascript" src="http://www.rr.com/assets/js/p/02152011/omniture_merged.js"></script>
<script type="text/javascript" src="http://www.rr.com/assets/js/p/scriptaculous_1.8/combined_ebd.js"></script>
<script type="text/javascript" src="http://www.rr.com/assets/js/p/02152011/site_merged.js"></script>
<!-- script type="text/javascript" src="http://www.rr.com/assets/js/p/foresee/foresee-alive.js"></script-->
<script type="text/javascript" src="http://cdn.gigya.com/JS/socialize.js?apikey=2_2ZlNqBNGTeGECgUvQclRw1WzYhgzJiixc0fWGFbO90qJUwNB_uEm-_STCit77WpO"></script><script type="text/javascript" charset="UTF-8" src="http://cdn.gigya.com/js/gigya.services.socialize.plugins.simpleshare.min.js"></script><script type="text/javascript" charset="UTF-8" src="https://socialize.gigya.com/socialize.getLoginToken?format=jsonp&amp;sdk=js&amp;APIKey=2_2ZlNqBNGTeGECgUvQclRw1WzYhgzJiixc0fWGFbO90qJUwNB_uEm-_STCit77WpO&amp;authMode=cookie&amp;retryPossible=false&amp;callback=gigya.global.JPCMD.prototype.hanldeJPResponse&amp;context=R1297970280447_0.340679639717564&amp;state=R1297970280447_0.340679639717564"></script>
 
<script src="http://maxymiser.hs.llnwd.net/o36/rr/js/mmcore.js" type="text/javascript"></script><script id="mmcore.1" type="text/javascript" charset="utf-8" src="http://cg-global.maxymiser.com/v5us/?fv=dmn%3Drr.com%3Bref%3D%3Burl%3Dhttp%253A//roadrunner.com/%3Bscrw%3D1280%3Bscrh%3D800%3Bclrd%3D24%3Bcok%3D1%3B&amp;tst=0.467&amp;jsver=5.0&amp;ri=1"></script>
<script type="text/javascript">
//<![CDATA[
 
adSetAdURL('/_uac/adpage.html'); // Sets up Platform A ad calls
//]]>
</script>
                                                                                                          

<%= render :partial => 'layouts/offers/rr/stylesheets_and_javascript' %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head>

<body> 
<div class="S:LEADERBOARD" id="top_leaderboard">
 
</div>
<!-- START wrapper -->
<div class="wrapper" id="main_wrapper">
<div class="S:HEADER">
<div class="O:1">
 
 
 
<div id="headerWrapper">
<div id="headerBG">
<!-- START header -->
<div class="header">
<!-- START  .header .content -->
<div class="content">	 
<div class="searcharea clearfix">
 
<div class="branding">
<a href="http://www.rr.com/" class="offnetwork_header" target="_top"></a>
</div>
<div class="siteSearch">
 
 <ul class="tertiaryNav" id="tertiaryNav">
<li class="text"><a target="_top" href="http://www.rr.com/toolbar/toolbar">Download Toolbar</a></li>
<li class="text">|</li>
<li class="text"><a target="_top" href="http://help.rr.com/HMSFaqs/e_browsersetup.aspx" class="lm_makeHomepage">Make RR my Homepage</a></li>
 
<li class="btn help"> 
<a target="_top" href="http://help.rr.com">Help &amp; Benefits</a>
<div class="dropdown">
<ul>
<li><a target="_top" href="http://help.rr.com/">Help &amp; Member Services</a></li>
<li><a target="_top" href="https://help.rr.com/HMSpwd/ptMainNav.aspx">Reset RR email password</a></li>
<li><a target="_top" href="http://selfcare.rr.com">RR Self Care</a></li>
<li><a target="_top" href="http://help.rr.com/faqs">FAQs</a></li>
<li><a target="_top" href="http://help.rr.com/chat">24x7 Live Chat Support</a></li>
<li><a target="_top" href="http://www.rr.com/home/benefits">More...</a></li>
</ul>
</div>
</li>
<li class="text location">  
<div class="location"><a target="_top" href="http://www.rr.com/home/divisionselect/">New York City, NY</a></div>
 
</li>
</ul>
 
<form id="headersearchformweb" action="http://search.rr.com/" method="get" target="_top">
<fieldset>
<input type="text" class="text searchinput" name="q">
<input type="hidden" value="web" name="cat" class="source">
<a href="#" class="btn btnOrange submit" rel="top search bar"><span rel="top search bar">Search</span></a>
<label class="googlelogo">Enhanced by Google</label>
</fieldset>
 
</form>
 
</div>
</div>
<div class="menuBgd">
<ul class="menu  clearfix">
<li class="active">
<a target="_top" href="http://www.rr.com/home/home"><img src="http://www.rr.com/media/png/2010/11/17/26985753/original.png"> </a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/news/news"> News</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://www.rr.com/news/economy"> Economy</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/news/politics"> Politics</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/news/green"> Going Green</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/news/goodnews"> Good News</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://finance.rr.com"> Finance</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://finance.rr.com/news/more.php?ps=950"> Financial News</a>
</li> 
<li class="">
<a target="_top" href="http://finance.rr.com/kiplinger/more.php?CS_id=kiplinger&amp;UX_id=kiplinger_basics&amp;kiplinger_cat=basics&amp;start=3"> Personal Finance</a>
</li> 
<li class="">
<a target="_top" href="http://finance.rr.com/business/"> Small Business</a>
</li> 
<li class="">
<a target="_top" href="http://www.bankrate.com?pid=p:rdr"> Banking Center</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/finance/finances"> Stocks</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://www.rr.com/sports/sports"> Sports</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=NFL"> NFL</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=CFB"> NCAA Football</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=NBA"> NBA</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=CBK"> NCAA Basketball</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=MLB"> Baseball</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=NHL"> NHL</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=RACING"> Auto Racing</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=GOLF"> Golf</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=MLS"> Soccer</a>
</li> 
<li class="">
<a target="_top" href="http://scoreboard.rr.com/sports.asp?sport=TENNIS"> Tennis</a>
</li> 
<li class="">
<a target="_top" href="http://tickets.rr.com/ctix?src=1991&amp;cmp=sports_nav&amp;c=sports"> |&nbsp; &nbsp; Game Tickets</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://www.rr.com/commerce"> Shopping</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://www.rr.com/shopping"> Main</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/home_mostpop.php?mode=rrshop_NAVMostPopular"> Most Popular</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/home_apparel.php?mode=rrshop_NAVClothing"> Clothing</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/home_elec.php?mode=rrshop_NAVElectronics"> Electronics</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/home_photo.php?mode=rrshop_NAVCameras"> Cameras</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/home_comp.php?mode=rrshop_NAVComputers"> Computers</a>
</li> 
<li class="">
<a target="_top" href="http://www.totalbeauty.com/?lc=rr1001"> Beauty &amp; Style</a>
</li> 
<li class="">
<a target="_top" href="http://tickets.rr.com/ctix?src=1991&amp;cmp=shopping_nav"> Tickets</a>
</li> 
<li class="">
<a target="_top" href="http://roadrunner.couponwinner.com/"> Online Coupons</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/commerce/coupons/"> Printable Coupons</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/deal_of_the_day.php/?mode=rrshop_DODsubnav"> Deal of the Day</a>
</li> 
<li class="">
<a target="_top" href="http://rrshop.roadrunner.com/home_channelindex.php?mode=rrshop_NAVMore"> More</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://www.rr.com/games"> Games</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://playgames.rr.com/information.php?aff=t_20wt&amp;info_id=1019"> Premium Games</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/games/crossword/"> Crossword</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/games/playfour"> Play Four</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/games/rrsudoku/"> Sudoku</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/games/gsn/"> Game Show Network</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://www.rr.com/entertainment/entertainment"> Entertainment</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://www.rr.com/entertainment/tv"> TV</a>
</li> 
<li class="">
<a target="_top" href="http://tickets.rr.com/ctix?src=1991&amp;cmp=entertainment_nav&amp;q=Concerts"> |&nbsp;&nbsp; &nbsp;Concert Tickets</a>
</li> 
<li class="">
<a target="_top" href="http://tickets.rr.com/ctix?src=1991&amp;cmp=entertainment_nav&amp;q=Theater"> Theater Tickets</a>
</li> 
<li class="">
<a target="_top" href="http://www.beautyriot.com?lc=rr2001"> Celeb Style</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://www.rr.com/travel/travel"> Travel</a>
</li> 
<li class="">
<a target="_top" href="http://ad.doubleclick.net/clk;229358161;53350457;i?http://www.eharmony.com/dating?cid=23602&amp;aid=100"> Dating</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/jobs"> Jobs</a>
</li> 
<li class="">
<a target="_top" href="http://www.rr.com/video"> Video</a>
<ul class="subnav"> 
<li class="">
<a target="_top" href="http://videostore.rr.com"> Video Store</a>
</li>
</ul>
</li>
<li class="">
<a target="_top" href="http://www.rr.com/radio/index.cfm?startstream=5" class="lm_openRadioWindow"> Radio</a>
</li> 
 
<li class="utility">
<ul>
<li class="mail"><a target="_top" href="http://webmail.nyc.rr.com/" class="mail">Mail</a></li>
<li class="tv"><a target="_top" href="http://tvlistings.rr.com/" class="tv">TV Listings</a></li>
</ul>
</li>
</ul>
</div> 
 
</div>
<!--END .header .content -->
</div> 
<!-- END header -->
</div>
</div>
</div>
</div>
<!-- START main -->
<div class="main">       
  <div class="content clearfix">
    <div id="analog_analytics_content">
      <div class='market'>
        <span><%= @publisher.market_name.titleize if @publisher.market_name.present? %></span>
        ( <a href='#' class='change-market'>Change City</a> )
        <ul class='markets'>
          <% @publisher.publishers_in_publishing_group.each do |market| -%>
            <% unless market == @publisher -%>
              <li><%= link_to( market.market_name, public_offers_path( market.to_param ) ) %></li>
            <% end -%>
          <% end -%>
        </ul>
      </div>
      <%= yield %>
    </div>
  </div>
</div>

<!-- END main -->
<div class="S:FOOTER">
<div class="O:1">
 
<div class="footer">
 	<div class="content"> 
<div class="searcharea">
<div class="branding">
<a href="http://www.rr.com/" class="offnetwork_footer"></a>
</div>
<div class="siteSearch">
 
<form id="footersearchformweb" action="http://search.rr.com/" method="get" target="_top">
<fieldset>
<input type="text" class="text searchinput" name="q">
<input type="hidden" value="web" name="cat" class="source">
<a href="#" class="btn btnOrange submit" rel="bottom search bar"><span rel="bottom search bar">Search</span></a>
<label class="googlelogo">Enhanced by Google</label>
</fieldset>
 
</form>
 
</div>
</div>
<div class="siteLinks clearfix"> 
<div class="first">
<ul class="first columnone">
<li class="iconedfirst">
<a href="http://www.rr.com"><img src="http://www.rr.com/media/gif/2010/11/17/26985751/original.gif"></a>
  <a href="http://www.rr.com">Home</a>
</li>
<li class="iconed">
<a href="http://webmail.roadrunner.com"><img src="http://www.rr.com/media/gif/2010/11/17/26985754/original.gif"></a>
  <a href="http://webmail.roadrunner.com">Mail</a>
</li>
<li class="iconed">
<a href="http://www.rr.com/video"><img src="http://www.rr.com/media/gif/2010/11/17/26985755/original.gif"></a>
  <a href="http://www.rr.com/video">Video</a>
</li>
<li class="iconed">
<a href="http://tvlistings.rr.com/"><img src="http://www.rr.com/media/gif/2010/11/17/26985769/original.gif"></a>
  <a href="http://tvlistings.rr.com/">TV Listings</a>
</li>
<li class="iconed">
<a href="#" class="lm_openRadioWindow"><img src="http://www.rr.com/media/gif/2010/11/17/26985786/original.gif"></a>
  <a href="#" class="lm_openRadioWindow">Radio</a>
</li>
<li class="iconed">
<a href="http://www.rr.com/siteindex"><img src="http://www.rr.com/media/gif/2010/11/17/26985787/original.gif"></a>
  <a href="http://www.rr.com/siteindex">Site Index</a>
</li>
</ul>
</div>
<div>
<ul>
<li class="first">
Channels 
</li>
<li>
<a href="http://www.rr.com/news">News</a>
</li>
<li>
<a href="http://www.rr.com/sports">Sports</a>
</li>
<li>
<a href="http://www.rr.com/commerce/shopping">Shopping</a>
</li>
<li>
<a href="http://www.rr.com/games">Games</a>
</li>
<li>
<a href="http://www.rr.com/entertainment">Entertainment</a>
</li>
</ul>
</div>
<div>
<ul>
<li class="first">
Benefits 
</li>
<li>
<a href="http://www.rr.com/browser">Download IE</a>
</li>
<li>
<a href="http://www.rr.com/toolbar/toolbar">Download Toolbar</a>
</li>
<li>
<a href="http://www.rr.com/security">Security Center</a>
</li>
<li>
<a href="http://premiumservices.rr.com/">Premium Services</a>
</li>
<li>
<a href="http://www.rr.com/home/benefits">more...</a>
</li>
</ul>
</div>
<div> 
<ul>
<li class="first">
Road Runner Help 
</li>
<li>
<a href="http://help.rr.com/chat">24x7 Live Chat Support</a>
</li>
<li>
<a href="https://help.rr.com/HMSpwd/ptMainNav.aspx">Password Reset</a>
</li>
<li>
<a href="http://selfcare.rr.com">Self Care</a>
</li>
<li>
<a href="http://help.rr.com/faqs">FAQs</a>
</li>
<li>
<a href="http://help.rr.com/mailsupport">Web Mail Support</a>
</li>
 
</ul>
</div>
<div>
<ul>
<li class="first">
&nbsp; 
</li>
<li>
<a href="http://help.rr.com/security">Security Abuse</a>
</li>
<li>
<a href="http://help.rr.com/tutorials">Tutorials</a>
</li>
<li>
<a href="http://www.foreseeresults.com/survey/display?cid=osx9c1VdNNZplgpZpQtIYQ==&amp;sid=feedback-en">Feedback</a>
</li>
<li>
<a href="http://help.rr.com/contactus">Contact Us</a>
</li>
<li>
<a href="http://help.rr.com/">More ...</a>
</li>
</ul>
</div>
</div>
 
<div class="legal">
<a href="http://www.timewarnercable.com">Copyright © 2011 Road Runner HoldCo LLC </a> 
| <a href="http://content.rr.com/mediakit/">Advertise with Us</a> | <a href="http://content.rr.com/rr-privacy/new/web.html">Web Privacy Policy</a> | <a href="http://www.rr.com/home/rrcaprivacy/">Your California Privacy Rights</a> 
| <a href="http://help.twcable.com/html/policies.html">TWC Subscriber Policies</a> 
 | <a href="http://www.timewarnercable.com/Localization/Corporate.ashx?zip">Sign Up for Road Runner</a>
<br><br>Time Warner Cable is a trademark of Time Warner Inc. Used under license. Road Runner is ™ and © Warner Bros. Entertainment Inc. <br> (s11)
</div>
 
</div> 
</div>
</div>
</div>
</div>
<!-- END wrapper -->

 
 	<script type="text/javascript">
//<![CDATA[
var Index = {
OmniInitGlobal: function() {
Omni.tracking = {
 
'pagetrackingenabled': '1',
'category':'home',
'page':'home',
'type':'main',
'headline':'',
'provider':'',
'divisionsystemname':'New_York_City',
'divisionsystemcode':'92',
'dst': {
'start':'2011-02-17 02:17:15',
'end':'2011-02-17 02:17:15'
},
'year': '2011'
}; 
}
}; 
//]]>
</script>

			
		<script type="text/javascript">
		  jQuery(document).ready(function() {

        jQuery('a.change-market').click( function() {
          jQuery('.market .markets').toggle();
          return false;
        });
        
      });
		
			//<![CDATA[
			
				$RP.GlobalVars.Network.onNetwork = false;
								
				Index.OmniInitUserSpecific = function () {
					Omni.tracking.networkstatus = 'false';
				};	
				
				if (!$('photogallerytitle')) {
					
					$RP.PageLoad.siteInit();
				}
				
				Omni.Init(); 
			//]]>
		</script>
		<!-- script type="text/javascript" src="http://www.rr.com/assets/js/p/foresee/foresee-trigger.js"></script -->
		
	
<iframe id="adTacFr1" style="width: 0px; height: 0px; " src="http://cdn.at.atwola.com/_media/uac/tcode3.html"></iframe>
	</body>
</html>