<% set_daily_deal_page_title_slug "Contact Us" %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1>Contact Us</h1>

    <h2 class="main_office">Main Office</h2>
    <p class="main_office">
      <%= "#{@publisher.address_line_1}<br/>".html_safe unless @publisher.address_line_1.blank? %>
      <%= "#{@publisher.address_line_2}<br/>".html_safe unless @publisher.address_line_2.blank? %>
      <%= "#{@publisher.city}, #{@publisher.state} 60061-5892 <br/>".html_safe unless @publisher.city.blank? %>
    </p>

    <% unless @publisher.support_email_address.blank? %>
    <h2 style="margin-top: 18px;">Customer Service &amp; Technical Support</h2>
    <p>
      Please email <a href="mailto:<%= @publisher.support_email_address %>" target="_blank"><%= @publisher.support_email_address %></a>
      <% if @publisher.support_phone_number.present? %>
      or call <%= @publisher.formatted_support_phone_number %>
      <% end %>
    </p>
    <% end %>
    
    <% unless @publisher.sales_email_address.blank? %>
      <h2 style="margin-top: 18px;">To have your business featured</h2>
      <p>Please email <a href="mailto:<%= @publisher.sales_email_address %>" target="_blank"><%= @publisher.sales_email_address %></a>.
    <% end %>
    <p id="feature-business-link"><a href="/themes/suburbandeals/Suburban_Deals_Merchant_Contract.pdf">If you want to feature your business click here.</a></p>
  </div>
</div>