      <%- have_discount, have_credit = daily_deal_purchase.discount.present?, daily_deal_purchase.credit_used > 0 -%>

      <% content_tag_for(:table, daily_deal_purchase, :cellspacing => "0") do %>
        <tr class="header">
          <th class="description">Description</th>
          <th class="quantity">Quantity</th>
          <th class="update_total">&nbsp;</th>
          <th class="price">Unit Price</th>
        </tr>
        <tr>
          <td class="description"><%= daily_deal_purchase.line_item_name %></td>
          <td class="quantity"><%= f.text_field(:quantity, :size => 2) %></td>
          <td class="update_total"><%= link_to_function("update total", "updatePurchaseTotal()") %></td>
          <td class="price"><%= number_to_currency(daily_deal_purchase.price, :unit => @publisher.currency_symbol) %></td>
        </tr>

        <tr id="subtotal" class="total" style="<%= show_if(have_discount || have_credit) %>">
          <td colspan="4">
            <span id="purchase_subtotal_label" class="total_label">Subtotal</span>
            <span id="purchase_subtotal_value" class="total_value"><%= number_to_currency(daily_deal_purchase.total_price_without_discount, :unit => @publisher.currency_symbol) %></span>
          </td>
        </tr>

        <tr id="discount" style="<%= show_if(have_discount) %>">
          <%= render(:partial => "discount", :object => daily_deal_purchase.discount) if have_discount %>
        </tr>

        <tr id="credit" style="<%= show_if(have_credit) %>">
          <td class="description">
            Deal Credit applied from <span id="purchase_credit_available"><%= number_to_currency(daily_deal_purchase.credit_available, :unit => @publisher.currency_symbol) %></span> balance
          </td>
          <td></td>
          <td></td>
          <td class="price">-&nbsp;<span id="purchase_credit_used"><%= number_to_currency(daily_deal_purchase.credit_used, :unit => @publisher.currency_symbol) %></span></td>
        </tr>

        <tr id="total" class="total">
          <td colspan="4">
            <span id="purchase_total_label" class="total_label">Total</span>
            <span id="purchase_total_value" class="total_value"><%= number_to_currency(daily_deal_purchase.total_price, :unit => @publisher.currency_symbol) %></span>
          </td>
        </tr>
      <% end %>

      <%- if @publisher.checkout_discount_codes? -%>
      <div id="discount_fields" style="margin-top: 1em; text-align: right">
        <%= f.label(:discount_code, "Discount Code:") %>
        <%= f.text_field(:discount_code) %>
        <%= link_to_function("Apply", "applyDiscount()") %>
      </div>
      <%- end -%>
