<p style="margin: 0; padding: 8px;">
<a href="http://www.wben.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/wben.png" alt="WBEN 930AM"></a> &nbsp;
  <a href="http://www.wgr550.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/wgr.png" alt="WGR 550 Sports Radio"></a> &nbsp;
  <a href="http://www.kiss985.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/kiss.png" alt="Kiss 98.5"></a> <br />&nbsp;
  <a href="http://www.mystar1025.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/star.png" alt="Star 102.5"></a> &nbsp;
  <a href="http://www.am1400solidgoldsoul.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/am1400.png" alt="AM 1400"></a> &nbsp;
  <a href="http://www.kb1520.com/"  target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/{{ publisher.label }}/images/stations/1520.png" alt="WWKB 1520"></a>
</p>