<div>
  <a href="http://www.wben.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/wben.png" alt="WBEN 930AM"></a>
  <a href="http://www.wgr550.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/wgr.png" alt="WGR 550 Sports Radio"></a> 
  <a href="http://www.kiss985.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/kiss.png" alt="Kiss 98.5"></a>
  <a href="http://www.mystar1025.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/star.png" alt="Star 102.5"></a>
  <a href="http://www.am1400solidgoldsoul.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/am1400.png" alt="AM 1400"></a>
  <a href="http://www.kb1520.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/1520.png" alt="WWKB 1520"></a> 
</div>