<div class="stored_credit_cards">
  <%- consumer = current_consumer_for_publisher?(publisher) && current_consumer -%>
  <%- if consumer -%>
    <%- consumer.credit_cards.each_with_index do |credit_card, index| -%>
        <%= radio_button_tag('tr_data', "credit_card_#{credit_card.id}", (0 == index)) %>
        <%= "Use #{credit_card.descriptor}" %>
    <%- end -%>
  <%- else -%>
    <p>Please sign in to view your saved credit cards.</p>
  <%- end -%>
</div><!-- stored_credit_cards -->

<fieldset class="new_credit_card">
    <%= radio_button_tag("tr_data", "new_credit_card", !(consumer && consumer.credit_cards.any?)) %>
    <%= "Enter a new card" %>
</fieldset>
<div class="new_credit_card_fields">
    <fieldset class="cardholder_name">
        <input id="transaction_credit_card_cardholder_name" type="text" placeholder="<%= t('daily_deal_purchases.braintree_buy_now_form.cardholder_name') %>"/>
    </fieldset>
    <fieldset class="credit_card_number">
        <input id="transaction_credit_card_number" type="text" pattern="[0-9]*" placeholder="<%= t('daily_deal_purchases.braintree_buy_now_form.card_number') %>"/>
    </fieldset>
    <fieldset class="expiration">
      <label for="transaction_credit_card_expiration_month"><%= t('daily_deal_purchases.braintree_buy_now_form.expiration_date') %></label>
      <select id="transaction_credit_card_expiration_month">
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select id="transaction_credit_card_expiration_year">
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
      </select>
    </fieldset>
    <fieldset class="cvv_billing">
        <fieldset class="cvv">                
            <input id="transaction_credit_card_cvv" class="cvv" size="5" maxlength="5" placeholder="<%= t('daily_deal_purchases.braintree_buy_now_form.cvv') %>" type="text" pattern="[0-9]*" />
            <a id="what-is-cvv">What's this?</a>
        </fieldset>
    </fieldset>
</div><!-- new_credit_card -->
