  <div class="page_column_4 last rounded_corners">
    <h2 id="how_does_it_work"><%= t('.sidebar_item_1_question') %></h2>
    <p><%= raw(t('.sidebar_item_1_answer', :credit_amount => number_to_currency(publisher.daily_deal_referral_credit_amount, :unit => publisher.currency_symbol))) %></p>
    <br/>
    <h2 id="how_do_i_refer"><%= t('.sidebar_item_2_question') %></h2>
    <p><%= t('.sidebar_item_2_answer') %></p>
    <br/>
    <h2 id="what_are_the_rules"><%= t('.sidebar_item_3_question') %></h2>
    <p><%= t('.sidebar_item_3_answer', :credit_amount => number_to_currency(publisher.daily_deal_referral_credit_amount, :unit => publisher.currency_symbol)) %></p>  
  </div>