<div id="footer">
		<div class="footer_col">
			<h5>Company</h5>
				<ul>
					<li><a href="{{ publisher.contact_path }}">Contact Us</a></li>
					<li><a href="#" onclick="window.open('{{ publisher.privacy_path }}', '_blank'); return false; return false;" style="color:#fff;">Privacy Policy</a></li>
				</ul>
		</div><!--end company-->
		
		<div class="footer_col">
			<h5>Learn More</h5>
				<ul>
					<li><a href="http://herburger.net/advertising/web_advertising.php">Advertise with Us</a></li>
					<li><a href="{{ publisher.faq_path }}">FAQ</a></li>
				</ul>
		</div><!--end learn_more-->

		<div class="footer_col">
			<h5>Fun Stuff</h5>
				<ul>
					<li><a href="{{ publisher.contact_path }}">Suggest a Business</a></li>
					<li><a href="mailto:webmaster@herburger.net">Share your Feedback</a></li>
				</ul>
		</div><!--end fun_stuff-->

		<div id="footer_col_last">
			<h5>Follow Us</h5>
				<ul>
					<li><a href="https://www.facebook.com/elkgrovecitizen">Facebook</a></li>
					<li><a href="{{ publisher.new_consumer_path }}">Subscribe</a></li>
				</ul>
		</div><!--end follow-->
		
		<div id="footer_logo"><a href="http://www.egcitizen.com"><img src="/themes/herburger-egcitizen/images/graphics/footer_logo.png"/></a></div>

</div><!--end footer-->