<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      <%= @publisher.name %> Coupons &amp; Discounts
    </title>
    <%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
    <%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
    <%= raw render :partial => "/shared/tracking_offers" %>
  </head>
  <body>
    <script type="text/javascript" language="JavaScript" src="http://extras.mnginteractive.com/live/js/redesigns/alamogordo/mngiMenu.js">
</script>
    <div class="topNav">
      <ul class="loginNav">
        <li>
          <a href="https://secure.medianewsgroup.com/subscriptions/html/index.jsp?siteid=561">Subscribe</a>
        </li>
        <li>
          <a href="http://m.alamogordonews.com/cb/497/subscribe.html">Mobile</a>
        </li>
        <li>
          <a href="http://vw.vrvm.com/alamogordonews">Mobile Edition</a>
        </li>
      </ul>
    </div>
    <!--[if IE]>

      <style>
      #masthead_home { margin-top:-1px !important; }
      .contentStyle { border-right:4px solid #fff; border-left:4px solid #fff; }
      </style>

    <![EndIf]-->
    <div id="masthead_home" class="clearfix">
      <a href="http://www.alamogordonews.com/home" id="logoLink" name="logoLink"><img src="http://extras.mnginteractive.com/live/media/site569/2007/0208/20070208_052619_tspacer.gif"></a>
      <div id="searchbar">
        <form action="http://www.alamogordonews.com/circare/html/sca_template.jsp" method="get">
          <input name="query" class="searchbox" type="text"> <input name="searchbutton" value="Search" class="button" src="http://extras.mnginteractive.com/live/media/site561/2008/0731/20080731__btnSearch.gif" type="image" align="absmiddle">
          <ul id="searchoptions">
            <li>
              <input name="view" type="radio" class="radio" value="entiresitesppublished" checked="checked">This Site
            </li>
            <li class="end">
              <input name="view" type="radio" class="radio" value="yahoowebsearch">Web Search powered by <span class="yahooText">YAHOO!</span> <span>search</span>
            </li>
          </ul>
        </form>
      </div>
    </div><!--  end #masthead_home  -->
    <!-- Begin main menu -->
    <div id="navWrap">
      <div id="nav" class="subHasBorder">
        <!--  NOTE: the class should be removed if subnav doesn't have a border -->
        <iframe src="about:blank" frameborder="0" id="shimmer" style="display:none;"></iframe>
        <div id="maindiv0" onmouseover="fixMouseIn(this, event, 'mouseIn(\'0\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'0\')')" class="first">
          <span class="nosub"><a href="http://www.alamogordonews.com"><span>Home</span></a></span>
          <div id="navdetails0" class="subdiv"></div>
        </div>
        <div id="maindiv1" onmouseover="fixMouseIn(this, event, 'mouseIn(\'1\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'1\')')">
          <a href="http://www.alamogordonews.com/news"><span>News</span></a>
          <div id="navdetails1" class="subdiv">
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-news">Alamogordo News</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-Hollogram">Hollogram</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-lottery">Lottery</a>
            </div>
          </div>
        </div>
        <div id="maindiv2" class="nosub" onmouseover="fixMouseIn(this, event, 'mouseIn(\'2\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'2\')')">
          <a href="http://www.legacy.com/AlamogordoNews/Obituaries.asp"><span>Obituaries</span></a>
          <div id="navdetails2" class="subdiv"></div>
        </div>
        <div id="maindiv3" onmouseover="fixMouseIn(this, event, 'mouseIn(\'3\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'3\')')">
          <a href="http://www.alamogordonews.com/opinion"><span>Opinion</span></a>
          <div id="navdetails3" class="subdiv">
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-blogs">Blogs</a>
            </div>
          </div>
        </div>
        <div id="maindiv4" onmouseover="fixMouseIn(this, event, 'mouseIn(\'4\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'4\')')">
          <a href="http://www.alamogordonews.com/alamogordo-sports"><span>Sports</span></a>
          <div id="navdetails4" class="subdiv">
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-sportsplus">SportsPlus</a>
            </div>
            <div>
              <a href="http://www.maxpreps.com/FanPages/Home.mxp/AffiliateID-5ee8864e-12b2-4ea3-9ed8-a5eda8988673">Prep SportsPlus</a>
            </div>
          </div>
        </div>
        <div id="maindiv5" onmouseover="fixMouseIn(this, event, 'mouseIn(\'5\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'5\')')">
          <a href="http://www.alamogordonews.com/alamogordo-community"><span>Community</span></a>
          <div id="navdetails5" class="subdiv">
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-weddings_and_engagements">Weddings &amp; Engagements</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-anniversaries">Anniversaries</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/ChurchListings">Church Listings</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-community_calendar">Community Calendar</a>
            </div>
          </div>
        </div>
        <div id="maindiv6" class="nosub" onmouseover="fixMouseIn(this, event, 'mouseIn(\'6\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'6\')')">
          <a href="http://studio-5.financialcontent.com/mng-elpaso?Account=alamogordonews&amp;Page=MarketSummary"><span>Business</span></a>
          <div id="navdetails6" class="subdiv"></div>
        </div>
        <div id="maindiv7" onmouseover="fixMouseIn(this, event, 'mouseIn(\'7\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'7\')')">
          <a href="http://www.alamogordonews.com/alamogordo-entertainment"><span>Entertainment</span></a>
          <div id="navdetails7" class="subdiv">
            <div>
              <a href="http://www.uclick.com/client/agd/cpa/">Comics</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-arts_and_entertainment">Arts &amp; Entertainment</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-dining_guide">Dining Guide</a>
            </div>
            <div>
              <a href="http://affiliate.zap2it.com/tvlistings/ZCTVHome.do?aid=alamoh2f">TV Today</a>
            </div>
            <div>
              <a href="http://affiliate.zap2it.com/movies/mvhome.do?aid=alamoh2f">Showing at the Movies</a>
            </div>
            <div>
              <a href="http://www.uclick.com/client/agd/gpa/">Puzzles &amp; Games</a>
            </div>
            <div>
              <a href="http://www.alamogordonews.com/alamogordo-horoscope">Horoscopes</a>
            </div>
          </div>
        </div>
        <div id="maindiv8" onmouseover="fixMouseIn(this, event, 'mouseIn(\'8\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'8\')')">
          <a href="http://www.alamogordonews.com/contactus"><span>Contact us</span></a>
          <div id="navdetails8" class="subdiv">
            <div>
              <a href="http://www.alamogordonews.com/Feedback">Feedback</a>
            </div>
          </div>
        </div><!-- BEGIN classified nav -->
        <div id="rightNav">
          <div id="maindiv9" onmouseover="fixMouseIn(this, event, 'mouseIn(\'9\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'9\')')">
            <div class="right">
              <a href="http://www.gadzoo.com/Alamogordonews/pets.aspx"><span>pets</span></a>
            </div>
            <div id="navdetails9" class="subdiv">
              <div>
                <a href="http://www.gadzoo.com/Alamogordonews/pets.aspx">Find a pet</a>
              </div>
              <div>
                <a href="http://www.gadzoo.com/alamogordonews/AdOnline.aspx">Place an ad</a>
              </div>
            </div>
          </div>
          <div id="maindiv10" onmouseover="fixMouseIn(this, event, 'mouseIn(\'10\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'10\')')">
            <a href="http://alamogordo.kaango.com/"><span>classified</span></a>
            <div id="navdetails10" class="subdiv">
              <div>
                <a href="http://alamogordo.kaango.com/">Search classifieds</a>
              </div>
              <div>
                <a href="http://alamogordo.kaango.com/feChoosePostAd">Place an ad</a>
              </div>
            </div>
          </div>
          <div id="maindiv11" class="nosub" onmouseover="fixMouseIn(this, event, 'mouseIn(\'11\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'11\')')">
            <a href="http://www.shoplocal.com/alamogordonews/home.aspx?r=632851871522401142735314492"><span>shopping</span></a>
            <div id="navdetails11" class="subdiv"></div>
          </div>
          <div id="maindiv12" onmouseover="fixMouseIn(this, event, 'mouseIn(\'12\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'12\')')">
            <a href="http://alamogordo.kaango.com/feListAds/categoryID/775"><span>real estate</span></a>
            <div id="navdetails12" class="subdiv">
              <div>
                <a href="http://alamogordo.kaango.com/feListAds/categoryID/775">Find a home</a>
              </div>
              <div>
                <a href="http://www.pageturnpro.com/MediaNews-Group/16770-Alamo-Real-Estate-Press-July-2010/index.html">Real Estate Press</a>
              </div>
              <div>
                <a href="http://alamogordo.kaango.com/feChoosePostAd">Place an ad</a>
              </div>
            </div>
          </div>
          <div id="maindiv13" onmouseover="fixMouseIn(this, event, 'mouseIn(\'13\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'13\')')" class="left">
            <a href="http://alamogordonews.gannettonline.com/careerbuilder"><span>jobs</span></a>
            <div id="navdetails13" class="subdiv">
              <div>
                <a href="http://alamogordonews.gannettonline.com/careerbuilder">Find a job</a>
              </div>
              <div>
                <a href="http://www.careerbuilder.com/JobPoster/ECommerce/ContactInfoJob.aspx?lr=cbga_agn">Post a job</a>
              </div>
            </div>
          </div>
          <div id="maindiv14" onmouseover="fixMouseIn(this, event, 'mouseIn(\'14\')')" onmouseout="fixMouseOut(this, event, 'mouseOut(\'14\')')" class="left">
            <a href="http://www.cars.com/go/index.jsp?aff=alamnews"><span>cars</span></a>
            <div id="navdetails14" class="subdiv">
              <div>
                <a href="http://www.cars.com/go/index.jsp?aff=alamnews">Find a new car</a>
              </div>
              <div>
                <a href="http://siy.cars.com/siy/qsg/sellingBenefits.jsp?aff=alamnews">Sell a car</a>
              </div>
            </div>
          </div>
        </div><!-- END #rightNav -->
      </div><!--END #nav -->
    </div><!-- END #navWrap -->
    
    <div id="analog_analytics_content">
      <%= yield %>
    </div>
    
    <p>
      <!-- Footer code-->
    </p>
    <hr align="center" width="985px" style="clear: both;">
    <div class="footer">
      <table cellspacing="0" cellpadding="0" border="0" width="965">
        <tr>
          <td>
            <ul style="vertical-align:middle;">
              <li>
                <a href="http://www.alamogordonews.com/portlet/layout/html/privacypolicy/privacypolicy.jsp?siteId=561">About Our Ads</a> |
              </li>
              <li>
                <a href="http://www.alamogordonews.com/contactus">Contact Us</a> |
              </li>
              <li>&nbsp;<a class="privacy" href="http://www.alamogordonews.com/portlet/layout/html/privacypolicy/privacypolicy.jsp?siteId=561">Privacy Policy</a> |
              </li>
              <li>&nbsp;<a href="http://www.alamogordonews.com/sitemap">Site Map</a> |
              </li>
              <li>&nbsp;<a href="http://www.alamogordonews.com/rss">RSS</a><a href="http://www.alamogordonews.com/rss">&nbsp;<img src="http://extras.mnginteractive.com/live/media/site134/2007/0612/20070612_084619_RSS_small.jpg" width="15" height="15" border="0"></a> |
              </li>
              <li>&nbsp;<script type="text/javascript">
var myyahoo_publisher = "Alamogordo Daily News"; var myyahoo_link="http://feeds.alamogordonews.com/mngi/rss/CustomRssServlet/561/200447.xml"; 
                </script> <span class="myyahooHeadButton" id="myyahoo_26" style="z-index: -1; vertical-align:middle;margin-left:-4px;"><script src="http://extras.mnginteractive.com/live/js/myyahoo/myyahoo.js" type="text/javascript">
</script></span>&nbsp;|
              </li>
              <li>&nbsp;<a class="copyrightLink" href="http://www.alamogordonews.com/portlet/layout/html/copyright/copyright.jsp?siteId=561">Copyright</a> |
              </li>
            </ul>
            <ul>
              <li>
                <a class="copyrightLink" href="http://www.alamogordonews.com/portlet/layout/html/copyright/copyright.jsp?siteId=561">Copyright</a> |
              </li>
              <li>&nbsp;<a class="Sitemap" href="http://www.alamogordonews.com/portlet/layout/html/sitemap/mng_sitemap.jsp" target="sitemap">MNG Corporate Site Map</a> |
              </li>
              <li style="list-style: none">
                <a href="http://www.medianewsgroup.com/"><img src="http://extras.mnginteractive.com/live/media/mng_logos/mng_footergraphic.jpg" border="0" alt="Media News Group"></a>
              </li>
            </ul>
          </td>
          <td class="footerCopyright">
            Copyright © 2010<br>
            <span>MediaNews Group</span>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
