<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title><%= @daily_deal.value_proposition %></title>
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif;">
<table cellspacing="0" border="0" bgcolor="#ffffff" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
<tr>
<td valign="top">
	<table cellspacing="0" border="0" width="665" bgcolor="#125d8e" align="center"><!-- outer_wrapper -->
		<tr>
			<td valign="top">
				<a href="<%= add_params_to_email_link(market_aware_daily_deal_url(@daily_deal, params), @publisher.label) %>&amp;cmpid=emailbuy"><img src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/graphics/email_banner.png" height="135" width="665" alt="<%= @publisher.label %>" border="0" style="display:block" /></a>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<table cellpadding="0" cellspacing="0" border="0" bgcolor="#cfcebf" width="604" align="center" style="padding-top: 6px;"><!-- inner_wrapper -->
					<tr>
						<td style="color:black;font-family: Helvetica, sans-serif; font-size:14px; font-weight:normal; padding-bottom:4px; text-align:center;"><%= @time.strftime("%A, %B %e, %Y") %></td>
					</tr>
					<tr>
						<td valign="top">
							<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="594" style="border: 1px solid #b1bbcb;" align="center"><!-- top_row -->
								<tr>
									<td colspan="2" style="padding:8px;">
										<h1 style="color: black;font-family: Helvetica, sans-serif;font-size:28px; line-height:34px;margin:0;padding-bottom:16px;"><%=  @daily_deal.value_proposition %></h1>
									</td>
								</tr>
								<tr>
									<td style="vertical-align:top; padding-left:10px;">
										<table cellpadding="0" cellspacing="0" border="0" width="255"><!-- dashboard -->
											<tr>
												<td>
<%
summary_size, precision = if @daily_deal.has_variations?
      ['22px', 2]
    elsif @daily_deal.value_to_display.is_fractional? or @daily_deal.price_to_display.is_fractional?
      ['24px', 2]
	else
      ['35px', 0]
    end
%>	
													<table width="255" border="0" cellspacing="0" cellpadding="0">
														<tr>
															<td colspan="2" width="118" valign="bottom" align="right"><img style="display:block" src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/email/price-tag-top.png" width="118" height="22" /></td>
															<td rowspan="3" width="137" align="left"><a href="<%= add_params_to_email_link(market_aware_daily_deal_url(@daily_deal, params), @publisher.label) %>&amp;cmpid=emailbuy"><img border="0" style="display: block; font-weight: bold; font-size: 30px; font-family: sans-serif;" src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/email/price-tag-right.png" width="137" <% if @daily_deal.daily_deal_variations.present? %>height="105%"<% else %>height="100%"<% end %> alt="Buy Now" /></a></td>
														</tr>
														<tr>
															<td width="24" valign="bottom" align="left" bgcolor="#ffa20a" style="background-color:#ffa20a;"><img style="display:block" src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/email/price-tag-left.png" width="24" height="100%" /></td>
															<td width="94" align="center" valign="middle" bgcolor="#ffa20a" style="background-color:#ffa20a;color:white;font-weight:bold;font-size:<%=summary_size %>">
																<% if !@daily_deal.daily_deal_variations.blank? -%> FROM</br><% end %><span id="daily_deal_price"><%= number_to_currency(@daily_deal.price_to_display, :precision => precision, :unit => @daily_deal.currency_symbol) %></span>
															</td>
														</tr>
														<tr>
															<td colspan="2" valign="top" align="right" width="118"><img style="display:block" src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/email/price-tag-bottom.png" width="118" height="29" /></td>
														</tr>
													</table>
												</td>
											</tr>

											<tr>
												<td colspan="2" style="text-align:center;padding-top:20px;">
													<table align="center" cellpadding="0" cellspacing="0" border="0" style="text-align:center;">
														<tr>
															<th style="color:black; border-right:1px solid #ababab;font-family: Helvetica, sans-serif;font-size:13px; font-weight:bold; padding-right:10px;">VALUE</th>
															<th style="border-right:1px solid #ababab; color:black;font-family: Helvetica, sans-serif;font-size:13px; font-weight:bold; padding-right:10px; padding-left:10px;">COST</th>
															<th style="color:#1454aa;font-family: Helvetica, sans-serif;font-size:13px; font-weight:bold;padding-left:10px;">SAVINGS</th>
														</tr>
														<tr>
															<td style="color:black; border-right:1px solid #ababab;font-family: Helvetica, sans-serif;font-size:22px; font-weight:bold; padding-right:10px;">
																<span id="daily_deal_value"><%= formatted_price_for(@daily_deal.value_to_display) %></span>
															</td>
															<td style="border-right:1px solid #ababab; color:black;font-family: Helvetica, sans-serif;font-size:22px; font-weight:bold;padding-right:10px; padding-left:10px;">
																<span id="daily_deal_price"><%= number_to_currency(@daily_deal.price_to_display, :precision => precision, :unit => @daily_deal.currency_symbol) %></span>
															</td>
															<td style="color:#1454aa;font-family: Helvetica, sans-serif;font-size:22px; font-weight:bold;padding-left:10px;"><span id="daily_deal_savings_as_percentage"><%= number_to_percentage(@daily_deal.savings_to_display_as_percentage, :precision => 0) %></span></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td colspan="2" style="padding:10px;">
				    								<table cellpadding="0" cellspacing="0" border="0">
				    									<tr>
				    										<td colspan="3" align="center"><p style="color:black;font-family: Helvetica, sans-serif;font-size:14px; font-weight:bold;">SHARE THIS DEAL:</p></td>
				    									</tr>
				    									<tr>
				    										<td><a href="<%= facebook_daily_deal_url(@daily_deal) %>" style="color: #ffffff;padding-right:20px; padding-left:20px;"><img src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/buttons/facebook.png" height="50" alt="Facebook" style="border: none;" width="50" /></a></td>
				    										<td><a href="<%= twitter_daily_deal_url(@daily_deal) %>" style="color: #ffffff;padding-right:20px;"><img src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/buttons/twitter.png" height="50" alt="Twitter" style="border: none;" width="50" /></a></td>
				    										<td><a href="mailto:?subject=<%= URI.escape("#{@daily_deal.publisher_prefix}: #{@daily_deal.value_proposition}") %>: <%= @daily_deal.value_proposition %>&amp;body=Check out this deal at <%= daily_deal_url(@daily_deal) %>" style="color: #ffffff;"><img src="http://<%= @publisher.daily_deal_host %>/themes/<%= @publisher.label %>/images/buttons/mail.png" height="50" alt="Email" style="border: none;;" width="50" /></a></td>
				    									</tr>
				    								</table>
												</td>
											</tr>
										</table><!-- /dashboard -->
									</td>
									<td style="padding-left:20px; padding-right:8px;padding-bottom:20px;width:300px;vertical-align:top;"><img src="<%= @daily_deal.photo.url %>" alt="<%= @advertiser.name %>" width="300" /></td>								
								</tr>
							</table><!-- /top_row -->
						</td>
					</tr>
					<tr>
						<td style="padding-top:4px;">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<table cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="594" style="border: 1px solid #b1bbcb;" align="center"><!-- bottom_row -->
								<tr>
									<td colspan="2" style="padding-left:20px; padding-right:20px; padding-top:20px;padding-bottom:20px;text-align:left;">
										<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #1454aa;">Description</h3>
										<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;"><%= raw @daily_deal.description %></span>
										
									</td>
								</tr>
								<tr>
									<td valign="top" style="font-family: Helvetica, sans-serif;font-weight: bold;width:280px;padding-left:20px;padding-right:10px;text-align:left;" width="270">
										<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #1454aa;">Location</h3>
										<img src="<%= @advertiser.logo.url(:standard) %>" height="auto" alt="TEN" style="display: block;" width="auto" />
										<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3em; padding: 0; margin-top: 10px; margin-bottom: 12px; color: #000000;"><%= @advertiser.name %><br />
										<% if @advertiser.address? %>
											<% unless @advertiser.store.address_line_1.blank? %>
												<%= @advertiser.store.address_line_1 %><br />
											<% end %>
											<% unless @advertiser.store.city.blank? or @advertiser.store.state.blank? or @advertiser.store.zip.blank? %>
												<%= @advertiser.store.city %>, <%= @advertiser.store.state %> <%= @advertiser.store.zip %><br />
											<% end %>
											<% unless @advertiser.store.phone_number.blank? %>
												<%= @advertiser.store.formatted_phone_number %><br />
												<% end %>
										<% end %></p>
										<p style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3em; padding: 0; margin-top: 10px; margin-bottom: 12px; color: #000000;"><a href="<%= @advertiser.website_url %>"><%= @advertiser.website_url %></a></p>
									</td>
									<td valign="top" style="padding-left:20px;padding-right:20px;text-align:left;width:290px;">
										<% if @daily_deal.highlights.present? %>
										<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #1454aa;">Highlights</h3>
										<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;"><%= raw @daily_deal.highlights %></span>
										<% end %>
										<% if @daily_deal.terms.present? %>
										<h3 style="font-family: Helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1.1em; padding: 0; margin-top: 12px; margin-bottom: 12px; color: #1454aa;">Fine Print</h3>
										<span style="font-family: Helvetica, sans-serif;font-size:12px;font-weight:normal;"><%= raw @daily_deal.terms %></span>
										<% end %>
									</td>
									
								</tr>
								
							
							</table><!-- /bottom_row -->
						</td>
					</tr>
					<tr>
						<td style="text-align:center;">
				      		<p><a style="border: none; text-align: center" href="http://analoganalytics.com"><img style="border:none;" src="http://<%= @publisher.daily_deal_host %>/images/powered_by_analog_analytics.png" alt="Powered by Analog Analytics" /></a></p>
						</td>
					</tr>
				</table><!-- /inner_wrapper -->
			</td>
		</tr>
		<tr>
			<td>
				<table width="600" align="center" style="text-align:center;">
					<tr>
						<td style="background-color: white:text-align:center;">
							<p style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 12px;text-align:center;">If you no longer wish to receive this mailing, <a href="#" style="color:#ffffff;">click here to unsubscribe</a></p>
							<p style="font-family: Arial, Helvetica, sans-serif;font-size:16px; color:#ffffff;font-size:11px;">Copyright 2012. All rights reserved.</p>
						</td>
					</tr>	
				</table>
			</td>
		</tr>	
	</table><!-- /wrapper -->
</td>
</tr>
</table>
</body>
</html>
