<div id="dd_footer">
    <%= raw render :partial => ('shared/a_a_alt') %>
	<div id="dd_footer_links">
		<ul>
			<li>Follow Us:</li>
			<li>
				<a href="http://www.facebook.com/DateDiscounts" class="share_button facebook_link"  target="_blank" title="Share coupon on Facebook">Facebook</a> 
				<a href="http://twitter.com/#!/sixseats" class="share_button twitter_link" target="_blank">Twitter</a>
			</li>
		</ul>
		<ul>
			<li><a href="<%= about_us_publisher_daily_deals_path(@publisher) %>">About us</a></li>
			<li><a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>">Advertise with us</a></li>
			<li><a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Jobs</a></li>
		</ul>
		<ul>
			<li><a href="<%= daily_deals_public_index_path(@publisher.label) %>">All Deals</a></li>
			<li><a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>">How It Works</a></li>
			<!-- <li><a href="">Past Deals</a></li> -->
			<li><a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>">Feature Your Business</a></li>
			<li><a href="<%= faqs_publisher_daily_deals_path(@publisher) %>">FAQ</a></li>
			<li><a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a></li>
		</ul> <!-- footer_nav -->
		<ul id="legal_nav">
			<li><%= daily_deals_privacy_link(@publisher) %></li>
			<li><%= daily_deals_terms_link(@publisher) %></li>
			<li>&copy; 2011</li>
			<li>DateDiscounts</li>
		</ul> <!-- legal_nav -->
	</div>
	<div class="clear"></div>
</div><!-- dd_footer -->
