<p style="margin: 0; padding: 8px;">
<a href="http://www.1051thebuzz.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-portland/images/stations/buzz.png" alt="105.1 The Buzz"></a>
	<a href="http://www.charliefm.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-portland/images/stations/charlie.png" alt="97.1 Charlie FM"></a>
	<a href="http://www.1080thefan.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-portland/images/stations/1080TheFanwhiteontrans_small.png" alt="The FAN 1080AM"></a>
	<a href="http://www.kgon.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-portland/images/stations/kgon.png" alt="92.3 KGON"></a>
	<a href="http://www.knrk.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-portland/images/stations/947.png" alt="94.7 FM"></a>
	<a href="http://www.thewolfonline.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-portland/images/stations/wolf.png" alt="99.5 The Wolf"></a>
</p>
<img src="http://ib.adnxs.com/seg?add=155668&t=2" width="1" height="1" />
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1032613984/?label=t5qICJLq8gIQ4OCx7AM&amp;guid=ON&amp;script=0"/>