<ul id="dd_nav">
	<li><a href="{{ publisher.todays_daily_deal_path }}" class="{% if_page_name 'publishers#deal_of_the_day'%}current_page{%endif_page_name%}">oferta semanal</a></li>
  {% if daily_deal.active? %}
<!--     <li><a href="{{ daily_deal.buy_now_path }}" class="{% if_page_name == 'daily_deal_purchases#new'%}current_page{%endif_page_name%}">&iexcl;Compre ya!</a></li> -->
  {% endif %}
  	<li><a href="{{ publisher.daily_deals_path }}?per_page=6" class="{% if_page_name == 'daily_deals#public_index'%}current_page{%endif_page_name%}">Ver Todas Las Offertas</a></li>
	<li><a href="{{ publisher.how_it_works_path }}" class="{% if_page_name == 'daily_deals#how_it_works'%}current_page{%endif_page_name%}">como funciona</a></li>
	<li><a href="{{ publisher.faq_path }}" class="{% if_page_name == 'daily_deals#faqs'%}current_page{%endif_page_name%}">PMF</a></li>
	<li><a href="{{ publisher.contact_path }}" class="{% if_page_name == 'daily_deals#contact'%}current_page{%endif_page_name%}">Comuniquese con nosotros</a></li>
  <li class="last"><a href="{{ publisher.feature_your_business_path }}" class="{% if_page_name == 'daily_deals#feature_your_business'%}current_page{%endif_page_name%}">an&uacute;nciese con nosotros</a></li>
</ul><!-- /dd_nav -->
