<div id="about_us"  class="info_page">
<a name="top"></a>
<div id="left_column_wide">
    <a id="prev_panel" class="panel_nav_button"><span>PREV</span></a> 
    <a id="next_panel" class="panel_nav_button"><span>NEXT</span></a>

    <div id="content_wrapper_a" class="top_panel">
        <div id="panel1a">
        	<img src="/themes/rr/images/graphics/about_us_01.png" height="324" width="709" alt="ClickedIn, where everybody wins! How can you win? Find out below." />
        </div><!-- /panel1a -->
        <div id="panel2a">
        	<img src="/themes/rr/images/graphics/about_us_01.png" height="288" width="709" alt="Your chance to save big, win big, and have fun in your neighborhood." />
			<a class="learn_more_alt img_button" href="#panel2b"><span>Learn More</span></a>
        </div><!-- /panel2a -->
        <div id="panel3a">
            <img src="/themes/rr/images/graphics/about_us_03.png" height="288" width="709" alt="Get the tools, strategy, and support to keep winning new customers." />
			<a class="learn_more_alt img_button" href="#panel3b"><span>Learn More</span></a>
        </div><!-- /panel3a -->
        <div id="panel4a">
        	<img src="/themes/rr/images/graphics/about_us_04.png" height="308" width="709" alt="You help kids. We help kids. Maybe we can help you." />
			<a class="learn_more_alt img_button" href="#panel4b"><span>Learn More</span></a>
        </div><!-- /panel4a -->
    </div>

    <div class="panel_tabs">
        <div id="tab1"></div>
        <div id="tab2" class="first">Consumers</div>
        <div id="tab3">Businesses</div>
        <div id="tab4" class="last">The Community</div>
    </div>

    <p class="learn_more_about_twc">Learn more about <a href="{{ publisher.publishing_group.popup_about_us_path }}" class="lbOn">Time Warner Cable</a></p>

    <div id="content_wrapper_b">
        <div id="panel1b"><a name="panel1b"></a>
        </div><!-- /panel1b -->
       
        <div id="panel2b" class="box_gradient bottom_panel"><a name="pane21b"></a>
       		<h1>Welcome to ClickedIn&trade;, a totally exciting, new way to find savings and fun where you live, work, and play. </h1>
       		<p>We've teamed with local businesses to bring you great ClickedIn Daily Deals, coupons, special events, huge promotions, and even a special way to support community organizations.</p>
       		<h2>Get ClickedIn and get the latest on:</h2>
       		<p><span class="h2">Great Great ClickedIn Daily Deals &ndash;</span> we live, work, and play here too, so we bring you great savings opportunities each day from established and new local businesses.</p>
       		<p><span class="h2">Big coupons and big events &ndash;</span> there's a lot to enjoy around town when you know where to look. ClickedIn offers coupons, special offers, and member discounts for you to enjoy, and we'll keep you coming back for news about local events you'll want to circle on your calendar.</p>
       		<p><span class="h2">Chances to win sweepstakes and promotions &ndash;</span> you'll have plenty of chances to win stuff you can really use these days: gift cards, free gas, and everyone's favorite, cash. Plus you'll have chances to win tickets to events and happenings right here in the community. You can enter as many contests as you like&mdash;because we'll be running plenty of them!       		
       		<p><span class="h2">Ways to help your community &ndash;</span> Through ClickedIn Cares Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local not for profit organizations that help the community. Please note that the purchase of a ClickedIn Daily Deal is not tax deductible.</p>       	
			<h2>Want to land even bigger savings? Tell your friends!</h2>	
			<p>When you share a ClickedIn Daily Deal with a friend, they'll get a special link to access the offer too. If your friend purchases the ClickedIn Daily Deal through this link, you'll get $10 in ClickedInTM Cash to spend on the site however you like. See a great ClickedIn Daily Deal for $50? Use your $10 ClickedIn Cash, and suddenly the ClickedIn Daily Deal now costs you just $40 instead. <a href="{{ publisher.terms_path }}" target="_blank">See terms and conditions.</a></p>		
			<h2>What's happening at ClickedIn today?</h2>
				<form id="landing_welcome" action="{{ publishing_group.search_market_path }}" method="POST">
					<input type="hidden" name="authenticity_token" value="{% form_authenticity_token %}" />
					<fieldset>
						<input id="zip_code" name="zip_code" type="text" value="Enter Your Zip Code" onfocus="if (this.value=='Enter Your Zip Code') this.value=''; this.addClassName('focus')" onblur="if (this.value=='') this.value='Enter Your Zip Code'; this.removeClassName('focus')" />
						<input id="submit_button" type="image" src="/themes/rr/images/buttons/go_landing.png" value="Go" />		
					</fieldset>
				</form>
			<h2>Want to know how ClickedIn works?<a href="{{ publisher.how_it_works_path }}"> Find out how.</a></h2>
			<h2>Own a local business? <a href="{{ publisher.feature_your_business_path }}"> Find out how to advertise with us.</a></h2>
			<h2>Involved with a community organization?<a href="{{ publisher.communities_path }}"> Find out about how ClickedIn Cares.</a></h2>

        </div><!-- /panel2b -->
        
        <div id="panel3b" class="box_gradient bottom_panel"><a name="panel3b"></a>
        	<h1>Yet another daily deal website? Not by a long shot.</h1>
        	<p>ClickedIn is a powerful new way way to help you grow your business with smart, sticky tactics that continually engage and excite customers, long-term strategic consultative services to help you meet your objectives, and the local media muscle of Time Warner Cable.</p>
        	<h2>What makes ClickedIn right for your business?</h2>
        	<p>Daily deals have become potent tools for increasing sales and expanding your customer base. Yet some deal providers have business models and marketing strategies that overwhelmingly favor their success instead of yours. </p>
        	<p>The exact opposite is true of ClickedIn. With Time Warner Cable's marketing know-how and consultative help, we work with you every step of the way to develop campaigns aligned with your business objectives, helping you manage your bottom line better and deepening your connections with your customers and the local community.</p>

        	<table id="comparison" cellpadding="0" cellspacing="0">
        		<tr>
        			<th class="twc">ClickedIn powered <br>by Time Warner Cable</th>
        			<th class="dds">Typical Daily deal sites</th>
        		</tr>
        		<tr>
        			<td class="twc">Fully integrated marketing support&mdash;TV, e-mail, online, promotions & more</td>
        			<td class="dds">Single e-mail, usually on just one day </td>
        		</tr>
        		<tr>
        			<td class="twc">True consultative partnership focused on building your business</td>
        			<td class="dds">E-mail blast is typically the only component in relationship</td>
        		</tr>
        		<tr>
        			<td class="twc">Revenue split more sensitive to your margins</td>
        			<td class="dds">Revenue split often slices thin margins even further</td>
        		</tr>
        		<tr>
        			<td class="twc">Transactions generate more loyal customers plus donations to local community efforts</td>
        			<td class="dds">Transactions generate more revenue for site, smaller margins for you</td>
        		</tr>
        		<tr>
        			<td class="twc">Focus on building a sustainable, lasting market presence</td>
        			<td class="dds">Focus on short-term results</td>
        		</tr>
        	</table>
        	
        	<h2>ClickedIn promotes your business with savings and fun experiences that customers are definitely looking for:</h2>
        	<p>ClickedIn.com is filled with ClickedIn Daily Deals, coupons, special events, chances to win stuff, and easy ways to help community causes, giving users plenty of reasons to come back each day. It's a potent mix of tactics that gives your business a sustained presence on our site and a stronger market presence overall.</p>
			<ul>
				<li><strong>ClickedIn Daily Deals </strong>&ndash; discounted offers at no upfront cost to you plus favorable revenue sharing terms in your favor, yielding consumer cash in advance</li>
				<li><strong>Coupons & Events </strong>&ndash; opportunities to showcase and rotate your on-going offers plus easy ways to promote upcoming events</li>
				<li><strong>Win! </strong>&ndash; drive-to-site sweepstakes and promotions that expose even more ClickedIn subscribers and prospects to your message</li>
				<li><strong>ClickedIn Cares  </strong>&ndash; Through ClickedIn Cares Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local not for profit organizations that support the community. Please note that the purchase or sale of a ClickedIn Daily Deal is not tax deductible for your customers.</li>
			</ul>
			<h2>ClickedIn is built to be <em>the</em> source for deal-seekers in your local market. </h2>
			<p>The customers you're looking for will find out about the latest ClickedIn offerings via e-mail, ClickedIn commercials, online and through social media connections with their friends. </p>
			<h2>Our audience is engaged and responsive.</h2>
			<p>We're attracting a large and growing population of "deal finders." And ClickedIn.com is designed to encourage regular, repeat traffic from people looking for online experiences that connect to, engage with, and enhance their real-world lives.</p>
			<h2>What to expect in the ClickedIn experience:</h2>
			<ul>
				<li><strong>Local ties </strong>&ndash; throughout the process, our goal is to help you build your business by attracting customers and strengthening your ties to the community</li>
				<li><strong>True partnership </strong>&ndash; ClickedIn representatives will be with you every step of the way, working closely with you to help you achieve your objectives. Your success is our success.</li>
				<li><strong>Offer Management </strong>&ndash; our marketing experts help you build offers that will align with your business goals and be highly desirable to consumers</li>
				<li><strong>Flexible Terms </strong>&ndash; you set the offer parameters (limitations, expiration date, discount, etc.) to protect your bottom line and to comply with your local laws</li>
				<li><strong>Push/Pull Marketing </strong>&ndash; ClickedIn customers get an e-mail or visit ClickedIn.com to learn about the latest opportunities (e.g., deals, coupons, sweepstakes)</li>
				<li><strong>Social Media </strong>&ndash; we use social marketing to motivate users to share ClickedIn Daily Deals with others to drive even more traffic (e.g., Get a friend to purchase as well, and you get $10 in ClickedIn Cash to use toward any deal you'd like)</li>
				<li><strong>Media Muscle </strong>&ndash; Time Warner Cable Media aggressively promotes ClickedIn through TV and online to drive additional awareness and interest.</li>
				<li><strong>Sustained Presence </strong>&ndash; a ClickedIn marketing plan is a designed to engage your target customers regularly using integrated tactics to stimulate traffic, build loyalty and generate powerful "word-of-mouth" advocacy</li>
			</ul>
			<h2>What's happening at ClickedIn right now?</h2>
				<form id="landing_welcome" action="{{ publishing_group.search_market_path }}" method="POST">
					<input type="hidden" name="authenticity_token" value="{% form_authenticity_token %}" />
					<fieldset>
						<input id="zip_code" name="zip_code" type="text" value="Enter Your Zip Code" onfocus="if (this.value=='Enter Your Zip Code') this.value=''; this.addClassName('focus')" onblur="if (this.value=='') this.value='Enter Your Zip Code'; this.removeClassName('focus')" />
						<input id="submit_button" type="image" src="/themes/rr/images/buttons/go_landing.png" value="Go" />		
					</fieldset>
				</form>
			<h2>Getting started on ClickedIn.<a href="{{ publisher.contact_path }}"> Contact a Time Warner Cable Account Executive today.</a></h2>

<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel3b -->
        
        <div id="panel4b" class="box_gradient bottom_panel"><a name="panel4b"></a>
			<h1>ClickedIn&trade; is the local deal finder determined to make a difference in your community.</h1>
			<p>Through ClickedIn Cares, Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local not for profit organizations that connect young people to the wonders of science, technology, engineering and math. Eighty percent of jobs created in the U.S. over the next decade will require these skills so it's up to all of us in the community to join forces to help our students prepare for tomorrow.</p>			
			
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel4b -->
    </div>

    <script type="text/javascript">
    var tabset = new TabSet("content_wrapper_a", {
        "tab1": ["panel1a", "panel1b"],
        "tab2": ["panel2a", "panel2b"],
        "tab3": ["panel3a", "panel3b"],
        "tab4": ["panel4a", "panel4b"]
    }, 0);

    var prev = new PushButton('prev_panel');
    var next = new PushButton('next_panel');
    prev.setObserver('prevClick', 'click', tabset.prev, tabset);
    next.setObserver('nextClick', 'click', tabset.next, tabset);
    </script>
</div><!--/left_column_wide-->

<div id="right_column">

  {% include with_theme 'shared/search' %}
  {% include with_theme 'shared/refer_friend' %}
  	
</div><!--right_column-->
    
<div class="clear"></div>
     
</div><!-- /feature_your_business -->
