<div id="faq" class="info_page">

<div id="center_column">
	<h1>Frequently Asked Questions</h1> 
	<h2>What is ClickedIn?</h2> 
	<p>ClickedIn.com is a website brought to you by Time Warner Cable that is dedicated to showcasing Daily Deals and Coupons from local merchants. It also features regular sweepstakes and promotions that exclusively offer ClickedIn.com users a chance to win prizes.</p> 
	 
	<h2>When will ClickedIn be available in my area?</h2> 
	<p> ClickedIn.com is currently only available in Austin, Dallas and San Antonio. If you have provided an email address beyond Austin, Dallas and San Antonio, we will notify you when ClickedIn is available in your area.</p> 
	 
	<h2>What makes ClickedIn different?</h2> 
	<p>ClickedIn offers the following:</p> 
	<ol>
		<li><strong>Daily Deal</strong> &ndash; an e-commerce offer that enables you to instantly purchase a voucher to redeem merchandise and services from local merchants at a discount i.e. 40% off</li>
		<li><strong>Coupons</strong> &ndash; a destination where you can browse additional discounts from local merchants and use advanced search to gain immediate access to discounts you are interested in</li>
		<li><strong>Community Causes</strong> &ndash; Time Warner Cable will donate 3% of the net revenue of every Daily Deal purchase made on the ClickedIn.com to local charities.</li>
		<li><strong>Promotions</strong> &ndash; sweepstakes, prizes and unique opportunities</li>
	</ol>
	 
	<h2>Is there an upfront cost to join?</h2> 
	<p>No, ClickedIn is absolutely free! It's a resource for you to obtain the great local deals, coupons and promotions in your community. </p> 
	 
	<h2>How can I register an account at ClickedIn?</h2> 
	<p>Click on the "Login" button within the MY ACCOUNT box on the right side of the home page then select "CREATE A NEW ACCOUNT". You will be asked to provide your name and email address and will be directed to create a password.</p> 
	 
	<h2>How can I change my username/password? </h2> 
	<p>After logging in, click "My Account" located at the top of the site. From there, enter in a new password and/or username in the space provided. Be sure to verify your password then hit "Update."</p> 
	 
	<h2>I lost my password. How do I retrieve it? </h2> 
	<p>Click "My Account" at the top of the site then click "Reset Your Password?" You will be prompted to enter your email address.  Click "Reset Password" to receive an email with a new password that you can later change to something you'll remember. </p> 
	 
	<h2>What is a Daily Deal?</h2> 
	<p>Each day an incredible deal is featured on ClickedIn as the Daily Deal. The offer is only available for a limited time, so check back frequently so you don't miss out!  And don't forget to share your favorite deals on Twitter, Facebook, and through email. </p> 
	 
	<h2>I like today's Daily Deal, how do I purchase it?</h2> 
	<p>It's simple. Click "Buy Now" on the Daily Deal before midnight on the day the offer expires and follow the instructions to purchase. An email will be sent to you with confirmation of your deal and details on the charge to your credit card. If you like a deal, Tweet it, or "Like" it on Facebook so you can share it with your friends.</p> 
	 
	<h2>How/what ways do I receive my offer?</h2> 
	<p>Upon purchase, you can receive your ClickedIn offer in one of three ways:</p> 
	<ol>
		<li>Email &ndash; The offer voucher will be sent directly to your email address in order for you to print it out.</li>
		<li>Mail &ndash; The offer voucher can be mailed directly to a specified address.</li>
		<li>ClickedIn Account &ndash; By logging into your account, your purchased offers will always be available to view.</li>
	</ol>
	 
	<h2>I purchased a Daily Deal/Coupon, how do I redeem it?</h2> 
	<p>You can access your offer at any time on your Account Page to print it out.  Then simply take the printed voucher to the specified store or merchant (before the expiration date) for redemption.</p> 
	
	<h2>When do vouchers for Daily Deal expire?</h2> 
	<p>Expiration dates vary, but the expiration date is clearly indicated on each voucher.</p> 
	
	<h2>What if I miss the expiration date?</h2> 
	<p>If you miss the expiration date on your deal, take heart &mdash; all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher. For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of value redeemable at the restaurant. It's a no-loss situation!</p> 

	<h2>What if I want to use part of the Daily Deal voucher and save the rest for a later time?</h2> 
	<p>You will have to use that sweet deal in just ONE visit &mdash; however, some merchants may be willing to work with you if this situation arises.</p> 

	<h2>Can I combine a Daily Deal with other offers the merchant might have presented previously? </h2> 
	<p>No. Each Daily Deal has its own terms, as specified by the merchant.</p> 

	<h2>What is your return and cancellation policy?</h2> 
	<p>We go out of our way to vet each merchant and make sure they meet our high standards. On the rare occurrence that something happens and you're not satisfied, we will refund or credit what you paid for the offer, no problem. Refunds will appear on your payment card statement with Analog Analytics (our vendor) as the payee.</p> 

	<h2>What if I have a question about the Daily Deal I purchased?</h2> 
	<p>The ClickedIn offer(s) you receive are provided by the merchant. All issues related to the products or services must be addressed with the merchant. If you have questions about the Daily Deal, please call 1-800-455-2139.</p> 

	<h2>I cannot get ahold of the merchant, who do I contact with additional questions about my offer?</h2> 
	<p>Please email us at support@clickedin.com with any additional questions.</p> 

	<h2>What if the merchant does not honor the offer?</h2> 
	<p>We go out of our way to vet each advertiser and make sure they meet our high standards. On the rare occasion that something happens and you're not satisfied, we will refund or credit the amount you paid for the offer, no problem. Refunds will appear on your payment card statement with Analog Analytics (our vendor) as the payee.
</p> 

	<h2>How can I find current ClickedIn offers?</h2> 
	<p>Customers can access offers in a variety of ways:</p> 
	<ol>
		<li>Go to www.clickedin.com and enter your zip code to receive all local offers.</li>
		<li>Register to receive a periodic email sent to you with Daily Deal offers.</li>
		<li>Log onto RR.com and click on ClickedIn deals via banner ads throughout the website.</li>
	</ol>

	<h2>I missed yesterday's Daily Deal, can I still purchase it?</h2> 
	<p>Maybe. Some deals are featured for more than a day. If additional quantities are available, we'll feature them on the side panels under our Daily Deal tab.</p> 

	<h2>I don't need to know about every offer that ClickedIn has. Is there a way for me to categorize my deals based on my interests?</h2> 
	<p>Eventually, Yes. ClickedIn will soon have a feature that allows you to set your preferences based upon what offers are the most relevant to you. You will be sent notifications based upon those preferences only.</p>  

	<h2>What is the difference between the Daily Deal offer and a Coupon offer?</h2> 
	<p>Daily Deal is an e-commerce offer that enables you to instantly purchase a voucher to redeem at discount i.e. 50% off. Coupons contain more standard on-going deals with specified expiration dates. There is no upfront purchase with Coupons, rather, you can print them out or have them sent to your mobile phone (via SMS Text with standard text rates applied) for easy access when you go into a participating merchant to redeem.</p> 

	<h2>Can I refer as many friends as I want?  What are the rewards?</h2> 
	<p>Yes, you can refer as many friends as you want so that all your friends can get great offers from ClickedIn. When you share a deal with a friend, they will receive a special link to access the offer. From time-to-time we may run promotions wherein you can receive ClickedIn Cash when you use our refer-a-friend tool. Any such reward offer (including the amount of ClickedIn Cash you can earn) will be disclosed at the time you access the applicable refer-a-friend page or feature. You will only receive rewards for friends that access our site or the shared deal directly through the personalized link that will be sent via our refer-a-friend tool. (Otherwise, we have no way of tracking it.)</p> 

	<h2>Can I buy a ClickedIn deal for someone other than myself?</h2> 
	<p>For sure, and we encourage you to use them for gifts!</p> 

	<h2>When I gift the Daily Deal to a friend, will they have access to my account information?</h2> 
	<p>No. The Daily Deal voucher carries a record of the transaction, the purchaser's name, the giftee's name, and a unique 8-digit code.</p> 

	<h2>If my name is on the Daily Deal voucher, can the merchant charge my account?</h2> 
	<p>No. The merchant does not have your account information.</p> 

<!--
	<h2>Will I get spam as a result of joining ClickedIn or will my email address be shared?</h2> 
	<p>Your privacy is important to us. Refer to our <a href="{{ publisher.privacy_path }}">Privacy Policy</a>for more information.</p> 
-->

	<h2>What are your Terms of Service?</h2> 
	<p>Please read our <a href="<%= terms_publisher_daily_deals_path(@publisher.id) %>" target="_blank">Terms of Service.</a></p> 

	<h2>Do you have a privacy policy?</h2> 
	<p>Yes. Please read our <a href="<%= privacy_policy_publisher_daily_deals_path(@publisher.id) %>" target="_blank">Privacy Policy</a></p> 


	<h2>Is it safe to use my credit card with ClickedIn?</h2> 
	<p>The transaction uses SSL and other industry standard security features to protect your payment card information. The secure padlock symbol in your browser confirms that SSL is being used. We do not store your credit card information on our servers and will only use it to process your current purchase.</p> 

	<h2>What is the goal of ClickedIn Cares?</h2>
	<p>ClickedIn Cares helps Time Warner Cable support our local communities.  Donations are focused on supporting organizations that increase young people's interest in education and careers in science, technology, engineering and math (STEM).  ClickedIn Cares is part of Time Warner Cable's 5-year initiative called "Connect a Million Minds".  Learn more at <a href="http://www.connectamillionminds.com" target="_blank">www.connectamillionminds.com</a></p>

	<h2>Who is eligible to receive donations?</h2>
	<p>At the present time, ClickedIn Cares supports organizations that:</p>
		<ol>
			<li>Support science, technology, engineering, and math (STEM) education by connecting young people to after school, hands-on learning opportunities.</li>
			<li>Are registered as a 501(c) 3, non-profit</li>
			<li>Serve the local community</li>
		</ol>
		
	<h2>How does it work?</h2>
	<p>Periodically throughout the year, Time Warner Cable will select local, eligible organizations to be featured on ClickedIn.com. 3% of net revenues of every Daily Deal purchased through ClickedIn will be donated to the featured organizations.</p>
	
	<p>If you believe your organization meets the above criteria, please send an email with the following information to: <a href="mailto:charities@clickedin.com">charities@clickedin.com</a></p>
	
	<ol>
		<li>Organization name and tax-exempt number</li>
		<li>Organization mission and relevant programs</li>
		<li>Communities served by your organization</li>
		<li>Name, title, contact information and website</li>
	</ol>
	
	<p>If selected, your organization will be contacted within 90 days of our receipt of your email.</p>
	
	<h2>Is ClickedIn Cares 3% giveback the only way Time Warner Cable supports the community?</h2>
	<p>Time Warner Cable has made a $100 million cash and in-kind commitment to the community through its Connect a Million Minds initiative. We invite local, eligible organizations to apply for support at
<a href="http://www.connectamillionminds.com/request_support.php">http://www.connectamillionminds.com/request_support.php</a></p>


	<h2>What portion of my purchase goes to the Community Give Back program?</h2> 
	<p>Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local charities that foster education in science & technology and other youth programs. For more information on any of the charities Time Warner Cable supports through ClickedIn Cares, please visit the <a href="<%= publisher_communities_path(@publisher.label) %>">ClickedIn Cares.</a></p> 

	<h2>Am I making a tax deductible contribution?</h2> 
	<p>The purchase of a Daily Deal is not tax deductible. </p> 

<!--
	<h2>Can I enter multiple promotions?</h2> 
	<p>Yes</p> 
-->

<!--
	<h2>How will I know if I win?</h2> 
	<p>If you are a winner, we will contact you via email or phone with instructions for claiming your prize.</p> 
-->

<!--
	<h2>Can I exchange a promotion prize?</h2> 
	<p>No</p> 
-->

<!--
	<h2>Where can I find the Official Rules for a sweepstakes or contest?</h2> 
	<p>Read the Official Rules link as posted on each offer within the Win! page accessible from the home page.</a></p> 
-->

	<h2>What happens when I refer a friend?</h2> 
	<p>An email is automatically sent to your friend on your behalf, inviting them to sign up for ClickedIn.</p> 

	<h2>Can I refer more than 3 friends? Can I refer the same friend more than once?</h2> 
	<p>Yes, you can refer as many friends as you like, and we encourage you to do so, however you can only receive referral credit one time per friend.</p> 

	<h2>Do I have to be a Time Warner Cable customer to join/use ClickedIn? If not, will I be required to purchase other Time Warner Cable products/services in the future?</h2> 
	<p>No, you do not have to be a Time Warner Cable customer to use ClickedIn nor will we require that you become one in the future. Though powered by Time Warner Cable, ClickedIn is a Daily Deal/Coupon site specific to your community for you to use in a way that fits your lifestyle.</p> 

	<h2>Who can I contact if I have any additional questions about ClickedIn or a current Daily Deal purchase?</h2> 
	<p>Please feel free to email support@clickedin.com or you can call 1-800-455-2139. ClickedIn will be more than happy to answer any additional questions you have.</p> 

	<h2>How can I get my business on ClickedIn?</h2> 
	<p>For more information, contact a ClickedIn representative today via email at <a href="mailto:sales@clickedin.com">mailto:sales@clickedin.com</a> or by phone at (512) 531-3200.</p> 
	
	<h2>What is ClickedIn Cash?</h2>
	<p>ClickedIn Cash is credit toward your next ClickedIn purchase. Look for opportunities to earn ClickedIn Cash throughout the website.</p>
	
	<h2>How can I use ClickedIn Cash?</h2>
	<p>ClickedIn Cash is automatically applied to your future ClickedIn purchases. To check your balance, log onto the "My Account" section on the ClickedIn homepage and check your account information.
</p>
	
	<h2>Do my ClickedIn Cash credits expire or terminate?</h2>
	<p>Yes, but you have 36 months from the date of issue to use your ClickedIn cash unless otherwise stated in the promotion or required by applicable law. There may be some states that prohibit the expiration of ClickedIn Cash, in which case the ClickedIn Cash will be available to you for as long as required by state law. If ClickedIn stops selling deals before you use all your credits, the credits will expire without any cash value.</p>
	
	<h2>Is there a limit to how much ClickedIn Cash I can earn?</h2>
	<p>Absolutely not.  We want to you engage with the site and earn as much ClickedIn Cash as you can.</p>
	
	<h2>Is there a limit to how much ClickedIn Cash I can use on a single deal?</h2>
	<p>No, ClickedIn Cash is used similar to other payment methods. If you buy a $30 Deal and you have $30 in ClickedIn Cash, you can buy the deal using ClickedIn Cash, without paying any additional money.</p>	
	
	<h2>Anything else I need to know?</h2>
	<p>ClickedIn Cash can only be used to purchase ClickedIn deals. It is not redeemable for cash. ClickedIn reserves the right to withhold issuing any ClickedIn Cash if we believe that you, your friend, or any user has violated these rules or the ClickedIn.com Terms of Use.</p>


</div><!-- /center_column -->

<div id="right_column">

  <%= raw render :partial => with_theme("shared/search") %>
  <%= raw render :partial => with_theme("shared/refer_friend") %>
  	
</div><!--right_column-->
     
</div><!-- /feature_your_business -->
