<div id="how_it_works"  class="info_page">
<a name="top"></a>
<div id="left_column_wide">
    <a id="prev_panel" class="panel_nav_button"><span>PREV</span></a> 
    <a id="next_panel" class="panel_nav_button"><span>NEXT</span></a>

    <div id="content_wrapper_a" class="top_panel">
        <div id="panel1a">
        	<img src="/themes/rr/images/graphics/how_clickedin_works.png" height="308" width="709" alt="How ClickedIn Works. Because it can work for everyone." />
        </div><!-- /panel1a -->
        <div id="panel2a">
        	<img src="/themes/rr/images/graphics/how_clickedin_works_consumers.png" height="308" width="709" alt="How ClickedIn Works. (or how to save money and help others while having tons of fun)" />
			<a class="learn_more_alt img_button" href="#panel2b"><span>Learn More</span></a>
        </div><!-- /panel2a -->
        <div id="panel3a">
            <img src="/themes/rr/images/graphics/how_clickedin_works_businesees.png" height="308" width="709" alt="How ClickedIn Works. (or how to make customers and local charities really happy)" />
			<a class="learn_more_alt img_button" href="#panel3b"><span>Learn More</span></a>
        </div><!-- /panel3a -->
    </div>

    <div class="panel_tabs">
        <div id="tab1" style="display: none;"></div>
		<div id="tab2" class="first">Consumers</div>
        <div id="tab3" class="last">Businesses</div>
    </div>

    <div id="content_wrapper_b">
        <div id="panel1b"><a name="panel1b"></a>
		</div><!-- /panel1b -->
        <div id="panel2b" class="box_gradient bottom_panel"><a name="pane21b"></a>
        	<h1>It couldn't be any easier to get great savings AND help out your community.</h1>
        	
        	<h2>1. <a href="<%= new_publisher_consumer_path(@publisher) %>">Sign up</a> for regular ClickedIn&trade; Daily Deal updates</h2>
        	<p>We'll send you daily email updates letting you know about that day’s exciting ClickedIn Daily Deal. Anyone can sign up – you don't have to be a Time Warner Cable subscriber.</p>
			
			<h2>2. You visit ClickedIn.com</h2>
        	<p>Click on the link in your ClickedIn Daily Deal email, or just come to the site, and you’ll find more details about the ClickedIn Daily Deal, plus coupons, offers, chances to win stuff, news about special events, and the latest community organizations we’re helping. There’s so much to see and do that you’ll want to check ClickedIn every day. </p>
			
			<h2>3. You buy the ClickedIn daily deal and save!</h2>
        	<p>Let's say ABC Store is offering $30 of merchandise for $15. You buy this deal for $15 through us, yet you still get $30 of stuff at ABC Store. You've saved 50%!</p>
			
			<h2>4. We email your ClickedIn Daily Deal voucher</h2>
        	<p>Just print it out to enjoy your savings at the local business. Terms and conditions apply.</p>
			
			<h2>5. We make a donation to a community organization</h2>
        	<p>Through ClickedIn Cares Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local not for profit organizations. For instance, we’ll help kids get engaged with and excited about science, technology, engineering, and math – skills they’ll need to succeed in the jobs of tomorrow. Please note that your purchase of a ClickedIn Daily Deal is not tax deductible.</p>
			
			<h2>Want to land even bigger savings? Tell your friends!</h2>
        	<p>When you share a ClickedIn Daily Deal with a friend, they’ll get a special link to access the offer too. If your friend purchases the ClickedIn Daily Deal through this link, you’ll get $10 in ClickedIn Cash to spend on the site however you like. See a great ClickedIn Daily Deal for $50? Use your $10 ClickedIn Cash, and suddenly the ClickedIn Daily Deal now costs you just $40 instead. See <a href="<%= terms_publisher_daily_deals_path(@publisher.id) %>">terms and conditions.</a></p>
			
			<h2><a href="<%= new_publisher_consumer_path(@publisher) %>">Sign up now.</a> Get ClickedIn!</h2>
        	
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel2b -->
        <div id="panel3b" class="box_gradient bottom_panel"><a name="panel3b"></a>
        	<h1>Our job is to make your job easier.</h1>
        	<p>ClickedIn does most of the work for you, freeing you to focus on your business.</p>
        	
        	<h2>1. We work with you to understand your core business</h2>
        	<p>Our discovery process with you is focused on becoming experts about your product, your objectives, and the customers you want to attract most. It’s the crucial first step in a successful ClickedIn partnership. </p>
			
			<h2>2. We develop the right mix of ClickedIn offers and tactics for you</h2>
        	<p>With the help of the Time Warner Cable marketing team, we create a customized calendar of ClickedIn offers to help you meet your business objectives. Unlike other deal providers who offer marketing programs consisting of one offer on one day, a ClickedIn integrated marketing program creates a sustained presence for you with a variety of engaging tactics: ClickedInTM Daily Deals, coupons, special events, promotions, and more. </p>
			
			<h2>3. We promote you to ClickedIn users</h2>
        	<p>With approved offers in hand, our creative teams write, design, and program your message. After your final approval of our creative product, it’s time to go live - we send out ClickedIn Daily Deal email updates to registered ClickedIn members, promote the deal on our homepage, and merchandise your coupons, events, and other promotions throughout the site. Meanwhile, Time Warner Cable will be promoting ClickedIn in local TV spots, online ads, and more – an integrated effort offering a massive number of general and offer-specific impressions to customers in your market.</p>
			
			<h2>4. ClickedIn users start grabbing up your offers and interacting with your business</h2>
        	<p>Whether they purchase a ClickedIn Daily Deal, print out a coupon, or take advantage of a promotion, we manage everything that happens on the site for you – processing, fulfillment, customer service, and more. </p>
			
			<h2>5. New faces start coming your way</h2>
        	<p>ClickedIn users start coming your way with ClickedIn Daily Deal vouchers, coupons, or for special events. It can be a great start to a lasting customer relationship.</p>
			
			<h2>6. We pay you for ClickedIn Daily Deals sold</h2>
        	<p>If you run a ClickedIn Daily Deal, we send you a check for your revenue share within 14 days of the deal’s closing on the website. Money comes in the door without delay. Remember, ClickedIn gives you the majority of the revenue share from each deal.</p>
        	
        	<h2>7. We contribute to the community</h2>
        	<p>Through ClickedIn Cares Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local not for profit organizations that get kids engaged with and excited about science, technology, engineering, and math – essential skills they’ll need to compete for the jobs of tomorrow. Please note that the purchase or sale of a ClickedIn Daily Deal is not tax deductible for your customers or your business.</p>
        	
        	<h2>8. We analyze results and recommend what’s next</h2>
        	<p>We provide in-depth numbers behind every tactic that appeared in your ClickedIn marketing program. We’ll show you what worked, what could have worked better, and how to apply this learning to your next ClickedIn campaign.</p>
        	
        	<h2>9. We value our users (your customers)</h2>
        	<p>We expect you to honor the deals you offer and to comply with all applicable laws regarding expiration dates and the like.  If you don’t, we may compensate our users directly and then deduct the amount from our next payment to you.</p>
			
			<h2>Get ready for a relationship that’s built to help you succeed. Get ClickedIn!</h2>
			
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel3b -->
        
    </div>

    <script type="text/javascript">
    var tabset = new TabSet("content_wrapper_a", {
        "tab1": ["panel1a", "panel1b"],
        "tab2": ["panel2a", "panel2b"],
        "tab3": ["panel3a", "panel3b"]
    }, 0);

    var prev = new PushButton('prev_panel');
    var next = new PushButton('next_panel');
    prev.setObserver('prevClick', 'click', tabset.prev, tabset);
    next.setObserver('nextClick', 'click', tabset.next, tabset);
    </script>
</div><!--/left_column_wide-->

<div id="right_column">

  <%= raw render :partial => with_theme("shared/search") %>
  <%= raw render :partial => with_theme("shared/refer_friend") %>
  	
</div><!--right_column-->
    
<div class="clear"></div>
     
</div><!-- /feature_your_business -->
