<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml"> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> 
	<title>San Diego CityBeat - Save Money with Online San Diego Coupons</title> 
<meta name="abstract" content="San Diego City Beat">  
<meta name="revisit-after" content="1 days"> 
                                                            
  <link href="/themes/sdcitybeat/stylesheets/design.css" rel="stylesheet" type="text/css" />
    	
  <%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
  <%= render :partial => 'layouts/offers/standard/facebook_metadata' %>  
  
  <script language="javascript" src="/themes/sdcitybeat/javascript/global.js"></script>
  <script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js"></script> 
  <script type="text/javascript"> 
  	GS_googleAddAdSenseService("ca-pub-5936647540431762");
  	GS_googleEnableAllServices();
  </script> 
  <script type="text/javascript"> 
  GA_googleAddSlot("ca-pub-5936647540431762", "TopBanner728x90");
  GA_googleAddSlot("ca-pub-5936647540431762", "CalendarColumn1_300x250");
  GA_googleAddSlot("ca-pub-5936647540431762", "CalendarColumn2_300x250");
  GA_googleAddSlot("ca-pub-5936647540431762", "BottomFooterboardBanner728x90");
  GA_googleAddSlot("ca-pub-5936647540431762", "TopFooterboardBanner728x90");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn1_160x600");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn2_160x600");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn3_125x125");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn4_125x125");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn5_125x125");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn6_125x125");
  GA_googleAddSlot("ca-pub-5936647540431762", "RightColumn7_125x125");
  GA_googleAddSlot("ca-pub-5936647540431762", "MusicAndNightlifeColumn209x81");
  GA_googleAddSlot("ca-pub-5936647540431762", "TopShort934x30");
  GA_googleAddSlot("ca-pub-5936647540431762", "NewsAndOpinionColumn209x81");
  </script> 
  <script type="text/javascript"> 
  	GA_googleFetchAds();
  </script>
<%= raw render :partial => "/shared/tracking_offers" %>
</head> 
<body> 
	<!-- Despues de <global> en todas las paginas --> 
 
	<!-- FACEBOOK CONNECT [ CAMBIAR A: run/body.global.php ]--> 
	<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script> 
	<script src="http://sdcitybeat.com/sandiego/js/facebookCustom.js" type="text/javascript"></script> 
 
	<div id="topbar"> 
    	<div class="container"> 
            <div id="socialButtons"> 
            	<a href="http://sdcitybeat.com/sandiego/files/home.xml" target="_blank" class="socialbarRss" title="RSS">&nbsp;</a> 
                 <a href="http://sdcitybeat.com/sandiego/flex-186-contact-us.html"  class="socialbarMail" title="Mail">&nbsp;</a> 
                 <a href="http://www.facebook.com/sdcitybeat" target="_blank" class="socialbarFacebook" title="Facebook">&nbsp;</a> 
                <a href="http://www.twitter.com/sdcitybeat" target="_blank" class="socialbarTwitter" title="Twitter">&nbsp;</a> 
            </div>  
            <div id="facebookConnect"> 
                <!--<a class="facebookConnect" href="#">&nbsp;</a>--> 
                <fb:login-button  onlogin="facebook_onlogin_main();" size="large">Facebook Connect</fb:login-button> 
                <div  id="sessionMain" style="display:none"></div> 
                <div id="paramsMain" style="display:none"></div> 
            </div> 
    	</div> 
    </div> 
    
	<div id="sCont"> 
		<div id="sHeader" onmouseover="resetSubMenu();"> 
            <div id="sLogo"> 
				<a href="http://www.sdcitybeat.com/sandiego/"><img src="http://www.sdcitybeat.com/sandiego/css/design/logo.jpg"  /></a> 
			</div> 
 
			<div class="topBanner"><!--ca-pub5936647540431762/TopBanner728x90 --> 
<script type='text/javascript'> 
GA_googleFillSlot("TopBanner728x90");
</script> 
</div> 
            
        </div> 
 
 
		<div id="sMain"> 
			<div class="sSections"> 
				<a class="active" href="http://www.sdcitybeat.com/sandiego/" onmouseover="submenushow('subMenu_1020');">Home</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-76-1-news.html" onmouseover="submenushow('subMenu_964');">News</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-2-1-opinion.html" onmouseover="submenushow('subMenu_965');">Opinion</a><a href="http://lastblogonearth.com/" onmouseover="submenushow('subMenu_768');">Blogs</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-3-1-music.html" onmouseover="submenushow('subMenu_966');">Music</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-23-1-arts.html" onmouseover="submenushow('subMenu_967');">Arts</a><a href="http://www.sdcitybeat.com/sandiego/events" onmouseover="submenushow('subMenu_968');">Events</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-6-1-eats.html" onmouseover="submenushow('subMenu_969');">Eats</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-10-1-special-issues.html" onmouseover="submenushow('subMenu_971');">Special Issues</a><a href="http://www.sdcitybeat.com/sandiego/articles.sec-78-1-multimedia.html" onmouseover="submenushow('subMenu_970');">Multimedia</a><a href="http://www.sdcitybeat.com/sandiego/contest.engine.php" onmouseover="submenushow('subMenu_973');">Promotions</a><a href="http://www.sdcitylist.com" onmouseover="submenushow('subMenu_972');">Classified</a>			
			</div> 
			<div class="sMainLinks" id="sMainLinks">&nbsp;</div> 
			<div style="display:block; clear:both; font-size:1px; line-height:1px; text-align:center;"> 
				
			</div> 
			<div style="display:none"><div id="subMenu_964"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-76-1-news.html">News</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-60-1-spin-cycle.html">Spin Cycle</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-21-1-turds-blossoms.html">Turds & Blossoms</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-54-1-homeless-person-of-the-week.html">Homeless Person of the Week</a></div><div id="subMenu_965"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-44-1-editorial.html">Editorial</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-45-1-editors-note.html">Editors Note</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-47-1-sordid-tales.html">Sordid Tales</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-48-1-presently-tense.html">Presently Tense</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-49-1-backwards-in-high-heels.html">Backwards & in High Heels</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-50-1-political-lunacy.html">Political Lunacy</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-46-1-letters.html">Letters</a></div><div id="subMenu_768"><a class="submenu_item" href="http://lastblogonearth.com/">Last Blog on Earth</a><a class="submenu_item" href="http://politicallunacy.wordpress.com/">Political Lunacy</a></div><div id="subMenu_966"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-34-1-music-features.html">Music Features</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-31-1-if-i-were-u.html">If I Were U</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-32-1-soundwaves.html">Soundwaves</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-71-1-everybodys-happy-nowadays.html">Everybodys Happy  Nowadays</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-35-1-nightgeist.html">Nightgeist</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/article-7465-live-music-listings.html">Concerts and club listings</a></div><div id="subMenu_967"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-37-1-art-culture.html">Art & culture</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-38-1-theater.html">Theater</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-40-1-film.html">Films</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-68-1-cover-artist.html">Cover artist </a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-70-1-urban-scout.html">Urban Scout</a></div><div id="subMenu_968"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-29-1-city-week.html">Event picks</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-31-1-if-i-were-u.html">Music picks</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-62-1-on-screen.html">On Screen</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-63-1-on-stage.html">On Stage</a><a class="submenu_item submenu_item_active" href="http://www.sdcitybeat.com/sandiego/">Todays events</a><a class="submenu_item submenu_item_active" href="http://www.sdcitybeat.com/sandiego/">This weeks events</a></div><div id="subMenu_969"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-51-1-city-eat.html">City Eat</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-52-1-2-for-$20.html">2 for $20</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-53-1-wine-on-a-dime.html">Wine on a Dime</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-18-1-nibbles.html">Nibbles</a></div><div id="subMenu_971"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-13-1-best-of-san-diego.html">Best of San Diego</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-15-1-summer-guide.html">Summer Guide</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-36-1-bars-clubs.html">Bars & Clubs</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-11-1-photo-contest.html">Photo contest</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-26-1-holiday-gift-guide.html">Holiday Gift Guide</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-12-1-new-years-eve-guide.html">New Year's Eve Guide</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-69-1-fiction-101.html">Fiction 101</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-56-1-fall-arts.html">Fall Arts Preview</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/articles.sec-61-1-local-music-issue.html">Local Music Issue</a></div><div id="subMenu_970"><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/video.engine.php">CityBeat video</a><a class="submenu_item" href="http://www.sdcitybeat.com/sandiego/galleries">CityBeat Slideshows</a></div><script language="javascript">submenushow('subMenu_1020');</script> 
			</div> 
 
            <div class="adsTop"> 
              <script type='text/javascript'> 
              GA_googleFillSlot("TopShort934x30");
              </script>
			</div> 
            <div id="sContenido" onmouseover="resetSubMenu();"> 
			 
			 <div id="analog_analytics_content">  
			           <%= link_to image_tag("/themes/sdcitybeat/images/hot_deals.png"), new_subscriber_path(:publisher_id => @publisher), :class => "lbOn #{self.controller_name}" %>
			   <%= yield %>
			 </div>
			 
				<div class="leaderboard_footer"> 
					<div align="center"><!--ca-pub5936647540431762/TopFooterboardBanner728x90 --> 
<script type='text/javascript'> 
GA_googleFillSlot("TopFooterboardBanner728x90");
</script></div> 
                    <br /> 
                    <div align="center"><!--ca-pub5936647540431762/BottomFooterboardBanner728x90 --> 
<script type='text/javascript'> 
GA_googleFillSlot("BottomFooterboardBanner728x90");
</script></div> 
				</div> 
			</div> 
		</div> 
		<div class="footer"> 
			<div class="menuFooter"> 
				<div class="menu"><a href="http://www.sdcitybeat.com/sandiego/">Home</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-76-1-news.html">News</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-2-1-opinion.html">Opinion</a></div><div class="menu"><a href="http://lastblogonearth.com/">Blogs</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-3-1-music.html">Music</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-23-1-arts.html">Arts</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/events">Events</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-6-1-eats.html">Eats</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-10-1-special-issues.html">Special Issues</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/articles.sec-78-1-multimedia.html">Multimedia</a></div><div class="menu"><a href="http://www.sdcitybeat.com/sandiego/contest.engine.php">Promotions</a></div><div class="menu"><a href="http://www.sdcitylist.com/">Classified</a></div> 
			</div> 
            <div id="logoWeHaa"> 
            	<a href="http://www.wehaa.com/"><img src="http://www.sdcitybeat.com/sandiego/css/design/wehaa.gif" alt="Web Design for magazines" width="112" height="35" border="0" /></a> 
            </div> 
 
			<div class="menuFooterExtra"> 
				<a href="http://www.pasadenaweekly.com/" target="_blank">pasadena weekly</a> 
                <a href="http://www.vcreporter.com/" target="_blank">ventura country reporter</a> 
                <a href="http://www.ieweekly.com/" target="_blank">inland empire weekly</a> 
      </div> 
            
			<div id="CopyRight"> 
				&copy; san diego city beat 2010. All Rights Reserved
			</div> 
		</div> 
	</div> 
	
	
 
	
<div class="Ventana250" id="win250" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win250');"></a> 
<div class="title" id="winTit250" onmousedown="ventanax=new Draggable('win250',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont250"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana300" id="win300" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win300');"></a> 
<div class="title" id="winTit300" onmousedown="ventanax=new Draggable('win300',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont300"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana350" id="win350" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win350');"></a> 
<div class="title" id="winTit350" onmousedown="ventanax=new Draggable('win350',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont350"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana400" id="win400" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win400');"></a> 
<div class="title" id="winTit400" onmousedown="ventanax=new Draggable('win400',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont400"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana500" id="win500" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win500');"></a> 
<div class="title" id="winTit500" onmousedown="ventanax=new Draggable('win500',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont500"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana600" id="win600" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win600');"></a> 
<div class="title" id="winTit600" onclick="makeDragg('win600');"></div></div> 
<div class="content" id="winCont600"></div> 
<div class="footer">&nbsp;</div></div> 
 
<div class="Ventana700" id="win700" style="display:none;"> 
<div class="header"><a href="#" class="btnCerrarVentana" onclick="return closeWindow('win700');"></a> 
<div class="title" id="winTit700" onmousedown="ventanax=new Draggable('win700',{endeffect:'Opacity'});" onmouseup="ventanax.destroy();"></div></div> 
<div class="content" id="winCont700"></div> 
<div class="footer">&nbsp;</div></div> 
 
 
<div class="highslide-html-content" id="highslide-html-shared" style="width: 500px"> 
	<div class="highslide-move" style="border: 0; height: 18px; padding: 2px; cursor: default"> 
	    <a href="#" onclick="return hs.close(this)" class="control">Close</a> 
	</div> 
	<div class="highslide-body" id="highslidebody"></div> 
</div> 
 
<div class="highslide-html-content" id="highslide-html-shared600" style="width: 600px"> 
	<div class="highslide-move" style="border: 0; height: 18px; padding: 2px; cursor: default"> 
	    <a href="#" onclick="return hs.close(this)" class="control">Close</a> 
	</div> 
	<div class="highslide-body" id="highslidebody"></div> 
</div> 
 
<div class="highslide-html-content" id="highslide-html-goomaps" style="width: 720px;height: 600px;"> 
	<div class="highslide-move" style="border: 0; height: 12px; padding: 1px; cursor: default"> 
	    <a href="#" onclick="return hs.close(this)" class="control">Close</a> 
	</div> 
	<div class="highslide-body" id="highslidebody"></div> 
</div> 
<script language="javascript"> 
get('highslide-html-shared').style.display='none';
get('highslide-html-shared600').style.display='none';
get('highslide-html-goomaps').style.display='none';
</script> 
 
<script> 
	FB.init("f468e2d83ce0825a32e88fdaeb739fc0", "xd_receiver.htm");  // FB.init("API Key", "URL xd_receiver.htm");
</script> 
 
<script type="text/javascript"> 
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
 
<script type="text/javascript"> 
	try {
		var pageTracker = _gat._getTracker("UA-611042-3"); pageTracker._trackPageview(); 
	} catch(err) {}
</script> 
 
<!-- Start Quantcast tag --> 
<script type="text/javascript"> 
	_qoptions={
		qacct:"p-7apeS9pNVYMQo"
	};
</script> 
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script> 
<noscript> 
	<img src="http://pixel.quantserve.com/pixel/p-7apeS9pNVYMQo.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/> 
</noscript> 
<!-- End Quantcast tag --> 
 
 
<!-- Google Analytics --> 
<script type="text/javascript"> 
	   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
	   try {
			   var pageTracker = _gat._getTracker("UA-13096383-1");
			   pageTracker._trackPageview();
	   } catch(err) {}
</script> 
<!-- Google Analytics --> 
 
 
</body> 
</html>