<div id="footer">
	<div id="site_links">
		<div class="links">
		<h4>Site Links</h4>
			<ul>
			<li><a href="http://www.radarfrog.com">Home</a></li>
			<li><a href="http://txt411.com/txt411/terms_and_conditions">Terms And Conditions</a></li>
			<li><a href="http://txt411.com/txt411/privacy_policy">Privacy Policy</a></li>
			<li><a href="http://plus.radarfrog.com">Shopping Discounts</a></li>
			</ul>
		</div>
	</div>
	
	<div id="categories">
		<h4>Categories</h4>
		<div class="links">
			<ul>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=apparel">Apparel</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=automotive">Automotive</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=beauty">Beauty</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=business%20&%20office">Business & Office</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=computers%20&%20electronics">Computers & Electronics</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=construction%20&%20contractors">Construction & Contractors</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=eco-friendly">Eco-Friendly</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=education">Education</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=entertainment">Entertainment</a></li>

			</ul>
		</div>
		<div class="links">
			<ul>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=family">Family</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=finance%20&%20security">Finance & Security</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=food%20&%20drink">Food & Drink</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=gifts">Gifts</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=health">Health</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=hobbies%20&%20collectibles">Hobbies & Collectibles</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=home%20&%20garden">Home & Garden</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=industry%20&%20agriculture">Industry & Agriculture</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=personals">Personals</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=pets">Pets</a></li>
			</ul>
		</div>
		<div class="links">
			<ul>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=real%20estate">Real Estate</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=retail">Retail</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=services">Services</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=shopping">Shopping</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=sports%20&%20fitness">Sports & Fitness</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=toys%20&%20games">Toys & Games</a></li>
			<li><a href="/publishers/<%= @publisher.id %>/offers?text=travel">Travel</a></li>
			</ul>
		</div>
	</div>
	
	<div id="follow">
	<h4>Follow RadarFrog</h4>	
		<div class="links">
			<ul>
			<li><a href="http://twitter.com/#!/radarfrog">Twitter</a></li>
			<li><a href="http://www.facebook.com/RadarFrog">Facebook</a></li>
			</ul>
		</div>
	</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
