<div class="page_column_4 last rounded_corners">
  <h2 id="what_happens_after_i_buy"><%=t '.sidebar_item_1_question' %></h2>
  <p><%=t '.sidebar_item_1_answer.paragraph1', :daily_deal_name => @publisher.daily_deal_name %></p>
  <p><%=t '.sidebar_item_1_answer.paragraph2', :daily_deal_name => @publisher.daily_deal_name %></p>
  <br/>
  <h2 id="will_my_payment_be_safe"><%=t '.sidebar_item_2_question' %></h2>
  <p><%=t '.sidebar_item_2_answer' %></p>
  <h2>Refund Policy</h2>
  <ul>
  	<li>Refunds will only be granted within the first 3 days after purchase.</li>
	<li>Refunds will be provided to those that do not qualify for the medical treatment they purchased.</li>
	<li>Refunds will not be given for expired deals. Paid-for value extends beyond the stated expiration date according to applicable law.</li>
	<li>Refunds will not be given if a better deal was found elsewhere and/or the customer is no longer interested in the deal.</li>
	<li>All sales are final for ticketed events.</li>
  </ul>
</div>
