<div class="deal">
    <div class="image"><img src="<%= daily_deal.photo.url(:blast) %>" alt="" width="220" height="133" /></div>
    <div class="value_prop"><p>    
    <%= daily_deal.value_proposition_subhead %></p></div>
    <div class="locations">
        <p>
        <% if daily_deal.advertiser.store.present? %> 
            <% if daily_deal.advertiser.store.city.present? %> 
            <span class="location"><%= daily_deal.advertiser.store.city %></span>
            <% end %>
        <% end %>
        </p>
    </div>
    <div class="price"><span<%= " class=variation" if !daily_deal.daily_deal_variations.blank? %>>
    <% if !daily_deal.daily_deal_variations.blank? -%><em>From:</em><% end %>
    <% if daily_deal.price >= 10000 %>
        <%= number_to_currency daily_deal.price, :precision => 0, :unit => daily_deal.publisher.currency_symbol %>
    <% else %>
        <%= number_to_currency daily_deal.price, :precision => 2, :unit => daily_deal.publisher.currency_symbol %>
    <% end %>
    </span></div>
    <div class="view">
        <a href="<%= Drop::DailyDeal.new(daily_deal).url %>">VIEW DEAL</a>
    </div>
</div><!--END DEAL-->