<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<% if @daily_deal %>
<meta name="title" content="<%= @daily_deal.facebook_title %>" />
<meta name="description" content="<%= @daily_deal.facebook_description.html_safe %>" />
<meta name='keywords' content="<%= @daily_deal.value_proposition %>">
<link rel="image_src" href="<%= url_for_facebook_daily_deal_image(@daily_deal) %>" />
<% else %>
<meta name="description" content="Daily Deal! Get the best daily deals with a new deal every single day!">
<meta name="keywords" content="Daily Deal! Hotel Deals, best deals, travel deals, vacation deals, restaurant deals">
<% end %>
<!-- Mobile Meta tag -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/themes/wcax/images/favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="/themes/wcax/images/favicon.ico" type="image/x-icon" /> 

<link rel="stylesheet" href="/stylesheets/scoped_reset.css" type="text/css" />
<link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
<link rel="stylesheet" href="/themes/daily_deals/stylesheets/daily_deals.css" type="text/css" />
<link rel="stylesheet" href="/themes/wcax/stylesheets/daily_deals.css" type="text/css" />
<link rel="stylesheet" href="/themes/wcax/stylesheets/jumponit_wrapper.css" type="text/css" />
<link rel="stylesheet" href="/themes/<%= @publisher.label %>/stylesheets/jumponit_wrapper.css" type="text/css" />
<link rel="stylesheet" href="/themes/wcax/stylesheets/sevendays.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/themes/wcax-sevendays/stylesheets/pub_header_footer.css">
<link rel="stylesheet" href="/themes/wcax/stylesheets/mobile-media.css" type="text/css" />
<link id="535css" rel="stylesheet" href="/themes/wcax/stylesheets/media-535.css" type="text/css" />
<!--[if IE 9]>
<link rel="stylesheet" href="/themes/wcax/stylesheets/ie9.css" type="text/css" media="all" />
<![endif]-->

<!--[if lte IE 8]>
<link rel="stylesheet" href="/themes/wcax/stylesheets/ie8.css" type="text/css" media="all" />
<![endif]-->

<%= javascript_include_tag "lib/prototype" %>
<%= javascript_include_tag "jquery/jquery.min" %>
<%= javascript_tag "$.noConflict();" %>
<script src="/javascripts/effects.js" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js" type="text/javascript"></script>
<script src="/javascripts/controls.js" type="text/javascript"></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
<script src="/themes/wcax/javascripts/modernizr-2.0.6.js" type="text/javascript"></script>
<script src="/themes/wcax/javascripts/custom.js" type="text/javascript"></script>
<script src="/javascripts/lib/formvalue-clickblur.js" type="text/javascript"></script>
<%= raw render :partial => with_theme("daily_deals/custom_stylesheet_includes") %> <title><%= daily_deal_page_title %></title>
<%= raw render :partial => "shared/tracking_google_analytics" %>
<%= yield :head %>
</head>
<body>
<% if Rails.env.development? || admin? %>
			<%= render :partial => with_theme('/admin_toolbar/admin_toolbar') %>
<% end %>
<div id="container">
	<!-- this is a patch to hide the mobile content of the page until the dom is fully loaded -->
	<script type="text/javascript">
		if( navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i)){
			jQuery('#container').hide();
		}
	</script>
	<!-- end patch -->
	<%= raw render :partial => with_theme("shared/sevendays_header")%>
	<div class="wrap">	
	<%= raw render :partial => with_theme("shared/subscribe")%>
	<%= raw render :partial => with_theme("shared/publisher_header") %> <!-- ::: Start Main ::: -->
		<div id="main">
			<div id="home-top">
				<div id="analog_analytics">
					<div id="daily_deal">
						<div id="dd_content">
							<%= render :partial => with_theme("shared/flash_messages") %>
							<%= raw yield %> <div class="clear"></div>
						</div><!--dd_content-->
					</div><!--daily_deal-->
				</div><!--analog_analytics-->
			</div><!-- end home-top -->
			<div id="home-bottom">
				<div class="clear"></div>
					<div id="home-socials">
						<a href="https://www.facebook.com/pages/Jumpon-It/150082911671022" title="Like Us on Facebook"><img src="/themes/wcax/images/jumponit/icon_facebook.png" alt="Like Us on Facebook" /></a>
					</div>
				<div class="clear"></div>
			</div><!-- end home-bottom -->
		</div><!-- ::: End Main ::: -->
		<%= raw render :partial => with_theme("shared/publisher_footer") %>
		<div id="a_a">
			<a href="http://analoganalytics.com/"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" alt="Powered by Analog Analytics" /></a>
		</div>
	</div><!-- end wrap -->
	<%= raw render :partial => with_theme("shared/sevendays_footer")%>
</div>
<%= raw render :partial => with_theme("shared/tracking_publisher") %>
<%= raw render :partial => "daily_deals/javascript" %>
<script type="text/javascript" src="/themes/wcax/javascripts/custom.js"></script>
<script type="text/javascript" src="/themes/wcax/javascripts/mobile.js"></script>
</body>
</html>
