<div id="preopt-box">
	<div id="preopt-box-inner">
		<h1>Kowabunga brings you the best deals from across the country!</h1>
		<p>No more surfing various deal sites for the best deals in your market when you can find
		them all here. More deals. More places. Paddle in!</p>
		
		<h2>Sign up to be notified upon launch of Kowabunga.com and be alerted <br/>about new deals in your market!</h2>
	
		<form action="/publishers/{{ publisher.id }}/daily_deal_subscribers" class="new_subscriber email_subscription_tracking" id="new_subscriber" method="post" name="new_subscriber">
			<fieldset>
					<input type="hidden" name="redirect_to" value="{{ publisher.verifiable_thank_you_publisher_daily_deal_subscribers_path }}" id="redirect_to"> 
					<input type="hidden" name="authenticity_token" value="{% form_authenticity_token %}">
					<input id="subscriber_email_required" name="subscriber[email_required]" type="hidden" value="true" />
					<input id="subscriber_must_accept_terms" name="subscriber[must_accept_terms]" type="hidden" value="true" />
					<input name="subscriber[zip_code_required]" type="hidden" value="true" />                 
					
					<input class="dd_input" name="subscriber[email]" size="30" type="text" value="Email Address" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Email Address':this.value;"  />
					<input class="dd_input" id="zip-code-input" name="subscriber[zip_code]" size="30" type="text" value="Zip Code" onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'Zip Code':this.value;"  />                             
					
					<div id="submit-button">
							<input id="subscribe_button" type="submit" value="" />             
					</div> <!-- end #submit-button -->
					
					<div id="terms">
							<input name="subscriber[terms]" type="hidden" value="0" />
							<input id="subscriber_agree_to_terms" name="subscriber[terms]" type="checkbox" value="1" checked="checked" />
							<label for="subscriber_terms">I agree to the <a href="#" onclick="window.open('{{ publisher.terms_path }}', '_blank'); return false;">Terms</a> and <a href="#" onclick="window.open('{{ publisher.privacy_path}}', '_blank'); return false;">Privacy Policy</a></label>
					</div><!--  end #terms -->
				
			</fieldset>	
		</form><!--  end form -->
		<div class="clear"></div>
	</div><!--  end #preopt-box-inner -->
</div><!--  end #preopt-box -->

<div id="affiliate-box">
	<h3>KOWABUNGA AFFILIATE PROGRAM</h3>
	<p>Check out Kowabunga’s affiliate program and consolidate your deal promotions. We pay
	you top dollar for your conversion, and you simplify your affiliate efforts! <a href="{{ publisher.contact_path }}">Contact us</a> today
	for more information.</p>
</div> <!-- end #affiliate-box -->
