<div class="deal">

  <div class="image"><a href="<%= market_aware_daily_deal_url(daily_deal) %>"><img src="<%= daily_deal.photo.url(:email) %>" alt="" /></a></div>

  <h4><a href="<%= market_aware_daily_deal_url(daily_deal) %>"><%= truncate(daily_deal.value_proposition, 38) %></a></h4>



  <div class="summary<%= " variation" if daily_deal.daily_deal_variations.present? %>">
    <p class="price <%= daily_deal.price_to_display.to_s.length > 5 ? 'deal_long_price' : '' %>"><% if daily_deal.daily_deal_variations.present? -%><span class="from">From</span><% end %><a href="<%= market_aware_daily_deal_url(daily_deal) %>"><%= formatted_price_for(daily_deal.price_to_display, "$") %></a></p>
    <p class="value"><strong>Value</strong> <span class="<%= daily_deal.value_to_display.to_s.length > 6 ? 'deal_long_value' : '' %>"><%= formatted_price_for(daily_deal.value_to_display, "$") %></span></p>
    <p class="savings"><strong>Savings</strong> <span class="<%= daily_deal.value_to_display.to_s.length > 6 ? 'deal_long_savings' : '' %>"><%= formatted_price_for(daily_deal.savings_to_display, "$") %></span></p>
  </div>

  <p class="view_details">
      <a class="gradient button" href="<%= market_aware_daily_deal_url(daily_deal) %>" name="buy_now_button">View Deal</a>
  </p>
</div><!-- /deal -->
