<% set_daily_deal_page_title_slug t(:expired_vouchers) %>

<div class="page_row my_deals_page expired">
  <div class="page_column_12 first rounded_corners daily_deal_purchases_list">
    <%= render :partial => "daily_deal_purchases/navigation" %>
    <h1 class="content"><%= t(:expired_vouchers) %></h1>
    
    <% if @expired_certificates.blank? %>
      <p><%= t('.no_expired_vouchers_message') %></p>
    <% else %>
        <div class="mydeals_unoptimized">
          <table id="<%= %Q(consumer_#{@consumer.id}_expired_daily_deal_certificates) %>" class="daily_deal_certificate my_deals" cellspacing="0">
            <tr>
              <th class="description"><%= t(:description) %></th>
              <th class="serial_number"><%= t(:voucher_number) %></th>
              <th class="recipient"><%= t(:recipient) %></th>
              <th class="used_on"><%= t(:expired_on) %></th>
              <th class="status"></th>
            </tr>
            <%= render(:partial => "expired_voucher", :collection => @expired_certificates) %>
          </table>
      </div>
      
      <div class="mydeals_optimized" style="display:none;">
        <div id="<%= %Q(consumer_#{@consumer.id}_daily_deal_purchases) %>" class="daily_deal_purchase my_deals">
          <%= render(:partial => with_theme("expired_voucher_optimized"), :collection => @expired_certificates) %>
        </div>
      </div><!--/mydeals_optimized-->
      
    <% end %>
  </div>
</div>

