<p style="margin: 0; padding: 8px;">
  <a target="_blank" href="http://www.b97.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-neworleans/images/stations/b97.png" alt="B97 FM"></a>
  <a target="_blank" href="http://www.bayou957.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-neworleans/images/stations/bayou.png" alt="Bayou 95.7"></a>
  <a target="_blank" href="http://www.espn1350.net/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-neworleans/images/stations/espn.png" alt="ESPN 1350"></a> 
  <a target="_blank" href="http://www.magic1019.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-neworleans/images/stations/magic.png" alt="Magic 101.9"></a>
  <a target="_blank" href="http://www.wwl.com/" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-neworleans/images/stations/wwl.png" alt="WWL 870AM 105.3FM"></a>
</p>
<img src="http://ib.adnxs.com/seg?add=155668&t=2" width="1" height="1" />
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1032613984/?label=t5qICJLq8gIQ4OCx7AM&amp;guid=ON&amp;script=0"/>
