<div>
  <a target="_blank" href="http://www.b97.com/"><img src="/themes/<%= @publisher.label %>/images/stations/b97.png" alt="B97 FM"></a>
  <a target="_blank" href="http://www.bayou957.com/"><img src="/themes/<%= @publisher.label %>/images/stations/bayou.png" alt="Bayou 95.7"></a>
  <a target="_blank" href="http://www.espn1350.net/"><img src="/themes/<%= @publisher.label %>/images/stations/espn.png" alt="ESPN 1350"></a> 
  <a target="_blank" href="http://www.magic1019.com/"><img src="/themes/<%= @publisher.label %>/images/stations/magic.png" alt="Magic 101.9"></a>
  <a target="_blank" href="http://www.wwl.com/"><img src="/themes/<%= @publisher.label %>/images/stations/wwl.png" alt="WWL 870AM 105.3FM"></a>
</div>