<div id="refer_lightbox_info" class="referbox lightbox" style="display: none;">
	<div id="refer_lightbox">
		<a href="javascript:;" id="lightbox_close" class="close" onclick="jQuery.fancybox.close()">X</a>
		<h2><%= t(:rewards_overlay_heading) %></h2>
		<br />
		<p><%= raw t(:rewards_text_paragraph1) %></p>
		<br />
		<p><%= t(:rewards_text_paragraph2) %><span class="emphasis"> <%= raw t(:rewards_text_paragraph2_span) %></span></p>
		<br />
		<p><%= raw t(:rewards_text_paragraph3) %></p>
		<br />
		<p><%= raw t(:rewards_text_paragraph4) %></p>
	</div>
</div>